iframe {
    width: 100%;
    height: 100vh;
}



.counter {
    background: rgba(0, 0, 0, 0.79);
    position: absolute;
    top: 0;
    padding: 0.4rem 2rem;
    right: 1rem;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
}

.roundData {
    background: rgb(0 0 0 / 79%);
    position: absolute;
    top: 0;
    padding: 0.4rem 1rem;
    left: 0rem;
    font-weight: bold;
    color: #fff;
    h3 {
        font-size: 12px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.image-array {
    background: rgb(0 0 0 / 79%);
    position: absolute;
    width: auto;
    height: auto;
    top: 4rem;
    display: inline-block;
    text-align: left;
    padding-left: 0.2rem;
    .cards-name {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        width: 20px;
        height: 20px;
        margin-right: 0.2rem;
    }
    .cards-name1 {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        margin-right: 0.2rem;
    }
    .cards {
        height: 20px;
        margin-right: 2px;
        display: inline-block;
    }
}


.icon-images {
    width: 4%;
}

.icon-images-min {
    width: 3%;
}

#countdown {
    margin: auto;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 9px;
    right: 24px;
    font-weight: 700;
    color: rgb(102, 34, 34);
    font-size: 25px;
    background: rgba(0, 0, 0, .79);
    border-radius: 50%;
    border: 3px solid green;
}

#countdown-number {
    color: white;
    display: inline-block;
    line-height: 49px;
}

svg {
    position: absolute;
    top: -15px;
    right: -11px;
    width: 80px;
    height: 80px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 180px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: rgba(255, 255, 255, 0.3);
    fill: none;
    //animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 180px;
    }
}




.card-box-mne {
  float: left;
  display: flex;
  margin: -4px 6px;
}

.live-casd-img {
  text-align: center;
  margin-bottom: 10px;
}

.live-casd-img img {
  width: 25px;
  height: 33px;
}

.live-casd-text {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  align-content: space-between;
  align-items: center;
  margin-left: 6px;
}

.mne-casd-box {
  border-top: 1px solid #afacac;
  padding: 5px 0px;
}

.hedimnf-box-men {
  font-size: 13px;
  margin-bottom: -8px;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.race-winner-box {
  font-size: 12px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-bottom: -12px;
}

.icon-box {
  color: #4caf50;
  background: #f5ebef;
  margin-left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  padding: 7px 2px;
  font-size: 14px;
}

.icon-color {
  color: #ff0030;
  background: #d8e8d9;
}

.scroll-box {
  overflow: hidden auto;
  max-height: 447px;
  height: 447px;
}

.scroll-box::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.scroll-box::-webkit-scrollbar-track {
  background: #f5ebef;
  border-radius: 100px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #343541ad;
  border-radius: 100px;
  border-right: none;
  border-left: none;
}

