<section class=" dashboard-content">

  <div class="row">
    <div class="col-xl-8 col-12">
      <div class="position-relative">
      <div id="countdown">
        <div id="countdown-number">{{counter}}</div>
        <svg>
          <circle r="29" cx="38" cy="38"></circle>
        </svg>
      </div>
      <div class="roundData">
        <h3>Id: {{roundId}}</h3>
        <span>{{eventName}}</span>
      </div>
      <div class="image-array">
        <ng-container *ngIf="showing !== null">
          <div class="d-block position-relative">
            <img class="cards-name" src="../../../assets/images/LUCKY7.png">
            <ng-container *ngIf="cardScan &&  cardScan[0] !== '0'">
              <ng-container *ngFor="let ite of cardScan">
                <img class="cards" src="../../../assets/images/{{ite}}.png">
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="showing === null && cardArray">
          <ng-container *ngFor="let item of cardArray">
            <div class="d-block position-relative">
              <img class="cards-name" src="../../../assets/images/{{item.key}}.png">
              <ng-container *ngFor="let ite1 of item.value | keyvalue">
                <ng-container *ngIf="ite1.value != '0'">
                  <img class="cards" src="../../../assets/images/{{ite1.value}}.png">
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </div>
        <video style="background-color:black" id="remoteVideo" width="100%" autoplay playsinline controls muted></video>
      </div>


      <!-- -------------------------CASINO ODDS----------------------------- -->
      <ng-container *ngIf="eventData && eventData.marketArr">
      <div class="accordion" id="accordionExamplee" *ngFor="let type of eventData.marketArr; let i = index;">
        <div  class=" match-odds-main">
          <a class="men-heding card-header" data-toggle="collapse" href="#collapseOneb{{i}}" aria-expanded="true">
            <div class="match-odds-top-bar">
              <span class="accicon mr-2"><i class="fas fa-angle-down rotate-icon"></i></span>
              <h2>{{type.marketName}}</h2>
              <div class="match-min-max">
                <div class="min-mex-tax">
                    <span>Min:{{(type.min | thousandSuff) + ' Max:' + (type.max | thousandSuff)}}</span>
                </div>

              </div>
            </div>
          </a>

          <div id="collapseOneb{{i}}" class="collapse show" data-parent="#accordionExamplee">
            <ng-container *ngFor="let runner of type.runners">
            <div class="">
              <div class="match-team-name-price-main ">
                <div class="min-bet-main bet-price-repot">
                  <p id="{{runner.selectionId}}_name">{{getKeyByValue(type.runnersName,runner.selectionId)}}</p>
                  <strong  id="{{runner.selectionId + type.marketId}}_exposer">0</strong>
                </div>
                <div class="match-team-price">
                  <ul>

                    <li class="respo-show-price w-100">

                      <div class="{{ (eventData.status === 'ONLINE' && runner.status === 'ONLINE') ?  '' : ' bookmaker_ballstart'}}">
                        <div class="{{runner.price.lay ? 'match-price-first ' : 'match-price-first casino-men'}}">
                        <div *ngIf="runner.price.back" (click)="(eventData.status === 'ONLINE' && runner.status === 'ONLINE') ? openPlaceModal(type,runner , 'back') : closePlaceModal()" class="match-price-bg-color3 match-price-box cursor-point">
                          <p class="match-price-color1 " id="{{runner.selectionId + type.marketId}}_rates_back">-</p>
                          <span id="{{runner.selectionId + type.marketId}}_size_back">-</span>
                        </div>
                        </div>
                        <div class="{{runner.price.lay ? 'match-price-first ' : 'match-price-first casino-men'}}">
                        <div *ngIf="runner.price.lay" (click)="(eventData.status === 'ONLINE' && runner.status === 'ONLINE') ? openPlaceModal(type,runner , 'lay') : closePlaceModal()" class="match-price-bg-color4 match-price-box cursor-point">
                          <p id="{{runner.selectionId + type.marketId}}_rates_lay">-</p>
                          <span class="size_ml" id="{{runner.selectionId + type.marketId}}_size_lay">-</span>
                        </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
                <div id="{{runner.selectionId + type.marketId}}" class="bet-runs-main">
                  <div class="bet-runs-details">
                    <div class="input-box-main">
                      <div class="clear-bet-btn-main disple-live-clear">
                        <a (click)="closePlaceModal()">Clear</a>
                      </div>
                      <div class="input-box">
                        <input type="text" id="{{runner.selectionId + type.marketId}}_price" disabled>
                        <input type="text" id="{{runner.selectionId + type.marketId}}_rate" min="1" placeholder="Amount">

                      </div>
                      <div class="clear-bet-btn-main disple-live-clear">
                        <a (click)="placeBet(eventData)" class="bet-bg-color">Place bet</a>
                      </div>
                    </div>
                    <div *ngIf="currencyAll" class="price-btn-box-main">
                      <div class="price-btn-padding" *ngFor="let ite of currencyAll.buttons ;let i = index">
                        <a id="btn{{i}}" *ngIf="ite.isActive"  class="tempborder" (click)="placeRateValue(ite.value , i)" [attr.data-val]="ite.value">{{ite.name}}</a>
                      </div>
                    </div>
                    <div class="input-box-main">
                      <div class="clear-bet-btn-main moble-live-clear">
                        <a (click)="closePlaceModal()">Clear</a>
                        <a (click)="placeBet(eventData)" class="bet-bg-color">Place bet</a>
                      </div>

                    </div>
                  </div>
                </div>
              </div>


              <!--<div class="match-team-name-price-main  match-neme-text">-->
                <!--<p>We'll never share your email with anyone else.</p>-->
              <!--</div>-->
            </div>
              </ng-container>
          </div>
        </div>
      </div>
      </ng-container>

    </div>
    <div class="col-xl-4 col-12 tab-pane" id="t2">
      <div class="accordion" id="bets-b">
        <div class=" match-odds-main">
          <a class="men-heding card-header" data-toggle="collapse" data-target="#my-beta" aria-expanded="true">
            <div class="matched-bet ">
              <h2 class="d-block  m-0"> Recent Result <span class="accicon-tv "><i class="fas fa-angle-down rotate-icon"></i></span></h2>

            </div>
          </a>
          <div id="my-beta" class="collapse show" data-parent="#bets-b">
            <div class="p-1 d-flex">
              <ng-container *ngFor="let ite of resultArray">
                 <span (click)="openDetalModal(ite.data)" class="roungd">
            <img src="../../../assets/images/{{ite.result}}.png" alt="" width="30" class="m-1">
          </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion" id="bets-a">
        <div class=" match-odds-main">
          <a class="men-heding card-header" data-toggle="collapse" data-target="#my-bets" aria-expanded="true">
            <div class="matched-bet">
              <h2>MY BETS <span class="accicon-tv "><i class="fas fa-angle-down rotate-icon"></i></span></h2>

            </div>
          </a>
          <div id="my-bets" class="collapse show" data-parent="#bets-a">
            <div class="respo-scroll">
              <table class="default-table-style men-table-id">
                <thead>
                <tr>
                  <th class="text-left">Runner</th>
                  <th class="text-right">Rate</th>
                  <th class="text-right">Stake</th>

                </tr>
                </thead>
                <tbody *ngIf="allTransactions && allTransactions.length > 0">
                <ng-container *ngFor="let transactions of allTransactions">
                <tr [ngClass]="(transactions.runner_type=='back')?'matched-runner-bg-color':'matched-runner-bg-color'" class="matched-runner-bg-color" >
                  <td data-label="Runner" class="text-left">{{transactions.gameType == 'casinoLive' ? transactions.gameDetail[0].bet.runnerName : '-'}}</td>
                  <td data-label="Rate" class="text-right">{{transactions.odds}}</td>
                  <td data-label="stake" class="text-right">{{transactions.rate}}</td>
                </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!--View Bets all -->
<div class="modal fade" bsModal #betviewall="bs-modal" [config]="{}" id="Chips_Settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" *ngIf="resultData">
            <div class="modal-header model-men-heding">
                <h5>Round ID :{{resultData.roundId}}</h5>
                <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true" class="clos-color">&times;</span></button>
            </div>
            <div class="modal-body scroll-box">
                <div class="container">
                    <ng-container *ngFor="let ite of resultData.resultArray">
                        <div class="row mne-casd-box">
                            <div class=" col-lg-12 col-12 ">
                                <div class="hedimnf-box-men">
                                    <p>{{ite.marketName}}</p>
                                </div>
                            </div>
                            <div class=" col-lg-6 col-6 " *ngFor="let runner of ite.runner">
                                <div class="race-winner-box">
                                    <p>{{runner.winnerName}} - <i class="{{runner.result === 'LOSER' ? 'fas fa-thumbs-down icon-box ' : 'fas fa-thumbs-up icon-box icon-color'}}"></i></p>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<!--View Bets all -->
