<section class="report-content main-content">
  <div class="hading-box mb-3">
    <p class="m-0 p-0">Terms and Condition </p>
  </div>
  <ng-container *ngIf="marketRules">
  <div class="respo-scroll">
      <div  [innerHTML]="marketRules.restriction"></div>
  </div>
  </ng-container>
</section>
