<section class="report-content main-content">
  <div class="hading-box mb-3">
    <p class="m-0 p-0">Change Password</p>
  </div>
  <div class="row ">
    <div class="col-lg-6">
      <div class="Password-box mt-4">
        <form class="deposit-main" #passwordChange="ngForm" (ngSubmit)="passwordChange.form.valid && passChange()">
          <div class="deposit-input-box position-relative">
            <h6>Old Password</h6>
            <input type="password" class="form-control" placeholder="Current password" required #oldPass="ngModel" name="oldPass" [(ngModel)]="oldPassword" id="Current_Password">
            <div *ngIf="passwordChange.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="oldPass.errors?.required">
                Old password is required.
              </div>
            </div>
            <span toggle="#old-Password" class="far fa-fw fa-eye field-icon toggle-password"></span>
          </div>
          <div class="deposit-input-box position-relative">
            <h6>New Password</h6>
            <input type="password" class="form-control" placeholder="New password" maxlength="15" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,30})" required #newPass="ngModel" name="newPass" [(ngModel)]="newPassword" id="New_Password">
            <div *ngIf="passwordChange.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="newPass.errors?.required">
                New password is required.
              </div>
              <div class="custom-validation" *ngIf="newPass.errors?.pattern">
                The password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number and 6 characters needed.
              </div>
            </div>
            <span toggle="#new-Password" class="far fa-fw fa-eye field-icon toggle-password"></span>
          </div>
          <div class="deposit-input-box position-relative">
            <h6>Confirm Password</h6>

            <input type="password" class="form-control" placeholder="Confirm New password" maxlength="15" pattern="{{newPassword}}" required #confPass="ngModel" name="confPass" [(ngModel)]="confNewPassword" id="Confirm_New_Password">
            <div *ngIf="passwordChange.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="confPass.errors?.required">
                Confirm new password is required.
              </div>
              <div class="custom-validation" *ngIf="confPass.errors?.pattern">
                Enter match password required.
              </div>
            </div>            <span toggle="#password-field-a" class="far fa-fw fa-eye field-icon toggle-password"></span>
          </div>
          <div class="transaction-pass-main ">
            <button type="submit" class="btn-main btn-color w-100">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
