<section class="report-content main-content">
  <div class="hading-box mb-3">
    <p class="m-0 p-0">Bet History</p>
    <div class="float-right">
      <a (click)="download()" title="pdf">
        <img src="./assets/images/pdf.png" alt="pdf" width="20">
      </a>
      <a (click)="download()" title="excel">
        <img src="./assets/images/excel.png" alt="pdf" width="20">
      </a>
    </div>
  </div>
    <form class="report-date-input">
        <div class="report-left-side">
            <div class="date-input-box">
                <input autocomplete="off" readonly placeholder="{{sDate}}" class="form-control" name="fromDate" #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate" (dateSelect)="onDateSelect($event)" id="From_Date" ngbDatepicker #d="ngbDatepicker"
                    (click)="d.toggle()">
            </div>
            <div class="date-input-box">
                <input autocomplete="off" readonly placeholder="{{eDate}}" class="form-control" name="toDate" #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate"
                    [disabled]="disabled">
            </div>
            <div class="date-input-box select-after">
                <select type="text" class="form-control" name="status" [(ngModel)]="filter.status" id="status">
          <option value="">All</option>
          <option value="open">Open</option>
          <option value="settled">Settled</option>
          <!--<option value="delete">Deleted</option>-->
        </select>
            </div>
            <div class="date-input-box select-after">
                <select type="text" (change)="sportSelection($event)" class="form-control" name="sport" [(ngModel)]="filter.sport" id="sport">
          <option value="">Select Sport</option>
          <ng-container  *ngFor="let sport of allSport">
            <option   value="{{sport.gameDetail[0].sport.id}}">
              {{sport.gameDetail[0].sport.name.substring(0, sport.gameDetail[0].sport.name.indexOf('(')) ? sport.gameDetail[0].sport.name.substring(0, sport.gameDetail[0].sport.name.indexOf('(')) : sport.gameDetail[0].sport.name}}</option>
          </ng-container>
        </select>
            </div>
            <div class="date-input-box select-after">
                <select type="text" class="form-control" name="match" [(ngModel)]="matchNameVaule">
          <option value="">Select Match</option>
          <ng-container *ngFor="let market of matchListSerchdata">
            <option value="{{market.id}}">{{market.name}}</option>
          </ng-container>
          </select>
            </div>
        </div>
        <div class="report-right-side">
            <a (click)="searchFilterData()" class="ban-man-box view-btn">View
      </a>
            <a (click)="clearFilter()" class="ban-man-box clear-btn">Clear
      </a>
        </div>

    </form>
    <!-- form -->

    <div class="respo-scroll ">
        <table datatable [dtOptions]="dtOptions" class="default-table-style black-color-table">
            <thead class="men-titel-color">
                <tr>
                    <th>No.</th>
                    <!-- <th class="text-left"> Sport</th> -->
                    <th class="text-left">Runner</th>
                    <th class="text-right">Rate</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Exposure</th>
                    <th class="text-left">Market</th>
                    <th class="text-left">Match</th>
                    <th class="text-left">Placed Time</th>
                    <th class="text-left">Matched Time</th>
                </tr>
            </thead>
            <tbody *ngIf="chipsTransactionData" class="default-table-style">
                <tr class="{{transaction.runner_type === 'lay' ? 'matched-runner-bg-color2' :  'matched-runner-bg-color'}}" *ngFor="let transaction of chipsTransactionData.docs;let i = index">
                    <td> {{i+1}}</td>
                    <!-- <td class="text-left">{{transaction.gameDetail[0].sport.name.substring(0, transaction.gameDetail[0].sport.name.indexOf('('))}}</td> -->

                    <td class="text-left" title="{{transaction.gameType == 'market' ? transaction.team[0].runnerName : transaction.gameType == 'line'? transaction.gameDetail[0].lineName : transaction.gameType == 'casinoLive'? transaction.gameDetail[0].marketName : transaction.gameDetail[0].fancyName }}">
                        <!--                  {{transaction.gameType === 'fancy' ? transaction.gameDetail[0].fancyName : transaction.team[0].runnerName | slice:0:20}}-->
                        {{ transaction.gameType == 'bookmaker' ? transaction.team[0].runnerName : transaction.gameType == 'market' ? transaction.team[0].runnerName : transaction.gameType == 'line'? transaction.gameDetail[0].lineName : transaction.gameType == 'casino'? transaction.team[0].runnerName
                        : transaction.gameType == 'fancy' ? transaction.gameDetail[0].fancyName: transaction.gameType == 'Bookmaker' ? 'Bookmaker': transaction.gameType == 'casinoLive' ? transaction.gameDetail[0].bet.runnerName: transaction.team[0].runnerName
                        }} {{transaction.gameType == 'fancy' ? "/" + transaction.volume: ''}}
                    </td>
                    <td class="text-right">{{transaction.odds | number:'1.0-2' | noComma}}</td>
                    <td class="text-right customeTd">{{transaction.rate | number:'1.0-2' | noComma}}</td>
                    <td class="text-right">{{transaction.runner_type === 'lay' ? transaction.back : transaction.lay }}</td>
                    <td class="text-left">{{transaction.gameType}}</td>
                    <td class="text-left" title="{{transaction.gameType === 'casinoLive' ? transaction.gameDetail[0].bet.marketName :transaction.gameDetail[0].match.name.includes('(') ? (transaction.gameDetail[0].match.name.substring(0, transaction.gameDetail[0].match.name.indexOf('(')) | slice:0:30) : transaction.gameDetail[0].match.name}}">
                        {{ transaction.gameType === 'casinoLive' ? transaction.gameDetail[0].bet.marketName : transaction.gameDetail[0].match.name.includes('(') ? (transaction.gameDetail[0].match.name.substring(0, transaction.gameDetail[0].match.name.indexOf('(')) | slice:0:30)
                        : transaction.gameDetail[0].match.name}}
                    </td>
                    <td class="text-left">{{transaction.placeTime | date: 'dd-MM-yyyy h:mm:ss a'}}</td>
                    <td class="text-left">{{transaction.betTime && transaction.betTime| date : 'dd-MM-yyyy h:mm:ss a' : '-'}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</section>
