<header class="header">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
        <div class="sidebar-menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <a  class="logo-box-man" [routerLink]="['/dashboard']">
          <img class="logo dashboard-page-logo" src="./assets/images/logo.png" alt="" />
        </a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
        <div class="dropdown-main-box">
          <div  class="dropdown dropdown-processed" id="dropdown-2">
            <a class="dropdown-link cursor-pointer" ><span > {{userAvaBalance | number:'1.0-2' | noComma}}</span> <b>|</b> <span class="font-color-white">
                {{userExposer | number:'1.0-2'  | noComma }}</span></a>
            <div class="dropdown-container">
              <ul class="exr-poser">
                <li>
                  <a >Exp : <span class="bal-box-col font-color-danger cursor-pointer" [routerLink]="['/reports/exposer-details']"> {{userExposer | number:'1.0-2'  | noComma }}</span></a>
                </li>
                <li>
                  <a>P/L :<span class="bal-box-col {{userPl >= 0 ? 'font-color-success' : 'font-color-danger' }}">{{userPl | number:'1.0-2'| noComma}}</span> </a>
                </li>
              </ul>
            </div>
          </div>
          <div  class="dropdown dropdown-processed" id="dropdown-1">
            <a class="dropdown-link cursor-pointer" ><img class="user-img-main" src="./assets/images/user-icon.png" alt="" /> {{userName}}</a>
            <div class="dropdown-container">
              <ul>
                <li>
                  <a  [routerLink]="['/reports/as-view']"> <i class="far fa-file-alt"></i> Account Statement</a>
                </li>
                <!--<li>-->
                  <!--<a  [routerLink]="['/reports/historical-ac-statement']"> <i class="far fa-file-alt"></i> H A/C Statement</a>-->
                <!--</li>-->
                <li>
                  <a [routerLink]="['/reports/pl-view']"> <i class="far fa-thumbs-up"></i> Profit &amp; Loss</a>
                </li>
                <li>
                  <a  [routerLink]="['/reports/bt-view']"> <i class="far fa-chart-bar"> </i> Bet History</a>
                </li>
                <li>
                  <a  [routerLink]="['/reports/chips-setting']"> <i class="fa fa-coins"></i> Chips Settings</a>
                </li>
                <li>
                  <a  [routerLink]="['/reports/password-reset']"> <i class="fa fa-unlock-alt"></i> Change Password</a>
                </li>
                <li>
                  <a [routerLink]="['/reports/rules-setting']"> <i class="fa fa-clipboard-list"></i> Market Rules</a>
                </li>
                <li>
                  <a  [routerLink]="['/reports/exposer-details']"> <i class="fa fa-file"></i> Exposer Details</a>
                </li>
                <li>
                  <button (click)="userLogout()" type="button" class=" btn btn-danger logout-bt">
                    Logout
                    <i class="fas fa-sign-out-alt"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="mani-menu-box mobile-menu-hide">
        <ul class="menu">
          <li><a id="home" [routerLink]="['/dashboard']" (click)="activeBtn($event)" class="menu-box-a active">Home</a></li>
          <li><a id="inplay" [routerLink]="['/dashboard/inplay']" (click)="activeBtn($event)" class="menu-box-a">In-Play</a></li>
          <li>
            <a id="CRICKET"  (click)="activeBtn($event)" [routerLink]="['/dashboard/CRICKET']" class="menu-box-a"><span class="live-popup">Live </span> Cricket <span
              class="coute-box">{{cricketLen}}</span></a>
          </li>
          <li>
            <a id="SOCCER" (click)="activeBtn($event)" [routerLink]="['/dashboard/SOCCER']" class="menu-box-a"><span class="live-popup">Live</span> Soccer <span
              class="coute-box">{{soccerLen}}</span></a>
          </li>
          <li>
            <a id="Tennis" (click)="activeBtn($event)" [routerLink]="['/dashboard/Tennis']"  class="menu-box-a"><span class="live-popup">Live</span> Tennis <span
              class="coute-box">{{tennisLen}}</span></a>
          </li>
          <li><a id="casino" [routerLink]="['/dc']"  (click)="activeBtn($event)"  class="menu-box-a"> Casino</a></li>
          <li><a id="snova" [routerLink]="['/sports/card-view']" (click)="activeBtn($event)"  class="menu-box-a">Supernova Casino</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<footer class="footer-main-new">
  <marquee scrollamount="5" behavior="scroll">
    <p class="mb-0 font-12"><i class="fa fa-bullhorn mr-2" aria-hidden="true"></i> {{massage}}</p>
  </marquee>
</footer>
