header.header .dropdown-main-box .dropdown .dropdown-container ul.exr-poser{
      right: -106px;

}
@media screen and (max-width: 576px){
      header.header .dropdown-main-box .dropdown .dropdown-container ul.exr-poser{
            right: 0;
      
      }
}
