
<section class="report-content main-content">
  <div class="hading-box mb-3">
    <p class="m-0 p-0">Histrocal Account Statement</p>
    <div class="float-right">
      <a (click)="download()" title="pdf">
        <img src="./assets/images/pdf.png" alt="pdf" width="20">
      </a>
      <a (click)="download()" title="excel">
        <img src="./assets/images/excel.png" alt="pdf" width="20">
      </a>
    </div>
  </div>

  <form class="report-date-input">
      <div class="report-left-side">
          <div class="date-input-box">
              <input autocomplete="off" readonly placeholder="{{sDate}}" name="fromDate" #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate" (dateSelect)="onDateSelect($event)" id="From_Date" [maxDate]="firstMaxdate" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
          </div>
          <div class="date-input-box">
              <input autocomplete="off" readonly placeholder="{{eDate}}" name="toDate" #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate" [maxDate]="maxDate" [disabled]="disabled">
          </div>
          <div class="date-input-box select-after">
              <select type="text" name="type" [(ngModel)]="filter.type" id="type">
      <option value="CHIPS">Chips</option>
      <option value="GAME">Game</option>
      <option value="CASH">Cash</option>
    </select>
          </div>
      </div>
      <div class="report-right-side">
          <a class="view-btn ban-man-box" (click)="searchFilterData()">View</a>
          <a class="clear-btn ban-man-box" (click)="clearFilter()">Clear</a>

      </div>

  </form>

  <div class="respo-scroll">
      <table datatable [dtOptions]="dtOptions" class="default-table-style black-color-table">
          <thead>
              <tr class="men-titel-color">
                  <th class="">No.</th>
                  <th class=" text-left">Date</th>
                  <th class="text-right">Debit</th>
                  <th class="text-right">Credit</th>
                  <th class="text-right">Balance</th>
                  <th class="text-left">Remarks</th>
                  <th class="text-left">Type</th>

              </tr>
          </thead>
          <tbody *ngIf="chipsTransactionData ">
              <tr class="table-tr-item" *ngIf="OpeningBalaceDate">
                  <td>{{rawNO}}</td>
                  <td class="t-text-align">{{OpeningBalaceDate | date : 'dd-MM-yyyy'}}</td>
                  <td class="text-right"><label class="text-danger font-weight-bold">0</label></td>
                  <td class="text-right"><label class="text-success font-weight-bold"> 0 </label> </td>
                  <td class="font-weight-bold text-right">{{OpeningBalace | number:'1.0-2' | noComma}}</td>
                  <td class="text-left"> Opeing Balance </td>
                  <td>-</td>
              </tr>
              <tr class="table-tr-item" (click)="chipsData.type === 'CHIPS' ? '' : transactionList(chipsData)" *ngFor="let chipsData of chipsTransactionData;let i = index">
                  <td class="p-1-size t-text-align"> {{(i+1) + ((filter.page -1) * filter.limit)}}.</td>
                  <td class="t-text-align">{{chipsData.createdAt | date : 'dd-MM-yyyy'}}</td>
                  <td class="text-right"><label class="text-danger font-weight-bold">
                  {{chipsData.transactionType === 'DEBIT' ? (chipsData.debit |  number:'1.0-2'  | noComma) : '0'}} </label></td>
                  <td class="text-right"><label class="text-success font-weight-bold">
                  {{chipsData.transactionType === 'CREDIT' ? (chipsData.credit |  number:'1.0-2'  | noComma | noComma) : '0'}} </label></td>
                  <td class="font-weight-bold text-right">{{chipsData.tempNewBalance | number:'1.0-2' | noComma | noComma}}</td>
                  <td class="text-left" *ngIf="chipsData.type == 'CASH'">[ {{chipsData.message}} ]</td>
                  <td class="text-left" *ngIf="chipsData.type == 'CHIPS'">[ {{chipsData.message}} ]</td>
                  <td class="text-left cursor-point" *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'Fancy'">
                      {{chipsData.message +' |'}} {{chipsData.marketData[0]?chipsData.marketData[0].match.name.substring(0, chipsData.marketData[0].match.name.indexOf('(')):'' }} | <label class=" cursor-point">  Result : {{chipsData.marketData[0].marketType === 'Fancy'?chipsData.marketData[0].result:''}} </label></td>
                  <td class="text-left " *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'Line'">
                      <label class="text-danger"></label> {{chipsData.message}} [ {{chipsData.marketData[0]?chipsData.marketData[0].match.name.substring(0, chipsData.marketData[0].match.name.indexOf('(')):'' }} ] <label class=" cursor-point">  [ Result : {{chipsData.marketData[0].marketType === 'Line'?chipsData.marketData[0].result:''}} ] </label></td>
                  <td class="text-left" *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'Match Odds'">
                      <label class="text-danger "></label> {{chipsData.isCommission==true ? '[comm.]' : '[Match Odds]' }} [ {{chipsData.marketData[0]?chipsData.marketData[0].match.name.substring(0, chipsData.marketData[0].match.name.indexOf('(')):''
                      }} ] <label class=" cursor-point">  [ Result : {{chipsData.marketData[0].marketType === 'Match Odds'?chipsData.marketData[0].result.runnerName:''}} ] </label></td>
                  <td class="text-left" *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'Bookmaker'">
                      <label class="text-danger "></label> {{chipsData.isCommission==true ? '[comm.]' : '[Bookmaker]' }} [ {{chipsData.marketData[0]?chipsData.marketData[0].match.name.substring(0, chipsData.marketData[0].match.name.indexOf('(')):''
                      }} ] <label class=" cursor-point">  [ Result : {{chipsData.marketData[0].marketType === 'Bookmaker'?chipsData.marketData[0].result.runnerName:''}} ] </label></td>
                  <td class="text-left" *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'Winner'">
                      <label class="text-danger ">[ Result : {{chipsData.marketData[0].marketType === 'Winner'?chipsData.marketData[0].result.runnerName:''}} ]</label> {{chipsData.isCommission==true ? '[comm.]' : '[Cup]' }} [ {{chipsData.marketData[0]?chipsData.marketData[0].match.name.substring(0,
                      chipsData.marketData[0].match.name.indexOf('(')):'' }} ]</td>
                  <td class="text-left" *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'Casino'">
                      <label class="text-danger ">[ Result : {{chipsData.marketData[0].result}} ]</label> [ {{ chipsData.message }}] {{'[Casino]' }} </td>
                  <td class="text-left cursor-point" *ngIf="chipsData.type == 'GAME' && chipsData.marketData[0].marketType === 'casinoLive'">
                      <label class=" cursor-point"> [ Result : {{chipsData.transactionType === 'DEBIT' ? 'LOSS' : 'WIN'}} ]</label> [ {{ chipsData.message }}] {{'[casinoLive]' }}</td>
                  <td [className]="chipsData.type == 'CHIPS' ? 'text-danger t-text-align' : 't-text-align'">{{chipsData.type}}</td>
              </tr>
          </tbody>
      </table>
  </div>

</section>
<!-- Start Transaction-list-Model -->
<div class="modal fade" bsModal #transactionModel="bs-modal" [config]="{backdrop: 'static'}" id="depositModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header ">
              <h5 class="modal-title">Bet List</h5>
              <button type="button" class="close" (click)="closeTransactionModel()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
          </div>

          <div class="modal-body" *ngIf="selectedResult">
              <div class="row">
                  <div class="col-lg-6 col-12 ">
                      <div class="card-box-neme pl-2 ">
                        <p> <img src="images/cricket-icon.png" alt=""> <span *ngIf="userTransactionRes  && userTransactionRes.length > 0"> {{userTransactionRes[0].gameDetail[0].sport.name && userTransactionRes[0].gameDetail[0].sport.name.substring(0, userTransactionRes[0].gameDetail[0].sport.name.indexOf('('))  ? userTransactionRes[0].gameDetail[0].sport.name.substring(0, userTransactionRes[0].gameDetail[0].sport.name.indexOf('(')) : userTransactionRes[0].gameDetail[0].sport.name}} : </span> {{selectedResult && selectedResult.message.substring(0, selectedResult.message.indexOf('(')) ? selectedResult.message.substring(0, selectedResult.message.indexOf('(')) : selectedResult.message}} </p>
                          <p> <i class="fal fa-trophy-alt"></i> Winner: <samp class="credit-color ml-1">{{selectedResult && selectedResult.marketData[0].displayName === 'Fancy' ? selectedResult.marketData[0].result : selectedResult.marketData[0].displayName !== 'casinoLive' ? selectedResult.marketData[0].result.runnerName : selectedResult.debit > 0 ? 'Loss': 'Win' }}</samp> </p>
                      </div>
                  </div>
                  <div class="col-lg-6 col-12 ">
                      <div class=" card-box-deta pr-2">
                          <p> <i class="fal fa-alarm-clock"></i> Time: {{selectedResult && selectedResult.createdAt | date: 'dd-MM-yyy hh:mm:ss'}}</p>

                          <div class=" card-box-ders">
                              <p> Total Bets:
                                  <samp class="debit-color  ml-1 mr-2">{{userTransactionRes && userTransactionRes.length}}</samp> Total Win:
                                  <samp class="{{selectedResult && selectedResult.credit > 0 ? 'credit-color ml-1' : 'debit-color ml-1' }}"> {{selectedResult && selectedResult.credit > 0 ? selectedResult.credit : selectedResult.debit == 0 ? selectedResult.debit : '-'+selectedResult.debit }}</samp> </p>
                          </div>
                      </div>
                  </div>
              </div>
              <ng-container>
                  <div class="respo-scroll">
                      <table class="default-table-style black-color-table" cellspacing="0" width="100%">
                          <tr>
                              <th class="text-left">Runner</th>
                              <th class="text-right">Rate</th>
                              <th class="text-right">Stake</th>
                              <th>Win</th>
                              <th>Date</th>
                              <th>IP</th>
                          </tr>
                          <ng-container *ngIf="userTransactionRes !== null">
                              <tr class="{{transaction.runner_type === 'lay' ? 'matched-runner-bg-color2' :  'matched-runner-bg-color'}}" *ngFor="let transaction of userTransactionRes; let i = index;">
                                  <td class="text-left">
                                      {{transaction.gameType == 'market' ? transaction.team[0].runnerName : transaction.gameType == 'line'? transaction.gameDetail[0].lineName : transaction.gameType == 'bookmaker' ? transaction.team[0].runnerName : transaction.gameType == 'cup' ? transaction.team[0].runnerName
                                      : transaction.gameType == 'casino' ? transaction.team[0].runnerName : transaction.gameType == 'casinoLive' ? transaction.gameDetail[0].bet.runnerName : transaction.gameDetail[0].fancyName}} {{transaction.gameType
                                      == 'fancy' ? "/" + transaction.volume: ''}}
                                  </td>
                                  <td class="text-right">{{transaction.odds}}</td>
                                  <td class="text-right">{{transaction.rate}}</td>
                                  <td class="{{transaction.transction_result === 'Loss' ? 'text-right debit-color' : '-'}}" *ngIf="transaction.transction_result === 'Loss'">
                                      {{transaction.gameType == 'casinoLive' ? transaction.lay : (transaction.lay
                                      < 0 )? transaction.lay : transaction.back }}</td>
                                          <td class="{{transaction.transction_result === 'Win' ? 'text-right credit-color' : '-'}}" *ngIf="transaction.transction_result === 'Win'">
                                              {{transaction.gameType == 'casinoLive' ? transaction.back :(transaction.lay > 0 )? transaction.lay : transaction.back }}</td>
                                          <td>{{transaction.betTime && transaction.betTime| date : 'dd-MM-yyyy h:mm:ss a' : '-'}}</td>
                                          <td>{{ transaction.ip ? transaction.ip : '-'}}</td>
                              </tr>
                          </ng-container>
                      </table>
                  </div>
              </ng-container>

          </div>
      </div>
  </div>
</div>
