<section class="report-content">
  <h2>Net Position</h2>
  <div class="report-right-side-icon">
    <a class="file-pdf-icon cursor-point" (click)="download()"><img src="../../../assets/images/pdf.png" alt=""></a>
    <a class="file-spreadsheet-icon cursor-point" (click)="download()"><img src="../../../assets/images/xls.png" alt=""></a>
  </div>

  <div class="respo-scroll">
    <table  class="table table-striped nowrap  default-table-style  accounta-peg-men">
      <thead>
      <tr class="men-titel-color">
        <th class="w-no">No.</th>
        <th class="text-left">Symbol</th>
        <th class="text-left">Position</th>
        <th class="text-left">Exchange</th>
        <th class="text-left">Qty</th>
        <th class="text-left">Price</th>
        <th class="text-left">CMP</th>
        <th class="text-left">P/L</th>
      </tr>
      </thead>
      <tbody *ngIf="transactionResponse">
      <tr *ngFor="let trade of transactionResponse let i = index ; odd as isOdd; even as isEven" [class.Odd]=""
          [class.even]="isEven">
        <td class="text-left">{{i + 1}}</td>
        <td class="text-left">{{trade.ExchangeName}}  {{trade.Description}}</td>
        <td id="{{trade.ScriptToken}}_type" class="{{trade.class}}">{{trade.type}}</td>
        <td class="text-left">{{trade.ExchangeName}}</td>
        <td class="text-left" id="{{trade.ScriptToken}}_lotSize">{{trade.quentity}}</td>
        <td class="text-left" id="{{trade.ScriptToken}}_averagePrice">{{trade.openAvgPrice}}</td>
        <td class="text-left" id="{{trade.ScriptToken}}_cmp"></td>
        <td class="{{trade.profileAndLoss > 0 ? 'text-left credit-color' : 'text-left debit-color'}}" id="{{trade.ScriptToken}}_mmpl"></td>
      </tr>
      </tbody>
    </table>
  </div>

</section>


