<h2 *ngIf="errLobby==true">
        <span>Something went wrong please try again..</span>
</h2>


<section class=" main-content" *ngIf="errLobby==false">
    <div class="container-fluid">
        <div class="game-list-card-view">
            <div class="row">
                <div class="col-12" id="loadIframe">
                </div>
            </div>
        </div>
    </div>
</section>

