/* @font-face {font-family: "Tahoma";
  src: url("@font-face/cd0381aa3322dff4babd137f03829c8c.eot");
  src: url("@font-face/cd0381aa3322dff4babd137f03829c8c.eot?#iefix")
  format("embedded-opentype"), url("@font-face/cd0381aa3322dff4babd137f03829c8c.woff2")
  format("woff2"), url("@font-face/cd0381aa3322dff4babd137f03829c8c.woff")
  format("woff"), url("@font-face/Tahoma.ttf")
  format("truetype"), url("@font-face/cd0381aa3322dff4babd137f03829c8c.svg#Tahoma") format("svg"); } */
  /* @font-face{font-family:"FontAwesome";font-style:normal;font-weight:400;
    src:url("fontawesome-webfont.8b43027f47b20503057d.eot");
    src:url("fontawesome-webfont.8b43027f47b20503057d.eot?#iefix&v=4.7.0")
    format("embedded-opentype"),url("fontawesome-webfont.20fd1704ea223900efa9.woff2")
    format("woff2"),url("fontawesome-webfont.f691f37e57f04c152e23.woff")
    format("woff"),url("fontawesome-webfont.1e59d2330b4c6deb84b3.ttf")
    format("truetype"),url("fontawesome-webfont.c1e38fd9e0e74ba58f7a.svg#fontawesomeregular") format("svg")} */

    /* @font-face{font-family:"tahomabd";src:url("tahomabd.4634205e441f085b830d.ttf")}
    @font-face{font-family:"tahoma";src:url("Tahoma.90837b522a5871209962.ttf")} */
/* vietnamese */
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: local('Archivo'), url('archivo/Archivo-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  src: local('Archivo'), url('archivo/Archivo-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: local('Archivo'), url('./archivo/Archivo-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  src: local('Archivo'), url('./archivo/Archivo-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: local('Archivo'), url('./archivo/Archivo-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: local('Archivo'), url('./archivo/Archivo-SemiBoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: local('Archivo'), url('./archivo/Archivo-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  src: local('Archivo'), url('./archivo/Archivo-BoldItalic.woff') format('woff');
}

