<section class="float-left main-content">
    <div class="container-fluid">
        <div class="game-list-card-view">
            <div class="row">
                <div class="col-12" id="loadIframe">
                </div>
            </div>
        </div>
    </div>
</section>
