
.debit-color{
  font-weight: bolder !important;
}
.credit-color{
  font-weight: bolder !important;
}
.debit-border{
  border-left: 3px solid #dc3545!important;
}
.credit-border {
  border-left: 3px solid #28a745!important;
}
.w-20{
  width: 15% !important;
}
.mycls-cus{
  display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem !important;
}
