<section class="report-content stock-market">
  <div class="row row-eq-height">
      <div class="col-xl-8 col-12">
          <div class="tabcontent-mani" id="Quotes">
              <div class="edit-icon-main position-relative">
                  <h2>Stock market</h2>
                  <div class="stock-market-icon">
                      <!-- <i class="fa fa-pencil" data-toggle="modal" data-target="#exampleModalCenter2"></i> -->
                      <i class="fa fa-plus-square" (click)="openScriptModal()"></i>
                  </div>
              </div>
              <div class="respo-scroll marker-start-main">
                  <table class="paddingStyle default-table-style ">
                      <tr>
                          <th class="text-left">SYMBOL</th>
                          <th class="text-right">BUY PRICE</th>
                          <th class="text-right">SELL PRICE</th>
                          <th class="text-right ">LTP</th>
                          <th class="text-right">NET CHANGE</th>
                          <th class="text-right">HIGH</th>
                          <th class="text-right">LOW</th>
                      </tr>
                      <ng-container *ngIf="defaultScript && defaultScript.length > 0">
                        <tr (click)="betModal(exchng)"  class="stock-market-table-bg-color"  *ngFor="let exchng of defaultScript let i = index ; odd as isOdd; even as isEven">
                            <td class="text-left"  id="{{exchng.ScriptToken}}"><i></i><b>{{exchng.Script+ ' ' + (exchng.ExpiryDate | date:'dd-MMM')  }}</b></td>
                            <td class="text-right w-20" id="{{exchng.ScriptToken}}_buy_price_0">-</td>
                            <input type="hidden"  id="prev_{{exchng.ScriptToken}}_buy_price_0">
                            <td class="text-right w-20" id="{{exchng.ScriptToken}}_sell_price_0">-</td>
                            <input type="hidden"  id="prev_{{exchng.ScriptToken}}_sell_price_0">
                            <td class="text-right w-20" id="{{exchng.ScriptToken}}_last_price">-</td>
                            <td class="text-right w-20"  id="{{exchng.ScriptToken}}_net_change" ></td>
                            <td class="text-right w-20"  id="{{exchng.ScriptToken}}_ohlc_high" ></td>
                            <td class="text-right w-20"  id="{{exchng.ScriptToken}}_ohlc_low" ></td>
                        </tr>
                      </ng-container>
                  </table>
              </div>
              <!-- mobil ui -->
              <div class="respo-scroll marker-start-main-a">
                  <table class="paddingStyle default-table-style ">
                      <ng-container *ngIf="defaultScript && defaultScript.length > 0">
                        <ng-container *ngFor="let exchng of defaultScript let i = index ; odd as isOdd; even as isEven">
                                <tr (click)="betModal(exchng)" class="" id="{{exchng.ScriptToken}}_mob">
                                        <td class="text-left">
                                            <p><b>{{exchng.Script + ' ' + (exchng.ExpiryDate | date:'dd-MMM')}}</b></p>
                                            <span class="w-100 " id="{{exchng.ScriptToken}}_net_change_mob"></span>
                                        </td>
                                        <td class="text-center w-25">
                                            <p><b id="{{exchng.ScriptToken}}_buy_price_0_mob">0</b></p>
                                            <span class="w-100" id="{{exchng.ScriptToken}}_ohlc_high_mob">0</span>
                                        </td>
                                        <input type="hidden"  id="prev_{{exchng.ScriptToken}}_buy_price_0_mob">
                                        <td class="text-center w-25">
                                            <p><b id="{{exchng.ScriptToken}}_sell_price_0_mob"> 0</b></p>
                                            <span class="w-100" id="{{exchng.ScriptToken}}_ohlc_low_mob">0</span>
                                        </td>
                                    </tr>
                        </ng-container>
                      </ng-container>
                  </table>
              </div>
          </div>

          <div class="modal fade add-icon-popup-content"  id="#addScript" bsModal #modal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"> ADD SCRIPT</h5>
                            <!-- <i class="fa fa-plus add-icon"></i> -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModel()">
                       <span aria-hidden="true">&times;</span>
                       </button>
                        </div>
                        <div class="modal-body">
                            <div class="stock-input-box select-after">
                                <select matNativeControl (ngModelChange)="onSelectionChange($event)" [(ngModel)]="selectedValue">
                                        <option  value="ALL">ALL</option>
                                        <option *ngFor="let ite of getAllExchng" value="{{ite.ExchangeName}}">{{ite.ExchangeName}}</option>
                                </select>
                            </div>
                            <div class="stock-input-box">
                                <input matInput type="text" class="margin-top-ser" (keyup)="mySearch()" [(ngModel)]="searchVal" placeholder="Search...">
                            </div>
                            <table class="default-table-style">
                                <tr class="stock-market-table-bg-color">
                                    <th class="text-center">#</th>
                                    <th>script</th>
                                    <th>EXPIRYDATE</th>
                                </tr>
                                <tbody *ngIf="addDefaultData?.length != 0">
                                        <tr  class="{{exchng.checkBoxValue === true ? 'activeLine' : ''}}" *ngFor="let exchng of (filterData) ? filterDataObjects :addDefaultData; let k = index ; odd as isOdd; even as isEven" [class.Odd]=""
                                        [class.even]="">
                                            <td class="text-center">
                                                    <input type="checkbox" name="view{{k}}" [checked]="exchng.scriptAdded == true" (click)="check($event,exchng)" >
                                            </td>
                                            <td class="text-left">
                                                <a routerLinkActive="router-link-active" class="action-link" title="{{exchng.Script}}"><b>{{exchng.Script}}</b></a></td>
                                            <td class="text-left">{{exchng.ExpiryDate | date:'dd-MM-yyyy'}}</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

          <!-- bet model  NIFTY21JANFUT-->
          <div class="modal fade name-popup-symbol" bsModal #openBetModal="bs-modal" [config]="{backdrop: 'static'}" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="informationData">{{informationData.Script ? informationData.Script :  informationData.Description }} {{informationData.ExpiryDate | date:'dd-MMM'}}</h5>
                          <button type="button" class="close" aria-label="Close" (click)="closeinfoModel(informationData)">
                     <span aria-hidden="true">&times;</span>
                     </button>
                      </div>
                      <ng-container *ngIf="informationData">
                            <div class="modal-body">
                                    <ul class="nav nav-tabs">
                                        <li class="open"><a href="#s1" data-toggle="tab">Trade</a></li>
                                        <li><a href="#s2" data-toggle="tab" (click) = "getExchangeDetail(informationData)">Details</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="s1">
                                            <div class="order-box-main">
                                                <label>ORDER TYPE</label>
                                                <select *ngIf="informationData &&  informationData.edit==false"  class="selectOrderType" #mySelect (change)="onOptionsSelected(mySelect.value)">
                                                  <option *ngFor="let market of marketList; index as i"    [value]="market.OrderType">{{market.OrderTypeName}}</option>
                                                </select>

                                                <select *ngIf="informationData &&  informationData.edit==true" class="selectOrderType" disabled>
                                                  <option *ngFor="let market of marketList; index as i" [selected]="market.selected == true"   [value]="betObj.orderType">{{market.OrderTypeName}}</option>
                                                </select>

                                            </div>
                                            <div class="order-box-main">
                                                <label>QUANTITY</label>
                                                <input type="text"  name="quantity" #focusInput numbersOnly #maxProfitSelect maxlength="6" (click)="maxProfitSelect.select()"  [(ngModel)]="betObj.qty" class="qty-rate">
                                            </div>
                                            <div *ngIf="betObj.orderType === 'Limit' || betObj.orderType === 'StopLoss'" class="order-box-main" id='business'>
                                                    <label>PRICE</label>
                                                    <input type="text" name="limit" placeholder="{{betObj.orderType === 'StopLoss' ? 'Enter StopLoss' : 'Enter Limit'}}"   [(ngModel)]="betObj.limit" class="qty-rate">
                                            </div>
                                            <div class="order-box-main">
                                                 <p id="{{informationData.ScriptToken}}_buy_price_0_single">-</p>
                                                <p id="{{informationData.ScriptToken}}_sell_price_0_single">-</p>
                                                <input type="hidden"  id="{{informationData.ScriptToken}}_buy_price_0_single_input" >
                                                <input type="hidden" id="{{informationData.ScriptToken}}_sell_price_0_single_input" >
                                                <input type="hidden"  id="{{informationData.ScriptToken}}_volume_single_input">
                                                <input type="hidden"  id="{{informationData.ScriptToken}}_last_trade_time">

                                            </div>
                                            <div class="order-box-main">
                                                <button  *ngIf="informationData.edit==false" (click)="marketPlaceBet(informationData , 'SELL')" class="sell cursor-point">Sell</button>
                                                <button *ngIf="informationData.edit==false" (click)="marketPlaceBet(informationData , 'BUY')" class="buy cursor-point">Buy</button>
                                                <button class="sell cursor-point" *ngIf="informationData.edit==true" [disabled]="informationData.BuySellText == 'BUY' ? true : null" (click)="marketPlaceBet(informationData , 'SELL')"> Sell</button>
                                                <button class="buy cursor-point" *ngIf="informationData.edit==true" [disabled]="informationData.BuySellText == 'SELL' ? true : null" (click)="marketPlaceBet(informationData , 'BUY')"> Buy</button>

                                            </div>
                                            <ng-container *ngIf="informationData">
                                                <div class="order-box-main mt-2">
                                                    <div class="open-price-list">
                                                        <label>OPEN</label>
                                                        <span id="{{informationData.ScriptToken}}_ohlc_open_single"></span>
                                                    </div>
                                                    <div class="open-price-list">
                                                        <label>HIGH</label>
                                                        <span id="{{informationData.ScriptToken}}_ohlc_high_bet_single"></span>
                                                    </div>
                                                    <div class="open-price-list">
                                                        <label>CLOSE</label>
                                                        <span id="{{informationData.ScriptToken}}_ohlc_close_single"></span>
                                                    </div>
                                                    <div class="open-price-list">
                                                        <label>LOW</label>
                                                        <span id="{{informationData.ScriptToken}}_ohlc_low_bet_single"></span>
                                                    </div>
                                                </div>
                                             </ng-container>
                                        </div>
                                        <ng-container *ngIf="informationData">
                                            <div class="tab-pane" id="s2">
                                            <table class="default-table-style">
                                                <tr class="stock-market-table-bg-color">
                                                    <td class="text-left"><b>Script :</b></td>
                                                    <td class="text-left">{{informationData.name}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left"><b>Expiry :</b></td>
                                                    <td class="text-left">{{informationData.expiry | date:'dd-MM-yyyy'}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left"><b>LotSize :</b></td>
                                                    <td class="text-left">{{informationData.lotSize}}</td>
                                                </tr>
                                                <tr class="stock-market-table-bg-color">
                                                    <td class="text-left"><b>Trade Margin :</b></td>
                                                    <td class="text-left">{{informationData.tradeMargin}}</td>
                                                </tr>
                                                <tr class="stock-market-table-bg-color">
                                                    <td class="text-left"><b>Trade Attribute :</b></td>
                                                    <td class="text-left">{{informationData.tradeAttribute}}</td>
                                                </tr>
                                                <tr class="stock-market-table-bg-color">
                                                    <td class="text-left"><b>Max Qty :</b></td>
                                                    <td class="text-left">{{informationData.quantityMax}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left"><b>Breakup Qty :</b></td>
                                                    <td class="text-left">{{informationData.quantityBreakup}}</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left"><b>Max Lot :</b></td>
                                                    <td class="text-left">{{informationData.maxLot}}</td>
                                                </tr>
                                                <tr class="stock-market-table-bg-color">
                                                    <td class="text-left"><b>Break Up Lot :</b></td>
                                                    <td class="text-left">{{informationData.breakUpLot}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        </ng-container>
                                    </div>
                                </div>
                      </ng-container>

                  </div>
              </div>
          </div>
          <!-- model -->

          <div class="modal fade name-popup-symbol" bsModal #confrimModal="bs-modal" [config]="{backdrop: 'static'}" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header modal-header-men ">
                    <b>Are you sure you want to delete?</b>
                    <button class="close" (click)="closeinfoModelConfirm()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mycls-cus">
                    <button class="btn btn-success w-25  cursor-point"  (click)="deletePending()"> Yes</button>
                    <button class="btn btn-danger w-25 cursor-point" (click)="closeinfoModelConfirm()"> No</button>
                  </div>
                </div>
              </div>
        </div>

          <!-- model NSre-->

      </div>
      <div class="col-xl-4 col-12">
          <div id="Trade" class="net-pisition-main tabcontent">
              <div class="edit-icon-main position-relative">
                  <h2>Net Position</h2>
                  <div class="view-model-bot ">
                      <a class="view-more-bat" [routerLink]="['/reports/trade-list']">  View </a>
                  </div>
              </div>
              <div class="marker-start-table-responsive respo-scroll ">
              <table class="default-table-style">
                  <tr>
                      <td class="text-left"><b>M2M PL:</b></td>
                      <td class="text-right">{{m2mTotal}}</td>
                  </tr>
                  <tr class="stock-market-table-bg-color">
                      <td class="text-left"><b>Realised P/L:</b></td>
                      <td class="text-right">{{realisedPl}}</td>
                  </tr>
                  <tr>
                      <td class="text-left"><b>Total:</b></td>
                      <td class="text-right">{{m2mreal}}</td>
                  </tr>
                  <tr class="stock-market-table-bg-color">
                      <td class="text-left"><b>Credit:</b></td>
                      <td class="text-right">{{credit}}</td>
                  </tr>
                  <tr>
                      <td class="text-left"><b>Equity:</b></td>
                      <td class="text-right">{{equity}}</td>
                  </tr>
                  <tr class="stock-market-table-bg-color">
                      <td class="text-left"><b>Margin Used:</b></td>
                      <td class="text-right">{{marginUsed}}</td>
                  </tr>
                  <tr class="stock-market-table-bg-color">
                        <td class="text-left"><b>Free Margin:</b></td>
                        <td class="text-right">{{freeMargin}}</td>
                    </tr>
              </table>
              <table class="default-table-style">
                  <tr class="stock-market-table-beg-color">
                      <th class="text-left"><b>Symbol</b></th>
                      <th class="text-left w-25"><b>CMP</b></th>
                      <th class="text-left"><b>M2M P/L</b></th>
                  </tr>
                  <ng-container *ngIf="allDeals && allDeals.length > 0">
                    <tr (click)="betModal(trade)" *ngFor="let trade of allDeals let i = index ; odd as isOdd; even as isEven"  >
                        <td>
                            <p><b>{{trade.ExchangeName}} {{trade.Description}} </b></p>
                            <span class="{{trade.class}}">{{trade.type}} {{trade.openQty}}
                            <i class="fal fa-long-arrow-right"></i>
                            {{trade.openAvgPrice}}
                            </span>
                        </td>
                        <td  id="{{trade.ScriptToken}}_cmp"></td>
                        <td class="{{trade.profileAndLoss > 0 ? 'buy' : 'sell'}}" id="{{trade.ScriptToken}}_mmpl"></td>
                    </tr>
                  </ng-container>
              </table>
              </div>
          </div>
          <div id="Position" class="transaction-history-main tabcontent">
              <div class="edit-icon-main  position-relative">
                  <!-- <h2>Transaction History</h2> -->
                  <h2>Trade List</h2>
                  <div class="view-model-bot ">
                      <a class="view-more-bat" [routerLink]="['/reports/stock-report']">  View </a>
                  </div>
              </div>
              <ul class="nav nav-tabs">
                  <li class="open"><a href="#h1" class="succ-color   button button-1 button-1e" data-toggle="tab">Success ({{this.completedOrder && this.completedOrder.length > 0 ? this.completedOrder.length : 0 }})</a></li>
                  <li><a href="#h2" class="pedi-color" data-toggle="tab">Pending ({{this.pendingOrder && this.pendingOrder.length > 0 ? this.pendingOrder.length : 0 }})</a></li>
                  <!-- <li><a href="#h3" class="deal-colr" data-toggle="tab">Deals (0)</a></li> -->
              </ul>
              <div class="tab-content">
                  <div class="marker-start-table-responsive tab-pane respo-scroll  active" id="h1">

                      <table class="default-table-style">
                          <tr class="stock-market-table-bg-color">
                              <th class="text-left"><b>SYMBOL</b></th>
                              <th class="text-center"><b>TYPE</b></th>
                              <th class="text-center"><b>QTY</b></th>
                              <th class="text-left"><b>PRICE</b></th>
                          </tr>
                          <ng-container *ngIf="completedOrder && completedOrder.length > 0">
                                <tr *ngFor="let trade of completedOrder let i = index ; odd as isOdd; even as isEven">
                                    <td>
                                        <p>{{trade.ExchangeName}} {{trade.Script}} {{trade.ExpiryDate | date: 'dd-MMM'}}</p>
                                        <span> {{trade.ExecutionTime | dateFormatPipe}}</span>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="{{trade.BuySellText === 'BUY' ? 'buy': 'sell' }}">{{trade.BuySellText}} {{trade.OrderTypeText !== 'Market' ? trade.OrderTypeText : '' }}</h5>
                                    </td>
                                    <td class="text-center">{{trade.Quantity}}</td>
                                    <td>{{trade.OrderPrice}}</td>
                                </tr>
                          </ng-container>
                      </table>
                  </div>
                  <div class=" marker-start-table-responsive tab-pane" id="h2">

                      <table class="default-table-style">
                          <tr class="stock-market-table-bg-color">
                              <th class="text-left"><b>SYMBOL</b></th>
                              <th class="text-center"><b>TYPE</b></th>
                              <th class="text-center"><b>QTY</b></th>
                              <th class="text-center"><b>PRICE</b></th>
                              <th class="text-left"><b>ACTION</b></th>
                          </tr>
                          <ng-container *ngIf="pendingOrder && pendingOrder.length > 0">
                                <tr *ngFor="let trade of pendingOrder let i = index ; odd as isOdd; even as isEven">
                                    <td>
                                      <p>{{trade.ExchangeName}} {{trade.Script}} {{trade.ExpiryDate | date: 'dd-MMM'}}</p>
                                      <span> {{trade.OrderTime | dateFormatPipe}}</span>
                                    </td>
                                    <td class="text-center">
                                        <h5 class="{{trade.BuySellText === 'BUY' ? 'buy': 'sell' }}">{{trade.BuySellText}} {{trade.OrderTypeText}}</h5>
                                    </td>
                                    <td class="text-center">{{trade.Quantity}}</td>
                                    <td class="text-center">{{trade.OrderPrice}}</td>
                                    <td class="text-center">
                                            <samp class="buy m-1"><i class="fas fa-edit" (click)="editPending(trade)"></i></samp>
                                            <samp class="sell m-1"><i class="fal fa-trash-alt" (click)="openConfirmModal(trade)"></i></samp>
                                    </td>
                                </tr>
                          </ng-container>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="bottom-menu-bar">
  <div class="bottom-menu-icon-main active-color1 " (click)="openmarket('Quotes')">
      <i class="fa fa-exchange-alt"></i>
      <span>Quotes</span>
  </div>
  <div class="bottom-menu-icon-main" (click)="openmarket('Position')">
    <i class="fa fa-file"></i>
      <span>Trade</span>
  </div>
  <div class="bottom-menu-icon-main" (click)="openmarket('Trade')">
      <i class="fa fa-chart-line"></i>
      <span>Position</span>
  </div>
</div>
