<section class="report-content stock-market user-content settlement-content">
  <h2>settlement report</h2>
  <div class="report-right-side-icon">
    <a class="file-pdf-icon cursor-point" (click)="download()"><img src="../../../assets/images/pdf.png" alt=""></a>
    <a class="file-spreadsheet-icon cursor-point" (click)="download()"><img src="../../../assets/images/xls.png" alt=""></a>
  </div>
  <form class="report-date-input">
    <div class="report-left-side">
      <div class="date-input-box">
        <input autocomplete="off" readonly placeholder="{{sDate}}" name="fromDate" #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate" (dateSelect)="onDateSelect($event)" id="From_Date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
      </div>
      <div class="date-input-box">
        <input autocomplete="off" readonly placeholder="{{eDate}}" name="toDate" #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate" [disabled]="disabled">
      </div>
      <div class="date-input-box select-after">
        <select type="text" name="type" id="type" [(ngModel)]="betObjFilter.withOpening">
          <option selected value = 'true'> With opening </option>
          <option value = 'false'>Without  opening </option>
        </select>
      </div>
      <div class="date-input-box select-after">
        <select type="text" name="type" id="type" [(ngModel)]="betObjFilter.withSettlement">
          <option selected value = 'true'> With settlement </option>
          <option value = 'false'>Without  settlement </option>
        </select>
      </div>
    </div>
    <div class="report-right-side">
      <button class="btn btn-success cursor-point mr-2" (click)="searchFilterData()">View</button>
      <button class="btn btn-danger cursor-point" (click)="clearFilter()">Clear</button>
    </div>

  </form>

  <div class="row">
    <div class="col-lg-6 col-lg-6 col-12">
      <div class="edit-icon-main">
        <h2 class="profit">Profit</h2>
      </div>
      <div class="respo-scroll">
        <table class="default-table-style">
          <tr *ngFor="let trade of creditUser let i = index ; odd as isOdd; even as isEven">
            <th class="text-left">
              <ng-container *ngIf="trade.downuser == true"><a class="cursor-point down-click" target="_blank" [routerLink]="['/reports/stock-cash-settlement/', trade.UserId]">{{trade.DisplayName}}</a></ng-container>
              <ng-container *ngIf="trade.downuser == false">{{trade.DisplayName}}</ng-container>
            </th>
            <th class="text-right">{{trade.Balance | number:'1.0-2'}} </th>
          </tr>
          <tfoot>
          <tr>
            <td class="text-left"><b>TOTAL</b></td>
            <td class="text-right"><b>{{creditTotal | number:'1.0-2'}}</b></td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="col-lg-6 col-lg-6 col-12 ">
      <div class="edit-icon-main">
        <h2 class="loss">Loss</h2>
      </div>
      <div class="respo-scroll">
        <table class="default-table-style">
          <tr *ngFor="let trade of debitUser let i = index ; odd as isOdd; even as isEven">
            <th class="text-left">
              <ng-container *ngIf="trade.downuser == true"><a class="cursor-point down-click" target="_blank" [routerLink]="['/reports/stock-cash-settlement/', trade.UserId]">{{trade.DisplayName}}</a></ng-container>
              <ng-container *ngIf="trade.downuser == false">{{trade.DisplayName}}</ng-container>
            </th>
            <th class="text-right">{{trade.Balance | number:'1.0-2'}} </th>
          </tr>
          <tfoot>
          <tr>
            <td class="text-left"><b>TOTAL</b></td>
            <td class="text-right"><b>{{debitTotal | number:'1.0-2'}}</b></td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- model Account Statement -->
</section>
