@import url("https://fonts.googleapis.com/css?family=Lexend:300,400,500,600,700,900");
$font-family: "Lexend" !important;
$font-family1: "Lexend" !important;
$main-background-color: #f7f7f7;
$hedaer-bag-color: #000;
$hedaer-border-color: #ba1013;
$hedaer-font-color: #ba1013;
$hedaer-bag-font-color: #ba1013;
$win-box-color: #e3e7ed;
$sport-box-color:#e3e7ed;
$white-color: #fff;
$footer-raund-color: #a4abbd;
$black-gray-color: #ba1013;
$black-color: #161616;
$login-btn-color: #ba1013;
$login-btn-hov-color: #ba1013;
$login-font-color: #9a9ea9;
$font-model-color: #ca1010;
$box-shadow-color: 0 0 5px rgba(0, 0, 0, 0.5);

body {
  font-family: $font-family1;
  font-weight: normal;
  font-size: 12px;
  background: $main-background-color;
  color: $black-color;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden !important;
}
// input{
//   background-image: none !important;
//   background-color:#111111 !important;
//   color: #fff !important;
// }

.main-login {
  font-family: $font-family1;
  font-weight: normal;
  font-size: 12px;
  background: $main-background-color !important;
  color: $black-color;
  margin: 0;
  padding: 0;
  position: relative;
}
.modal-header{
  background: $hedaer-bag-font-color;
    color: $black-gray-color;
    padding: 0 10px;
    margin: 0;
    height: 44px;
    line-height: 0px;
    justify-content: center;
    width: 100%;
    .modal-title {
      color: $white-color;
      font-size: 20px;
      font-weight: 600;
      padding: 0!important;
      margin: 0!important;
      margin: 0 0 21px;
      position: absolute;

    }
    .close {
      color:$white-color;
      background: transparent;
      border: none;
      font-size: 22px;
      font-weight: 400;
      text-shadow: none;
      line-height: 25px;
      height: 29px;
      width: 29px;
      border-radius: 50%;
      overflow: hidden;
      opacity: 1;
      position: absolute;
      left: auto;
      right: 8px;
      top: 6px;
      z-index: 1;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $white-color;
    line-height: 7px;

      &:hover {
        color: #ee3838;
        border: 2px solid #ee3838;
        box-shadow: $box-shadow-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
.header-box {
  height: auto;
  padding: 5px 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 99;
  background: $hedaer-bag-color;
  display: block;

  .logo-header {
    img {
      width: 20%;
padding: 2px 0 0;
    }
  }
  .loginbtn-center {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .btn-header {
      padding: 6px 30px;
      display: block;
      background: $hedaer-bag-color;
      border: 1px solid $white-color;
      color: $white-color;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
      text-decoration: none;
      transition: all 0.3s;
      font-size: 16px;
      margin: 0 0 0 10px;

      &.login-btn {
        background: linear-gradient(180deg, #fb3434, #e80505);
        border: 1px solid #e80505;
        color: $white-color;
        &:hover {
          border: 1px solid $black-gray-color;
        color: $white-color;
        background-color:  transparent;
        }
      }
    }
  }
}
.win-box {
  width: 100%;
  display: inline-block;
  background: $win-box-color;

  .card-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 16px 0;
    .card-img {
      width: 80px;
      height: auto;
      margin: 0 28px;
      img {
        width: 80px;
        height: auto;
      }
    }
    .card-text {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h5 {
        font-weight: bold;
        font-size: 33px;
        color: $black-color;
      }
      p {
        font-weight: 200;
        color: $black-color;
        font-size: 15px;
      }
    }
  }
}
.icon-shape-box {
  position: relative;
  padding: 0;
  margin: 0;

  .icon-shape-area {
    img {
      position: absolute;
      &.obj-1 {
        left: 0px;
        top: calc(15%);
        animation: rippleAni 5s linear infinite;
      }
      &.obj-2 {
        left: 0px;
        top: calc(395px);
        animation: rippleAni 5s linear infinite;
      }
      &.obj-3 {
        right: 6px;
        top: calc(15%);
        animation: rippleAni 5s linear infinite;
      }
    }
  }
}
.sports-games-box {
  width: 100%;
  display: inline-block;
  //background: $main-background-color;
  position: relative;

  .sports-heding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 15px 0 57px;
    position: relative;
    .sports-text {
      h5 {
        font-weight: bold;
        font-size: 30px;
        color: $black-color;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      P {
        font-weight: 200;
        font-size: 20px;
        color: $black-color;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
      }
    }
    .but-box {
      .bet-Show {
        border: 1px solid #ba1013;
        background: #ba1013;
        color: $white-color;
        padding: 12px 20px;
        margin: 0 0;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          border: 1px solid #ba1013;
          background: $white-color;
          color: #ba1013;
        }
      }
    }
  }
  .sports-box {
    background: #fff;
    padding: 12px 5px 0;
    border-radius: 5px;
    margin: 0 0 23px;
    width: 100%;
    display: inline-block;
    position: relative;
    box-shadow: -1px 4px 9px 0px #163f7a0f;
    .sports-icon {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      &::after {
        content: "";
        // position: absolute;
        // top: -41px;
        // right: 0;
        // left: 0;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        // background: $main-background-color;
        background: #ba1013;
    border: 3px solid #fff;
    box-shadow: 1px 4px 4px 1px #163f7a30;
      }
      .icon-img {
        z-index: 1;
        position: absolute;
        top: 14px;
        right: -25px;
        left: 0;
        margin: 0 auto;
        width: 90px;
        height: auto;

      }
    }
    .sports-text {
      font-size: 23px;
      font-weight: bold;
      text-align: center;
      margin: 0;
      padding: 18px 0px 18px;
      p {
        padding: 0;
        margin: 0;
        color: $black-gray-color;
        text-transform: capitalize;
      }
    }
  }
}
@keyframes rippleAni {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(5px, -5px);
  }
  66% {
    transform: translate(-5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.casino-peg-box {
  background: url("../../assets/images/back-Image.png") no-repeat;
  background-size: cover;
  display: inline-block;
  width: 100%;
  .casino-heding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 51px 0 57px;
    position: relative;
    .casino-text {
      h5 {
        font-weight: bold;
        font-size: 30px;
        color: $white-color;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      P {
        font-weight: 200;
        font-size: 20px;
        text-transform: capitalize;
        color: $white-color;
        padding: 0;
        margin: 0;
      }
    }
    .but-box {
      .bet-Show {
        border: 1px solid $hedaer-bag-font-color;
        background: $hedaer-bag-color;
        color: $white-color;
        padding: 12px 20px;
        margin: 0 0;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          border: 1px solid $hedaer-bag-font-color;
          background: $white-color;
          color: $hedaer-bag-font-color;
        }
      }
    }
  }
  .casino-img {
    background: $black-color;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    width: 100%;
    // height: 23.5rem;
    margin: 0 0 20px;

    &:hover img {
      transform: scale(1.2) translateY(3%);
      opacity: 0.4;
    }

    &:hover .box-content {
      opacity: 1;
      transform: translate(-8%);
      transition-delay: 0.1s;
    }
    img {
      width: 100%;
      height: auto;
      opacity: 1;
      transform: scale(1.1) translateY(3%);
      transition: all 0.5s ease 0s;
    }

    .box-content {
      padding: 20px 0 0 20px;
      position: absolute;
      bottom: 48px;
      left: 0;
      opacity: 0;
      z-index: 2;
      margin: 0 auto;
      transform: translateY(20%);
      transition: all 0.5s ease 0s;

      .title {
        font-size: 23px;
        font-weight: 800;
        text-transform: capitalize;
        color: $white-color;
      }
    }
  }
}
.featured-box {
  .icon-box-a {
    img {
      position: absolute;
      &.objt-1 {
        left: 0px;
        top: calc(78%);
        animation: rippleAni 5s linear infinite;
      }
    }
  }
  .featured-heding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 51px 0 57px;
    position: relative;
    .featured-text {
      h5 {
        font-weight: bold;
        font-size: 30px;
        color: $black-color;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      P {
        font-weight: 200;
        font-size: 20px;
        color: $black-color;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
      }
    }
    .but-box {
      .bet-Show {
        border: 1px solid $hedaer-bag-font-color;
        background: $hedaer-bag-color;
        color: $white-color;
        padding: 12px 20px;
        margin: 0 0;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          border: 1px solid $hedaer-bag-font-color;
          background: $white-color;
          color: $hedaer-bag-font-color;
        }
      }
    }
  }
  .slick-img {
    background: $black-color;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 0 8px 20px;

    &:hover img {
      transform: scale(1.2) translateY(3%);
      opacity: 0.4;
    }
    img {
      width: 100%;
      height: auto;
      opacity: 1;
      transform: scale(1.1) translateY(3%);
      transition: all 0.5s ease 0s;
    }
  }
}
.application-box {
  background: $hedaer-bag-color;
  width: 100%;
  display: flex;
  padding: 95px 0;
  margin: 0;
  position: relative;

  .icon-shape-area {
    img {
      position: absolute;
      &.obj-1 {
        left: 0px;
        top: calc(15%);
        animation: rippleAni 5s linear infinite;
      }
      &.obj-2 {
        left: 0px;
        top: calc(395px);
        animation: rippleAni 5s linear infinite;
      }
      &.obj-3 {
        right: 6px;
        top: calc(15%);
        animation: rippleAni 5s linear infinite;
      }
    }
  }
  .responsive-img {
    padding: 0;
    margin: 0;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h5 {
      font-weight: bold;
      font-size: 30px;
      color: $white-color;
      text-transform: uppercase;
      padding: 14px 0;
      margin: 0;
    }
    P {
      font-weight: 200;
      font-size: 20px;
      color: $white-color;
      text-transform: capitalize;
      padding: 0;
      margin: 0;
    }
    .bet-Show {
      border: 1px solid $white-color;
      background: $white-color;
      color: $hedaer-bag-color;
      padding: 12px 20px;
      margin: 14px 0;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      svg {
        color: $hedaer-bag-color;
      }
    }
  }
}
.provider-box {
  position: relative;
  padding: 37px 0 0;
  .icon-box-a {
    img {
      position: absolute;
      &.objt-1 {
        left: 0px;
        top: calc(1%);
        animation: rippleAni 5s linear infinite;
      }
    }
  }
  .featured-heding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 51px 0 57px;
    position: relative;
    .featured-text {
      h5 {
        font-weight: bold;
        font-size: 30px;
        color: $black-color;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      P {
        font-weight: 200;
        font-size: 20px;
        color: $black-color;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
      }
    }
    .but-box {
      .bet-Show {
        border: 1px solid $hedaer-border-color;
        background: $hedaer-bag-color;
        color: $white-color;
        padding: 12px 20px;
        margin: 0 0;
        border-radius: 5px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          border: 1px solid $hedaer-border-color;
          background: $white-color;
          color: $hedaer-font-color;
        }
      }
    }
  }
  .slick-img {
    background: #141414 ;
    border: 2px solid $hedaer-bag-font-color;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 0 8px 20px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover img {
      transform: scale(1.2) translateY(3%);
      opacity: 0.4;
    }
    img {
      width: 60%;
      height: auto;
      opacity: 1;
      transform: scale(1.1) translateY(3%);
      transition: all 0.5s ease 0s;
    }
  }
}

.Jackpot-box-main {
  display: block;
  margin: 0;
  width: 100%;
  background: $win-box-color;

  .jackpot-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 35px 0px 23px;
    .jackpot-box-img {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      background: $footer-raund-color;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60px;
      }
    }
    .jackpot-box-text {
      text-align: center;
      margin: 10px 0 0;
      h5 {
        font-weight: bold;
        font-size: 25px;
        color: $hedaer-bag-color;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
      }
      P {
        font-weight: 200;
        font-size: 15px;
        color: $black-color;
        text-transform: capitalize;
        padding: 0;
        margin: 0;
      }
    }
  }
}
.footer-box {
  display: block;
  margin: 0;
  width: 100%;
  background: $hedaer-bag-color;

  .footer-logo {
    text-align: center;
    padding: 33px 0px;
    img {
      width: 138px;
    }
  }
  .footer-text {
    padding: 33px 0px;
    font-size: 15px;
    color: $white-color;
    font-weight: bold;
    text-align: center;
  }
  .footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 33px 0px;
    .icon-box {
      width: 30px;
      height: 30px;
      display: flex;
      margin: 2px 9px;
      justify-content: center;
      align-items: center;

      .icon-1,
      .icon-2,
      .icon-3,
      .icon-4 {
        max-width: 100%;
        background-size: 100%;
        background-image: url("../../assets/images/social-icon.webp");
      }
      .icon-1 {
        background-position: 0 0%;
        background-size: 100%;
      }
      .icon-2 {
        background-position: 0 33.333333%;
        background-size: 100%;
      }
      .icon-3 {
        background-position: 0 66.666667%;
        background-size: 100%;
      }
      .icon-4 {
        background-position: 0 100%;
        background-size: 100%;
      }
    }
  }
  .boder-divider {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
    border-width: thin 0 0;
    transition: inherit;
    border-color: $footer-raund-color;
  }
  .gaming-image-ru {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 12px 0;
    img {
      width: 207px;
      display: block;
      margin: 2px 7px;
    }
    .gmain-font {
      width: 100%;
      display: inline-block;
      margin: 2px 7px;
      h6 {
        font-size: 15px;
        font-weight: bold;
        color: $white-color;
        padding: 0;
        margin: 0;
      }
      p {
        font-size: 12px;
        font-weight: 200;
        color: $white-color;
        padding: 0;
        margin: 0;
      }
    }
  }
  .footer-font {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $win-box-color;

    a {
      color: $black-color;
      font-size: 12px;
      padding: 5px 0;
      font-weight: bold;
      text-decoration: none;
      text-align: center;
    }
  }
}

/* model */

/* model */

.modal-dialog {
  width: 400px;
  margin: 70px auto 0;
  transform: scale(0.5);
  .modal-content {
    background-color: #000;
  }
  .modal-header.model-header-box {
    background: $hedaer-bag-font-color;
    color: $black-gray-color;
    padding: 0 10px;
    margin: 0;
    height: 44px;
    line-height: 0px;
    justify-content: center;
    width: 100%;
    .modal-title {
      color: $white-color;
      font-size: 24px;
      font-weight: 700;
      padding: 0!important;
      margin: 0!important;
      margin: 0 0 21px;
      position: absolute;

    }
    .close {
      color:$white-color;
      background: transparent;
      border: none;
      font-size: 22px;
      font-weight: 400;
      text-shadow: none;
      line-height: 25px;
      height: 29px;
      width: 29px;
      border-radius: 5%;
      overflow: hidden;
      opacity: 1;
      position: absolute;
      left: auto;
      right: 8px;
      top: 7px;
      z-index: 1;
      transition: all 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid transparent;
    line-height: 7px;

      &:hover {
        //color: #ee3838;
        border: 2px solid transparent;
        box-shadow: $box-shadow-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .login-box-modal {
    padding:1rem 2rem 2rem!important;
    text-align: center;
    border: none;
.user-bx{
  img{
    width: 67%;
    margin: 12px auto 33px;
  }
}

    .form-group {
      text-align: left;
      margin-bottom: 20px;
      position: relative;
      .input-icon {
        color: $black-gray-color;
        font-size: 18px;
        transform: translateY(-50%);
        position: absolute;
        top: 43%;
        left: 10px;

        img {
          width: 25px;
        }
      }
      .form-control {
        font-size: 17px;
        height: 42px;
        width: 100%;
        padding: 6px 0 6px 37px;
        margin: 0 auto;
        border: 2px solid $win-box-color;
        // background-color: #1b1b1b;
        border-radius: 5px;
        box-shadow: none;
        outline: 0;
        font-weight: inherit;
        
      }


      &.checkbox {
        width: 100%;
        margin-top: 0;
        display: inline-block;
        label {
          color: $white-color;
          font-weight: normal;
          width: 100%;
          padding: 1px 22px;
          .font-box {
            font-weight: bold;
            color: $font-model-color;
          }
        }
        input[type="checkbox"] {
          margin-left: 0;
          position: absolute;
          top: 5px;
        }
      }
    }
    .btn-loing {
      color: $white-color;
      background: $login-btn-color;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 38px;
      width: 100%;
      height: 40px;
      padding: 0;
      border: none;
      border-radius: 5px;
      border: none;
      display: inline-block;
      transition: all 0.6s ease 0s;
      &:hover {
        color: $white-color;
      background-color: $login-btn-hov-color;
      }
      &:focus {
        outline: none;
      }
    }
  }
  .my-custom-stl{
    position: absolute;
    .custom-validation{
      color: red;
    }
  }
  .field-icon{
    position: absolute;
    color: black;
    top: 16px;
    right: 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1199px) {
  .sports-games-box .sports-box .sports-text {
    font-size: 21px;
  }
  .win-box .card-box .card-text h5 {
    font-size: 25px;
  }
  .win-box .card-box .card-text p {
    font-weight: 200;
    font-size: 11px;
  }
  .win-box .card-box .card-img img {
    width: 70px;
    height: auto;
  }
}
@media screen and (max-width: 992px) {
  .logo-header img {
    width: 36%;
padding: 6px 0 0 ;
  }

  .sports-games-box .sports-box .sports-icon::after{
    top: -56px;
  }
  .sports-games-box .sports-box .sports-icon .icon-img{
    width: 77px;
  }

  .sports-games-box .sports-box .sports-text {
    font-size: 14px;
  }
  .win-box .card-box .card-img {
    margin: 0 10px;
  }
  .win-box .card-box .card-text h5 {
    font-size: 15px;
    margin: 0;
  }
  .win-box .card-box .card-text p {
    font-weight: 200;
    font-size: 8px;
    line-height: 8px;
  }
  .win-box .card-box .card-img img {
    width: 33px;
    height: auto;
  }
  .win-box .card-box .card-img {
    width: 31px;
  }

  .provider-box .slick-img {
    height: 96px;
  }
  .application-box .text-box {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .logo-header img {
    width: 46% !important;
  }

  .btn-header {
    padding: 1px 14px;
  }
  .sports-games-box .sports-box .sports-text {
    font-size: 11px;
  }
  .sports-games-box .sports-heding .but-box .bet-Show {
    padding: 11px 4px;
  }
  .casino-peg-box .casino-heding .but-box .bet-Show {
    padding: 11px 4px;
  }
  .featured-box .featured-heding .but-box .bet-Show {
    padding: 11px 4px;
  }
  .provider-box .featured-heding .but-box .bet-Show {
    padding: 11px 4px;
  }
  .featured-box .featured-heding {
    margin: 50px 0 18px;
  }
  .provider-box .featured-heding {
    margin: 50px 0 18px;
  }
  .featured-heding {
    margin: 50px 0 18px;
  }
  .provider-box .slick-img {
    height: 85px;
  }
  .win-box .card-box .card-text p{
    display: none;
  }
  .win-box .card-box{
    margin: 8px 0 8px;
  }
  .sports-games-box .sports-heding{
    margin: 27px 0 46px;
  }
}
@media screen and (max-width: 576px) {
  .header-box .loginbtn-center .btn-header {
    padding: 7px 7px;
    font-size: 14px;
    margin: 0 0 0 6px;
  }
  .win-box .card-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }
  .sports-games-box .sports-box .sports-icon .icon-img {
    top: 16px;
    right: -19px;
    width: 70px;

}
.provider-box {

  padding: 28px 0 0;
}
  .logo-header img {
    width: 100% !important;
  }
  .modal-body .form-group {
    margin-bottom: 9px;
  }
  .win-box .card-box .card-text {
    align-items: center;
  }
  .sports-games-box .sports-heding .sports-text h5 {
    font-size: 20px;
  }
  .sports-games-box .sports-heding .sports-text P {
    font-size: 12px;
  }
  .casino-peg-box .casino-heding .casino-text {
    width: 63%;
  }
  .sports-games-box .sports-heding .sports-text {
    width: 63%;
  }

  .casino-peg-box .casino-heding .casino-text h5 {
    font-size: 20px;
  }
  .casino-peg-box .casino-heding .casino-text P {
    font-size: 12px;
  }
  .featured-box .featured-heding .featured-text {
    width: 66%;
  }
  .featured-box .featured-heding .featured-text h5 {
    font-size: 20px;
  }
  .featured-box .featured-heding .featured-text P {
    font-size: 12px;
  }
  .provider-box .featured-heding .featured-text {
    width: 62%;
  }
  .provider-box .featured-heding .featured-text h5 {
    font-size: 20px;
  }
  .provider-box .featured-heding .featured-text P {
    font-size: 12px;
  }
  .Jackpot-box-main .jackpot-box .jackpot-box-text h5 {
    font-size: 18px;
  }
  .footer-font .footer-font a {
    font-size: 12px;
  }
  .modal-dialog {
    width: 95% !important;
  }
  .modal-content .modal-body {
    padding: 9px 20px 13px !important;
  }
  .footer-box .footer-social {
    padding: 8px 0px 8px;
  }
  .footer-box .footer-text {
    padding: 0px 0px;
  }
  .footer-box .footer-logo {
    padding: 8px 0px 8px;
  }
  .footer-box .gaming-image-ru {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 318px) {
  .header-box .loginbtn-center .btn-header {
    padding: 7px 4px;
    font-size: 12px;
    margin: 0px 0 0 3px;
  }
  .sports-games-box .sports-heding .sports-text {
    width: 61%;
  }
  .sports-games-box .sports-heding .sports-text h5 {
    font-size: 16px;
  }
  .sports-games-box .sports-heding .sports-text P {
    font-size: 9px;
    line-height: 10px;
  }
  .sports-games-box .sports-heding .but-box .bet-Show {
    font-size: 7px;
  }
  .casino-peg-box .casino-heding .casino-text {
    width: 61%;
  }
  .casino-peg-box .casino-heding .casino-text h5 {
    font-size: 16px;
  }
  .casino-peg-box .casino-heding .casino-text P {
    font-size: 9px;
    line-height: 10px;
  }

  .casino-peg-box .casino-heding .but-box .bet-Show {
    font-size: 7px;
  }
  .featured-box .featured-heding .featured-text {
    width: 61%;
  }
  .featured-box .featured-heding .featured-text h5 {
    font-size: 16px;
  }
  .featured-box .featured-heding .featured-text P {
    font-size: 9px;
    line-height: 10px;
  }
  .featured-box .featured-heding .featured-text {
    width: 61%;
  }
  .featured-box .featured-heding .featured-text {
    width: 61%;
  }
  .featured-box .featured-heding .featured-text h5 {
    font-size: 16px;
  }
  .provider-box .featured-heding .featured-text {
    width: 61%;
  }
  .provider-box .featured-heding .featured-text h5 {
    font-size: 16px;
  }
  .provider-box .featured-heding .featured-text P {
    font-size: 9px;
    line-height: 10px;
  }
  .provider-box .featured-heding .but-box .bet-Show {
    font-size: 7px;
  }
  .featured-heding .featured-text P {
    font-size: 9px;
    line-height: 10px;
  }
  .featured-heding .featured-text h5 {
    font-size: 16px;
  }
  .featured-box .featured-heding .featured-text P {
    font-size: 9px;
    line-height: 10px;
  }
  .featured-heding .featured-text {
    width: 61%;
  }
  .featured-box .featured-heding .featured-text h5 {
    font-size: 16px;
  }
  .featured-box .featured-heding .featured-text P {
    font-size: 9px;
    line-height: 10px;
  }
  .featured-box .featured-heding .but-box .bet-Show {
    font-size: 7px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background-clip: padding-box;
  border: 1px solid transparent;
  min-height: 10px;
  transition: all 0.3s linear;
}

::-webkit-scrollbar-thumb:hover {
  background: #929292;
}
input:-internal-autofill-selected{
  background: #fff  !important;
}
button, input, optgroup, select, textarea {
  font-family: $font-family1 !important;
}

