<div class="main-login">
<header class="header-box">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 float-left">
        <a href="#" class="logo-header"><img src="../../assets/images/white_logo.png" alt=""></a>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 loginbtn-center">
        <!--<button type="button" class="btn btn-header" data-bs-toggle="modal" data-bs-target="#myModal">-->
          <!--REGISTER-->
        <!--</button>-->
        <button type="button" class="btn btn-header login-btn" (click)="loginModalData()" >
          LOGIN
        </button>
      </div>
    </div>
  </div>
</header>
<!-- sluider -->
<section class="container-fluid p-0">
  <div id="demo" class="carousel slide p-0" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let img of bannerImages; let i = index;">
        <div id="img{{i}}" class="carousel-item">
          <img src="{{img.apiUrl}}" class="d-block" alt="Los Angeles" style="width: 100%; ">
        </div>
      </ng-container>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>
<section class=" provider-box ">
  <div class="container">
    <div class="row ">
      <!-- <div class="icon-box-a">
        <img src="../../assets/images/doodale-Images/img-3.svg" alt="" class="objt-1">
      </div> -->
      <!-- <div class="col-xl-12 col-sm-12 col-12">
        <div class="featured-heding">
          <div class="featured-text">
            <h5>GAME PROVIDERS</h5>
            <p>To meet today's challenges & earn Money</p>
          </div>
          <div class="but-box">
            <a (click)="loginModalData()" class="bet-Show">
              Show All »
            </a>
          </div>
        </div>
      </div> -->
      <div class="col-xl-12 col-12 p-0 m-0">
        <ngx-slick-carousel class="slick-slider " #slickModal="slick-carousel" [config]="slideConfig1">
          <div ngxSlickItem *ngFor="let slide of brandImages" class="slick-img">
            <img (click)="loginModalData()" src="{{slide}}" alt="img" />
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!-- <section class="win-box ">
  <div class="container">
    <div class="row ">
      <div class="col-xl-4 col-sm-4 col-4">
        <div class="card-box">
          <div class="card-img">
            <img src="../../assets/images/play.svg" alt="img">
          </div>
          <div class="card-text">
            <h5>Play </h5>
            <p>A huge collection of web and mobile games.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4  col-sm-4 col-4">
        <div class="card-box">
          <div class="card-img">
            <img src="../../assets/images/win.svg" alt="img">
          </div>
          <div class="card-text">
            <h5>Win </h5>
            <p>Points and cash from playing and competing.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4  col-sm-4 col-4">
        <div class="card-box">
          <div class="card-img">
            <img src="../../assets/images/earn.svg" alt="img">
          </div>
          <div class="card-text">
            <h5>Earn </h5>
            <p>Your Wombucks or prize money from challenges.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class=" icon-shape-box">
  <div class="icon-shape-area">
    <img src="../../assets/images/doodale-Images/img-1.svg" alt="" class="obj-1">
    <img src="../../assets/images/doodale-Images/img-2.svg" alt="" class="obj-2">
    <img src="../../assets/images/doodale-Images/img-4.svg" alt="" class="obj-3">
  </div>
  <div class="container ">
    <div class="sports-games-box">
      <div class="row ">
        <div class="col-xl-12 col-sm-12 col-12">
          <div class="sports-heding">
            <div class="sports-text">
              <h5>sports games</h5>
              <p>to meet today's challenges & earn money</p>
            </div>
            <div class="but-box">
              <a (click)="loginModalData()" class="bet-Show">
                Show All »
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img " viewBox="0 0 100 100">
                <path d="M51.7585 65.9887C51.2116 65.6762 51.0442 65.2186 51.1 64.5935C51.4237 61.368 51.7139 58.1313 52.0376 54.8946C52.0599 54.6267 52.1938 54.3477 52.3501 54.1244C56.5243 48.2425 57.1047 42.0258 54.1024 35.4742C53.9907 35.2287 53.9015 34.9274 53.9349 34.6595C54.3367 30.3067 54.7609 25.9427 55.1738 21.5898C55.2966 20.2505 55.4194 18.9112 55.5533 17.5049C58.8012 17.8062 62.0267 18.1076 65.3193 18.4201C65.2411 19.3465 65.163 20.2505 65.0737 21.1546C64.7277 24.8377 64.3817 28.5097 64.0357 32.1929C63.6897 35.8202 63.3437 39.4476 63.0089 43.0638C62.6741 46.6688 62.3392 50.2739 61.9933 53.8901C61.6473 57.5286 61.2901 61.1782 60.9664 64.8168C60.9218 65.3525 60.7097 65.7208 60.2744 65.9998C57.4284 65.9887 54.5934 65.9887 51.7585 65.9887Z" fill="#fff"/>
                <path d="M16.3109 65.9887C15.8421 65.6762 15.6859 65.2409 15.6301 64.6828C15.0497 58.4103 14.447 52.1489 13.8555 45.8764C13.3644 40.7311 12.8956 35.5859 12.4157 30.4406C12.0474 26.5677 11.679 22.6836 11.3219 18.8107C11.3107 18.7103 11.3107 18.5987 11.2996 18.4201C14.5363 18.1187 17.7618 17.8174 21.0544 17.5049C21.166 18.621 21.2776 19.7036 21.378 20.7862C21.7575 24.8377 22.1481 28.9004 22.5276 32.9518C22.5723 33.376 22.5946 33.8112 22.6504 34.2354C22.7174 34.7823 22.6169 35.2622 22.3825 35.7868C19.5253 42.2379 20.1503 48.343 24.2353 54.1021C24.3915 54.3253 24.5478 54.6044 24.5701 54.8611C24.8938 58.1089 25.1728 61.368 25.4965 64.6159C25.5634 65.252 25.396 65.6985 24.8268 65.9887C21.9919 65.9887 19.157 65.9887 16.3109 65.9887Z" fill="#fff"/>
                <path d="M34.0906 65.989C33.5549 65.71 33.3763 65.2524 33.3875 64.6609C33.4098 63.422 33.3986 62.1831 33.3986 60.9554C33.3986 60.7768 33.3986 60.6094 33.3986 60.375C36.7023 61.3237 39.939 61.2456 43.2204 60.3862C43.2204 61.971 43.2315 63.4889 43.2204 65.0069C43.2204 65.4979 42.8967 65.777 42.4949 65.989C39.6935 65.989 36.892 65.989 34.0906 65.989Z" fill="#fff"/>
                <path d="M49.1022 54.8497C48.4325 55.3743 47.8186 55.8765 47.1824 56.3453C47.0597 56.4346 46.8141 56.4457 46.6467 56.4011C40.2179 54.5484 35.6084 50.575 33.0079 44.4029C30.9096 39.4139 30.8984 34.3356 32.7623 29.2462C32.9409 28.7662 33.1864 28.4984 33.6664 28.3979C34.0124 28.331 34.3584 28.2193 34.6932 28.1189C34.7267 28.1635 34.7713 28.197 34.7602 28.2193C34.682 28.9671 34.9052 29.3913 35.4633 29.5363C35.9767 29.6703 36.479 29.4247 36.6687 28.7439C36.9366 27.8064 37.5393 27.6613 38.3875 27.6724C46.3119 27.8064 52.83 33.5432 53.8456 41.3671C54.3925 45.519 53.3657 49.3026 50.9214 52.6956C50.7428 52.9412 50.5866 53.0751 50.2629 52.9858C49.9504 52.8965 49.6267 52.8742 49.3031 52.8407C48.7227 52.7849 48.2986 53.0528 48.1758 53.5215C48.0419 54.0238 48.2428 54.4368 48.7673 54.7046C48.8566 54.7493 48.9236 54.7716 49.1022 54.8497ZM40.8541 48.7669C40.709 48.4544 40.642 48.22 40.5081 48.0414C39.7492 47.0816 38.979 46.1441 38.2089 45.2065C37.8853 44.8159 37.3495 44.7489 36.9477 45.0056C36.5236 45.2735 36.3115 45.865 36.6129 46.2668C37.4276 47.3383 38.2647 48.3874 39.1688 49.3808C39.3474 49.5817 39.8943 49.6152 40.1956 49.5035C40.4635 49.4143 40.6309 49.0236 40.8541 48.7669ZM34.8383 38.2755C34.1575 38.2643 33.6329 38.7666 33.7891 39.3581C34.1128 40.6305 34.5146 41.8917 34.9499 43.1417C35.1285 43.644 35.6977 43.7891 36.1776 43.5882C36.6464 43.3873 36.8696 42.9073 36.7245 42.3939C36.3897 41.2667 36.0437 40.1394 35.7088 39.0121C35.5526 38.5545 35.2401 38.2978 34.8383 38.2755ZM33.3762 34.6593C33.3873 34.6593 33.3985 34.6593 33.4097 34.6593C33.4097 34.9941 33.3985 35.3401 33.4097 35.675C33.432 36.166 33.7222 36.4786 34.2021 36.5567C34.682 36.6348 35.0503 36.4227 35.2512 35.9763C35.3405 35.7754 35.3517 35.5299 35.374 35.2955C35.4633 34.3356 35.5303 33.3646 35.6419 32.4048C35.72 31.6793 35.4745 31.1882 34.8941 31.0766C34.2914 30.965 33.8115 31.3444 33.6998 32.0811C33.5659 32.9516 33.4878 33.811 33.3762 34.6593ZM42.6957 50.0281C42.1265 50.0728 41.8028 50.3071 41.6689 50.7424C41.5238 51.2112 41.6912 51.613 42.1041 51.8474C43.1086 52.4278 44.1243 52.997 45.1623 53.5215C45.7873 53.8452 46.3677 53.6332 46.6021 53.0751C46.8253 52.5505 46.5797 52.0594 45.9659 51.7358C45.0507 51.2558 44.1466 50.7424 43.2314 50.2513C43.0417 50.1621 42.8185 50.0839 42.6957 50.0281Z" fill="#fff"/>
                <path d="M38.1755 59.0684C33.1976 59.1688 26.9586 56.3116 24.0344 49.9498C21.3111 44.0455 22.695 37.4382 26.2889 33.3532C27.405 33.7773 27.9073 33.5653 28.0524 32.3934C28.231 30.9313 29.3917 30.5295 30.4967 29.7705C28.789 35.6636 29.1573 41.2664 31.8471 46.6238C34.537 51.9922 38.8005 55.6642 44.4034 57.7849C44.4145 57.8407 44.4145 57.8965 44.4257 57.9523C43.3542 58.2425 42.2939 58.5661 41.2113 58.8117C40.9992 58.8563 40.7091 58.6554 40.4747 58.555C40.2291 58.4434 39.9947 58.3094 39.7604 58.1867C38.9679 57.8072 38.4545 58.0862 38.1755 59.0684ZM25.5523 38.2306C25.53 38.2306 25.5076 38.2306 25.4965 38.2418C25.6304 39.3802 25.7309 40.5186 25.8983 41.6571C25.9764 42.204 26.4898 42.5053 27.0256 42.4049C27.5166 42.3156 27.8515 41.8691 27.818 41.3446C27.7175 39.8936 27.6171 38.4538 27.5055 37.0029C27.4608 36.4337 27.059 36.0542 26.5345 36.0542C26.0099 36.0542 25.5969 36.4448 25.5634 37.0029C25.53 37.4047 25.5523 37.8177 25.5523 38.2306ZM28.1975 44.771C27.2711 44.7487 26.7577 45.4184 27.0479 46.1104C27.6394 47.4943 28.2756 48.856 28.9341 50.2065C29.1908 50.731 29.7935 50.8761 30.2623 50.6194C30.7422 50.3627 30.8985 49.8158 30.6417 49.2689C30.0502 47.9854 29.481 46.6907 28.856 45.4295C28.6997 45.117 28.3314 44.9161 28.1975 44.771ZM32.3048 52.2824C32.0034 52.5168 31.6797 52.6842 31.5012 52.9521C31.2444 53.3316 31.3337 53.7669 31.6574 54.0794C32.7065 55.1285 33.7557 56.1777 34.8383 57.2045C35.2848 57.6174 35.854 57.5616 36.2335 57.1487C36.6129 56.7357 36.546 56.1553 36.0995 55.7201C35.1062 54.7379 34.1128 53.7557 33.1083 52.7847C32.9074 52.5949 32.6396 52.4833 32.3048 52.2824Z" fill="#fff"/>
                <path d="M43.1759 17.9062C43.1759 20.73 43.1759 23.5203 43.1759 26.3998C39.8833 25.5181 36.6466 25.4958 33.4099 26.4222C33.4099 23.5649 33.4099 20.7523 33.4099 17.9062C36.7024 17.9062 39.9392 17.9062 43.1759 17.9062Z" fill="#fff"/>
                <path d="M11.0765 16.4666C10.9872 15.3282 10.8532 14.2568 10.8309 13.1853C10.8198 12.2366 11.6234 11.4888 12.6502 11.3884C14.5476 11.1986 16.4338 11.02 18.3312 10.8526C19.6259 10.741 20.5076 11.5 20.6192 12.7946C20.6973 13.6987 20.7755 14.6027 20.8647 15.5514C17.5945 15.8528 14.3802 16.1541 11.0765 16.4666Z" fill="#fff"/>
                <path d="M65.5203 16.4662C62.2278 16.1537 59.0134 15.8524 55.7097 15.551C55.8548 14.3903 55.9218 13.2519 56.145 12.1357C56.3124 11.3321 57.1495 10.7853 57.9866 10.8522C60.0291 11.0085 62.0604 11.1871 64.0917 11.4214C65.1074 11.533 65.7993 12.359 65.7659 13.3411C65.7435 14.3568 65.6208 15.3725 65.5203 16.4662Z" fill="#fff"/>
                <path d="M33.4544 15.8641C33.4544 14.7815 33.3986 13.7212 33.4656 12.6721C33.5325 11.6899 34.3919 10.9756 35.4299 10.9756C37.4166 10.9756 39.4144 10.9979 41.4011 11.0426C42.3833 11.0649 43.1981 11.8462 43.2315 12.8172C43.265 13.8217 43.2427 14.8262 43.2427 15.8641C39.9837 15.8641 36.7469 15.8641 33.4544 15.8641Z" fill="#fff"/>
                </svg>
                     
            </div>
            <div class="sports-text">
              <p>Cricket </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img " viewBox="0 0 100 100">
                <path d="M45.9341 48.838C38.8224 48.5193 33.5724 45.6679 30.3688 39.5793C28.3057 35.6712 28.0709 31.4444 29.2618 27.2512C31.8113 18.3112 37.3799 12.0046 46.2863 9.05253C52.1569 7.10687 57.8597 7.79456 62.8748 11.6523C67.7054 15.3759 69.6678 20.4581 69.1982 26.4964C68.3763 37.1808 58.9667 46.3556 49.7583 48.3013C48.3997 48.5696 46.9908 48.687 45.9341 48.838ZM51.6201 41.5082C50.6976 40.5857 49.7919 39.6632 48.9365 38.8078C48.0643 39.68 47.1585 40.5857 46.3366 41.4076C47.2088 42.2965 48.1314 43.2191 49.0203 44.108C49.859 43.2694 50.7647 42.3636 51.6201 41.5082ZM48.0475 38.0194C47.2256 37.1976 46.4037 36.3589 45.6825 35.6209C44.8271 36.4763 43.9046 37.3988 43.0827 38.2207C43.8375 38.9923 44.6593 39.8309 45.4477 40.636C46.3199 39.7471 47.2088 38.8581 48.0475 38.0194ZM59.5537 28.0898C60.493 29.0291 61.3988 29.9349 62.2206 30.7567C63.009 29.9684 63.8476 29.1298 64.5688 28.4085C63.7302 27.5531 62.8245 26.6474 61.9187 25.7249C61.1472 26.4796 60.3253 27.3015 59.5537 28.0898ZM55.696 37.315C56.4843 36.5266 57.3229 35.688 58.0777 34.9332C57.2223 34.061 56.3166 33.1553 55.4611 32.2999C54.6728 33.0714 53.8509 33.8933 53.0626 34.6816C53.9348 35.5538 54.8405 36.4595 55.696 37.315ZM42.1602 37.3485C43.0491 36.4763 43.9549 35.5706 44.8103 34.7152C44.0052 33.9101 43.1833 33.0882 42.4285 32.3334C41.5563 33.2056 40.6506 34.1113 39.7784 34.9668C40.55 35.7383 41.3718 36.5602 42.1602 37.3485ZM56.3166 31.4109C57.2055 32.2999 58.1113 33.2056 58.9667 34.061C59.755 33.2727 60.5937 32.434 61.3484 31.6793C60.493 30.8071 59.5873 29.9013 58.7319 29.0291C57.9268 29.8007 57.1049 30.6226 56.3166 31.4109ZM41.5396 31.4444C40.7345 30.6226 39.9126 29.8007 39.1746 29.0459C38.3024 29.9181 37.3799 30.8238 36.5245 31.696C37.296 32.4676 38.1179 33.3062 38.9062 34.0946C39.7616 33.2056 40.6842 32.2999 41.5396 31.4444ZM33.2034 28.3582C34.0253 29.1969 34.8472 30.0355 35.6355 30.8238C36.5245 29.9349 37.4302 29.0291 38.2689 28.1905C37.4638 27.3854 36.6419 26.5635 35.8368 25.7416C34.9646 26.597 34.0756 27.486 33.2034 28.3582ZM52.4252 40.5689C53.2303 39.7806 54.0522 38.9419 54.807 38.2039C53.9516 37.3317 53.0458 36.426 52.1904 35.5706C51.4021 36.3421 50.5802 37.164 49.7919 37.9356C50.6808 38.8245 51.5866 39.7303 52.4252 40.5689ZM62.1703 19.0995C61.2646 19.9885 60.4259 20.8439 59.6208 21.6323C60.3924 22.4038 61.2143 23.2425 62.0026 24.0308C62.8412 23.1921 63.6967 22.3367 64.6024 21.431C63.7973 20.6594 62.9587 19.8543 62.1703 19.0995ZM58.866 15.8624C57.9435 16.7849 57.1217 17.6067 56.3501 18.3783C57.1217 19.1499 57.9435 19.9717 58.6983 20.7601C59.5202 19.9382 60.3588 19.0828 61.0633 18.3951C60.3421 17.5732 59.5705 16.6842 58.866 15.8624ZM40.03 21.5819C40.8351 22.387 41.6738 23.2257 42.4453 23.9972C43.2169 23.2257 44.0555 22.4038 44.8103 21.649C44.0052 20.8439 43.1666 20.0053 42.395 19.2169C41.6067 20.022 40.7848 20.8272 40.03 21.5819ZM46.5379 21.5987C47.3598 22.4374 48.1649 23.2592 48.9029 24.014C49.708 23.2089 50.5467 22.3703 51.3182 21.6155C50.5467 20.8439 49.7416 20.0053 48.9532 19.2169C48.1313 19.9885 47.3095 20.8104 46.5379 21.5987ZM39.141 22.4877C38.3359 23.276 37.5141 24.0979 36.7593 24.8527C37.5644 25.6578 38.403 26.4964 39.1746 27.268C39.9462 26.4964 40.7848 25.6745 41.5731 24.8862C40.7848 24.0979 39.9461 23.276 39.141 22.4877ZM45.7831 22.4877C44.9277 23.3431 44.0891 24.1817 43.3343 24.9198C44.0891 25.6745 44.911 26.4964 45.6322 27.2009C46.4205 26.4125 47.2424 25.5907 48.0643 24.7688C47.3263 24.0308 46.5211 23.2257 45.7831 22.4877ZM56.3333 24.8527C57.1552 25.6745 57.9771 26.4964 58.6983 27.2176C59.4866 26.4293 60.3253 25.6074 61.0633 24.8527C60.3085 24.0811 59.5034 23.2592 58.7151 22.4709C57.9268 23.276 57.1049 24.0811 56.3333 24.8527ZM35.7194 32.5179C34.8807 33.3566 34.0421 34.1952 33.2705 34.95C34.0421 35.7215 34.8472 36.5602 35.5852 37.315C36.3903 36.5099 37.2289 35.688 38.0508 34.8661C37.296 34.0946 36.4741 33.2895 35.7194 32.5179ZM48.9365 17.5061C49.7416 16.7178 50.5634 15.8959 51.335 15.1411C50.5299 14.336 49.708 13.4974 48.9197 12.709C48.1314 13.4806 47.3095 14.3025 46.5211 15.0908C47.3262 15.8791 48.1481 16.701 48.9365 17.5061ZM39.9965 28.1066C40.8183 28.9453 41.6402 29.7671 42.3615 30.5051C43.1498 29.7168 43.9884 28.8782 44.7432 28.1234C43.9884 27.3518 43.1666 26.53 42.3782 25.7416C41.6067 26.53 40.7848 27.3351 39.9965 28.1066ZM51.3685 28.2576C50.5131 27.4021 49.6912 26.5635 48.9365 25.8087C48.1481 26.5803 47.3262 27.3854 46.5882 28.1066C47.3933 28.9285 48.2152 29.7504 49.0539 30.589C49.7919 29.8175 50.6138 29.0124 51.3685 28.2576ZM53.0626 28.1066C53.8845 28.9453 54.7063 29.7839 55.4276 30.5219C56.2327 29.7168 57.0713 28.8782 57.8261 28.1402C57.0713 27.3686 56.2495 26.5467 55.4611 25.7584C54.656 26.53 53.8342 27.3351 53.0626 28.1066ZM48.9365 32.2831C48.1314 33.0714 47.3095 33.8933 46.5379 34.6481C47.343 35.4532 48.1817 36.2918 48.9532 37.0634C49.7248 36.2918 50.5634 35.4699 51.3685 34.6816C50.5802 33.8933 49.7416 33.0714 48.9365 32.2831ZM38.923 35.7886C38.1011 36.6105 37.2792 37.4156 36.5412 38.1536C37.3463 38.9587 38.1682 39.7806 38.923 40.5522C39.6946 39.7974 40.5164 38.9755 41.3215 38.1872C40.5332 37.3821 39.7113 36.577 38.923 35.7886ZM55.3605 24.0308C56.2327 23.1754 57.0546 22.3367 57.8094 21.5987C57.0378 20.8271 56.2327 20.0053 55.5114 19.284C54.7063 20.0724 53.8845 20.911 53.0626 21.7329C53.8174 22.4709 54.6225 23.2928 55.3605 24.0308ZM52.2407 22.4877C51.4356 23.2928 50.597 24.1314 49.8254 24.903C50.597 25.6745 51.4189 26.5132 52.1736 27.268C52.9787 26.4629 53.8174 25.6242 54.5889 24.8527C53.8174 24.0811 52.9955 23.2592 52.2407 22.4877ZM45.7161 15.9462C44.8774 16.7681 44.0555 17.59 43.3175 18.328C44.1226 19.1331 44.9445 19.955 45.6993 20.7265C46.4708 19.9717 47.2927 19.1499 48.0978 18.3615C47.3095 17.5564 46.4876 16.7345 45.7161 15.9462ZM39.7617 41.4243C40.5668 42.263 41.3886 43.0849 42.1099 43.8229C42.915 43.0178 43.7536 42.1791 44.5252 41.4243C43.7536 40.6528 42.9485 39.8141 42.1602 39.0258C41.3551 39.8309 40.5332 40.6528 39.7617 41.4243ZM54.6057 18.4622C53.7503 17.6067 52.9284 16.7681 52.1736 16.0133C51.4021 16.7849 50.597 17.6067 49.8757 18.3112C50.6641 19.0995 51.4859 19.9214 52.291 20.7433C53.0458 20.0053 53.8677 19.2002 54.6057 18.4622ZM49.8086 31.3103C50.6641 32.1657 51.5027 33.0043 52.2407 33.7423C52.9955 32.9875 53.8342 32.1657 54.5554 31.4612C53.7671 30.6729 52.9452 29.8342 52.1233 29.0124C51.3518 29.7671 50.5466 30.5722 49.8086 31.3103ZM48.081 31.5283C47.2256 30.6729 46.4037 29.8342 45.6657 29.0794C44.8774 29.851 44.0555 30.6561 43.3175 31.3773C44.1226 32.1824 44.9445 33.0211 45.7664 33.843C46.5211 33.0714 47.343 32.2663 48.081 31.5283ZM62.858 24.8862C63.7302 25.7584 64.6527 26.6809 65.5417 27.5699C66.9338 26.9157 66.699 25.6074 66.7829 24.3662C66.8668 23.2425 66.0113 22.8567 65.4578 22.2696C64.5689 23.1754 63.7134 24.0308 62.858 24.8862ZM55.4611 17.5061C56.2495 16.7178 57.0713 15.8959 57.759 15.2082C57.021 14.3528 56.2495 13.4806 55.5282 12.6755C54.6393 13.5477 53.8342 14.336 53.0626 15.0908C53.8509 15.8959 54.6728 16.7178 55.4611 17.5061ZM39.1746 15.9127C38.336 16.7345 37.5141 17.5564 36.7425 18.328C37.5979 19.2002 38.403 20.0053 39.1075 20.7097C39.8958 19.9214 40.7345 19.0995 41.5396 18.2944C40.8183 17.5564 40.03 16.7681 39.1746 15.9127ZM59.0338 35.8222C58.2119 36.6273 57.39 37.4492 56.5849 38.2375C57.3397 38.9923 58.128 39.7806 58.8493 40.5018C59.7047 39.7303 60.5769 38.9587 61.4323 38.1872C60.5433 37.315 59.7718 36.5434 59.0338 35.8222ZM48.1146 45.0641C47.1585 44.108 46.2528 43.1855 45.4141 42.3301C44.6258 43.1016 43.8039 43.9235 42.9653 44.7454C44.1562 46.8252 47.1417 46.7581 48.1146 45.0641ZM55.763 39.0426C54.9244 39.8645 54.0857 40.6863 53.3142 41.4411C53.9348 42.0617 54.589 42.6991 55.2766 43.4036C56.1824 42.7662 57.1384 42.0953 58.0945 41.4243C57.2726 40.5689 56.5011 39.7806 55.763 39.0426ZM32.2977 34.1113C33.1699 33.2391 33.9917 32.4173 34.6962 31.7128C33.9079 30.9245 33.086 30.0858 32.2474 29.2472C30.5533 30.2536 30.6036 33.2056 32.2977 34.1113ZM35.7361 24.0811C36.6419 23.1754 37.4805 22.3535 38.2856 21.5484C37.5812 20.8271 36.8096 20.0556 35.9877 19.2169C35.3504 20.1562 34.713 21.0787 34.0924 22.018C34.0253 22.1187 34.0924 22.3703 34.193 22.4877C34.713 23.0412 35.2665 23.5947 35.7361 24.0811ZM42.3279 17.5396C43.1833 16.6842 44.022 15.8456 44.7768 15.1076C44.1897 14.5205 43.5691 13.8999 42.8814 13.229C41.9757 13.8496 41.0029 14.5205 39.9294 15.2418C40.6674 15.963 41.3215 16.5836 41.9757 17.221C42.1099 17.3551 42.244 17.4726 42.3279 17.5396ZM54.5722 11.8872C53.2806 10.5118 53.1968 10.495 51.3685 10.5956C50.4963 10.646 50.2112 11.384 49.7248 11.753C50.5802 12.6252 51.4021 13.447 52.1904 14.2354C52.962 13.4974 53.7503 12.709 54.5722 11.8872ZM62.3045 32.5011C61.4491 33.3398 60.6104 34.1617 59.8053 34.95C60.5434 35.688 61.3149 36.4428 62.1368 37.2647C62.7909 36.2918 63.4618 35.2854 64.0992 34.3294C63.4451 33.6585 62.858 33.0546 62.3045 32.5011ZM33.8408 40.7534C34.713 41.5921 35.5516 42.3972 36.34 43.1687C37.0277 42.5146 37.5812 41.9946 38.0676 41.525C37.2457 40.6863 36.4238 39.8477 35.602 39.009C35.082 39.5122 34.562 40.0322 33.8408 40.7534ZM63.7134 15.8288C62.858 15.0405 62.0026 14.2354 61.2143 13.5141C60.5769 14.1012 60.0402 14.6044 59.4699 15.1411C60.3421 15.963 61.1807 16.7681 61.969 17.5061C62.5561 16.9358 63.0928 16.4159 63.7134 15.8288ZM52.4923 42.2965C51.5698 43.2023 50.6641 44.108 49.6745 45.0976C49.9428 45.215 50.2615 45.5002 50.4796 45.4331C51.7375 45.0138 52.962 44.5106 54.2703 44.0242C53.5993 43.37 53.029 42.8165 52.4923 42.2965ZM32.2474 27.5699C33.1866 26.6306 34.1092 25.7081 34.9814 24.8359C34.5117 24.3327 33.975 23.7792 33.3544 23.125C32.8847 24.2992 32.4486 25.4229 31.979 26.5132C31.7777 26.9996 31.8616 27.3518 32.2474 27.5699ZM37.3128 43.8229C38.2185 44.2757 39.074 44.7454 39.9462 45.1479C40.8016 45.5337 40.8519 45.4834 41.3048 44.7622C40.4661 43.9235 39.661 43.0849 38.8559 42.2798C38.403 42.7494 37.8998 43.2526 37.3128 43.8229ZM48.2488 11.7194C47.9469 11.5685 47.6282 11.2833 47.4269 11.3504C46.2696 11.7194 45.1458 12.1555 44.0388 12.5581C44.6426 13.2122 45.1625 13.7657 45.649 14.2857C46.4876 13.4638 47.3095 12.6419 48.2488 11.7194ZM64.4347 16.6842C63.8308 17.2881 63.3276 17.7912 62.8077 18.328C63.6463 19.1331 64.5018 19.9382 65.4914 20.8775C65.6759 20.4749 65.9945 20.1059 65.9107 19.8879C65.4914 18.8144 64.9546 17.7912 64.4347 16.6842ZM33.237 39.7303C33.8576 39.1264 34.3272 38.64 34.7465 38.2375C33.9414 37.4324 33.1196 36.5937 32.197 35.6712C32.0796 35.9564 31.7945 36.3086 31.8616 36.5266C32.2809 37.6001 32.7673 38.64 33.237 39.7303ZM64.6695 33.323C65.0888 32.2495 65.4746 31.2264 65.8939 30.2032C66.112 29.7 65.961 29.3814 65.6088 29.2304C64.7366 30.1026 63.9147 30.9245 63.0928 31.7463C63.5457 32.216 64.0657 32.7192 64.6695 33.323ZM60.2582 12.8264C59.2854 12.3736 58.3461 11.971 57.4571 11.5182C56.8533 11.2162 56.4507 11.3337 56.1488 11.9543C57.0042 12.7594 57.8429 13.5812 58.6815 14.3528C59.2183 13.8496 59.6879 13.38 60.2582 12.8264Z" fill="#fff"/>
                <path d="M68.2757 59.2703C68.2757 64.8222 63.7637 69.3341 58.2119 69.3341C52.6936 69.3341 48.1984 64.8222 48.1816 59.3039C48.1816 53.752 52.6936 49.2401 58.2454 49.2569C63.7637 49.2569 68.2757 53.752 68.2757 59.2703ZM58.2622 61.2999C56.1656 61.3334 54.2702 61.954 52.6097 63.2455C52.3078 63.4804 52.0059 63.7319 52.3246 64.1177C52.6097 64.47 52.9116 64.2687 53.1968 64.0674C56.4675 61.7024 59.9563 61.7024 63.2438 64.0674C63.5289 64.2687 63.8308 64.4867 64.116 64.1177C64.4346 63.7152 64.116 63.4804 63.8308 63.2455C62.2038 61.9708 60.342 61.3334 58.2622 61.2999ZM58.2286 57.2911C60.342 57.2408 62.2038 56.6202 63.8476 55.3455C64.1495 55.1106 64.4514 54.8758 64.1495 54.4733C63.8643 54.121 63.5624 54.3055 63.2773 54.5236C60.0066 56.8886 56.501 56.8886 53.2303 54.5236C52.9452 54.3223 52.6433 54.1043 52.3581 54.4565C52.0394 54.8423 52.3413 55.0939 52.6265 55.3287C54.2702 56.6202 56.1656 57.2576 58.2286 57.2911Z" fill="#fff"/>
                <path d="M26.0414 57.14C24.1293 59.0521 22.1836 60.9978 20.2212 62.9434C18.3259 64.8388 16.4305 66.7341 14.552 68.6127C13.5791 69.5687 12.5057 69.5687 11.5328 68.6127C10.5432 67.6231 9.53684 66.6335 8.56401 65.6439C7.80922 64.8723 7.80923 63.6647 8.58078 62.9602C12.5392 59.2701 16.4976 55.5801 20.4728 51.89C20.5399 51.8229 20.6405 51.7559 20.6405 51.7559C22.452 53.5673 24.23 55.3453 26.0414 57.14Z" fill="#fff"/>
                <path d="M32.1469 55.5805C31.996 56.8888 31.4425 57.6604 30.4361 58.0965C29.5303 58.499 28.8091 58.2977 28.004 57.5094C25.4042 54.9096 22.8044 52.3098 20.1878 49.6932C20.1207 49.6261 20.0704 49.5758 20.0033 49.5087C18.5273 47.9991 18.9634 46.1038 20.9761 45.3658C21.7309 45.0806 22.3851 45.2819 22.9386 45.8186C25.8235 48.7036 28.7252 51.5718 31.5766 54.4903C31.8953 54.809 32.0127 55.3121 32.1469 55.5805Z" fill="#fff"/>
                <path d="M41.4223 49.3907C39.5437 50.0448 37.4471 50.7157 35.4176 51.5041C34.3441 51.9234 33.3377 52.5775 32.2978 53.0807C32.1301 53.1646 31.7946 53.1981 31.6772 53.0975C31.2075 52.6949 30.7715 52.2421 30.2012 51.6718C31.4927 50.9673 32.6668 50.2629 33.8912 49.6926C35.0653 49.1558 36.2898 48.7533 37.5142 48.3004C37.6987 48.2333 37.9335 48.183 38.118 48.2333C39.2753 48.6191 40.4494 49.0552 41.4223 49.3907Z" fill="#fff"/>
                <path d="M26.3098 47.7143C25.773 47.1776 25.2531 46.6744 24.7834 46.2215C25.4711 44.7287 26.2091 43.303 26.813 41.8102C27.4 40.3342 27.8194 38.8079 28.3058 37.3486C28.7251 38.3047 29.1612 39.3278 29.5973 40.351C29.6476 40.4684 29.6308 40.6361 29.5805 40.7703C28.8257 43.1856 27.8361 45.5003 26.444 47.6305C26.4104 47.664 26.3769 47.6808 26.3098 47.7143Z" fill="#fff"/>
                </svg>
                
            </div>
            <div class="sports-text">
              <p>Tennis </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img Moto-bor" viewBox="0 0 103 103">
                <path d="M40.3604 68.9995C39.1662 68.9995 37.9846 68.9995 36.7903 68.9995C36.6378 68.9614 36.4854 68.9106 36.3329 68.8979C32.064 68.6057 28.011 67.5003 24.2884 65.4167C14.3276 59.8137 8.88982 51.2632 8.19104 39.8412C7.82259 33.8444 9.25827 28.1779 12.4219 23.0578C18.2027 13.7068 26.6516 8.71368 37.6415 8.16736C42.4187 7.93867 47.0306 8.87885 51.3504 10.9752C60.7776 15.5617 66.533 23.0197 68.5277 33.3235C68.7437 34.467 68.8453 35.6231 69.0105 36.7793C69.0105 37.9736 69.0105 39.1552 69.0105 40.3495C68.9724 40.5146 68.9216 40.6925 68.9089 40.8577C68.6166 45.1012 67.4859 49.1287 65.4404 52.8513C60.7013 61.4273 53.5229 66.6745 43.8797 68.5294C42.7236 68.7454 41.542 68.8471 40.3604 68.9995ZM62.1243 22.8291C62.0862 22.7528 62.0354 22.5877 61.9465 22.4479C58.9989 18.2298 55.2127 15.0281 50.5499 12.8428C50.3594 12.7539 50.0799 12.7539 49.8893 12.8301C46.6114 14.1261 43.3588 15.4347 40.0809 16.7306C39.7506 16.8577 39.6489 17.0355 39.6489 17.3913C39.6617 20.504 39.6489 23.6041 39.6744 26.7168C39.6744 26.9455 39.8141 27.2632 39.992 27.4029C43.1047 29.9185 46.2302 32.4087 49.3557 34.899C49.5208 35.026 49.8385 35.0768 50.029 35.0133C53.2434 33.9588 56.4451 32.8915 59.6468 31.8116C59.8374 31.7481 60.0534 31.5067 60.1042 31.3034C60.3837 30.2489 60.6251 29.1943 60.8792 28.1398C61.2985 26.3992 61.6923 24.6586 62.1243 22.8291ZM37.5018 22.0414C37.5018 20.4913 37.4891 18.954 37.5018 17.404C37.5018 17.0737 37.4382 16.8704 37.0952 16.7306C33.7919 15.4474 30.514 14.1261 27.2106 12.8428C27.0073 12.7666 26.7024 12.792 26.4991 12.881C21.9126 15.0535 18.1519 18.2298 15.2551 22.4098C15.1281 22.5877 15.0772 22.8926 15.1153 23.1086C15.7252 25.7894 16.3604 28.4575 16.983 31.1382C17.0719 31.5194 17.2244 31.7354 17.631 31.8624C20.7691 32.8915 23.9073 33.9334 27.0328 34.9879C27.3631 35.1022 27.6045 35.0641 27.884 34.8354C30.9586 32.3579 34.0333 29.9058 37.1206 27.4537C37.4128 27.2123 37.5145 26.9709 37.5145 26.6025C37.4891 25.0906 37.5018 23.566 37.5018 22.0414ZM66.9396 41.4294C66.7871 41.2007 66.6982 41.0355 66.5711 40.8831C64.7035 38.6343 62.8104 36.3855 60.9554 34.1239C60.7268 33.8444 60.5362 33.819 60.2058 33.9207C57.0804 34.9752 53.9422 36.0043 50.8167 37.0715C50.5881 37.1478 50.3213 37.4146 50.2577 37.6433C49.3048 41.3532 48.3901 45.0758 47.4753 48.8111C47.4245 49.0016 47.4753 49.2939 47.5897 49.4463C49.0762 51.441 50.5881 53.4357 52.1 55.4177C52.2143 55.5702 52.5065 55.6845 52.6844 55.6464C55.7336 55.189 58.7829 54.6935 61.8321 54.2235C62.2006 54.1726 62.4165 53.9948 62.6071 53.6898C64.0047 51.441 65.1354 49.0652 65.8215 46.5114C66.2789 44.8344 66.5838 43.1192 66.9396 41.4294ZM10.3128 41.3277C10.3382 41.4675 10.3509 41.5056 10.3509 41.5437C10.821 45.8635 12.1932 49.8656 14.4801 53.5628C14.7342 53.9694 15.0137 54.1726 15.4838 54.2489C18.4568 54.6935 21.4298 55.1763 24.3901 55.6591C24.7585 55.7227 24.9618 55.621 25.1778 55.3288C26.6008 53.4103 28.0619 51.5046 29.4721 49.5734C29.6246 49.3574 29.7008 48.9889 29.6373 48.7348C28.7479 45.0504 27.8205 41.3659 26.8803 37.6814C26.8168 37.4527 26.5627 37.1732 26.3467 37.0969C23.2085 36.0297 20.0449 34.9879 16.9068 33.9334C16.5891 33.8317 16.4113 33.8698 16.208 34.1239C14.3276 36.3982 12.4346 38.6597 10.5542 40.9339C10.4526 41.0609 10.3763 41.2388 10.3128 41.3277ZM38.7469 67.1192C40.7416 66.8396 42.8125 66.5601 44.8835 66.2298C45.1249 66.1917 45.4171 65.963 45.5441 65.747C47.1577 62.9773 48.7331 60.1822 50.334 57.4124C50.4991 57.1202 50.5118 56.9169 50.2958 56.6247C48.8347 54.7317 47.3991 52.8005 45.938 50.9074C45.7728 50.6914 45.4298 50.5136 45.1757 50.5136C40.7797 50.4881 36.3837 50.4881 31.9878 50.5136C31.7464 50.5136 31.416 50.6787 31.2636 50.882C29.8152 52.7624 28.4049 54.6808 26.9692 56.5739C26.7659 56.8407 26.7278 57.044 26.9311 57.3489C28.7861 60.233 30.6156 63.117 32.4833 66.0011C32.6103 66.2044 32.8898 66.3823 33.1185 66.4204C34.948 66.6618 36.7903 66.8778 38.7469 67.1192Z" fill="#fff"/>
                </svg>
                
            </div>
            <div class="sports-text">
              <p>football </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img" viewBox="0 0 100 100">
                <path d="M15.6434 10C16.1682 10 16.6931 10 17.218 10C17.3229 10.03 17.4279 10.075 17.5329 10.09C20.5172 10.4499 22.9166 11.7996 24.5812 14.3489C24.6711 14.4839 24.9861 14.6039 25.151 14.5589C27.9103 13.929 30.6697 13.839 33.444 14.3789C38.5277 15.3537 42.6367 18.008 46.0558 21.8021C46.7756 22.6119 46.5807 23.7366 45.6809 24.3364C45.5609 24.4114 45.441 24.4864 45.306 24.5764C45.396 24.6364 45.441 24.6814 45.486 24.6964C49.535 26.316 52.5042 29.1802 54.7387 32.8543C55.1286 33.4842 55.3085 34.114 54.9186 34.8038C54.5437 35.4787 53.9139 35.7036 53.1641 35.6886C52.7592 35.6886 52.3543 35.6886 51.8744 35.6886C52.7442 36.9633 53.539 38.148 54.3638 39.3477C47.3305 40.1875 42.3667 43.6516 40.2073 50.355C38.0478 57.0583 40.1023 62.7569 45.261 67.4357C45.186 67.4507 45.1261 67.4657 45.0811 67.4657C40.0123 67.4657 34.9436 67.4657 29.8749 67.4657C29.17 67.4657 28.6601 67.1358 28.3302 66.521C26.1408 62.532 25.4209 58.333 26.7106 53.9091C27.4154 51.5097 28.3302 49.1703 29.125 46.8009C29.7549 44.9413 30.1148 43.0368 29.7549 41.0723C29.5749 40.0825 29.275 39.1378 28.7201 38.223C27.2205 41.0123 25.0161 42.9318 22.3317 44.3715C21.8068 44.6564 21.417 45.2263 21.072 45.7361C20.6521 46.351 20.3972 47.0708 20.0073 47.7006C18.8976 49.5152 16.7231 50.13 14.8186 49.1703C13.8438 48.6754 12.8691 48.1355 11.9243 47.5807C10.9196 46.9958 10.3197 46.111 10.0798 44.9563C9.89981 44.1015 10.0348 43.2767 10.3797 42.4969C11.4894 39.9326 11.9693 37.2482 11.8943 34.4589C11.8643 33.3642 11.9243 32.2545 12.0143 31.1597C12.2692 28.2205 12.9891 25.4012 14.6236 22.9118C15.3885 21.7271 16.3332 20.6624 17.233 19.5076C17.173 19.4477 17.053 19.3127 16.9331 19.1627C15.1635 17.1382 14.2187 14.8138 14.2637 12.0995C14.3087 11.0947 14.6686 10.3599 15.6434 10ZM19.7824 27.3807C19.7674 28.3105 20.5022 29.0603 21.4169 29.0903C22.3467 29.1203 23.1415 28.3255 23.1415 27.4107C23.1415 26.5109 22.3767 25.7311 21.4619 25.7311C20.5622 25.7161 19.7973 26.4509 19.7824 27.3807Z" fill="#fff"/>
                <path d="M67.5006 56.2481C67.3656 56.9379 67.2457 57.6428 67.0657 58.3176C65.5361 63.9862 60.3024 67.7803 54.4389 67.4503C48.6503 67.1354 43.8365 62.7565 42.9367 56.9829C41.692 48.9899 48.5003 41.9117 56.5083 42.8564C62.2369 43.5313 66.6308 47.8502 67.3806 53.5788C67.3956 53.7287 67.4556 53.8637 67.4856 53.9987C67.5006 54.7635 67.5006 55.4983 67.5006 56.2481ZM56.1934 50.1146C56.4933 50.3246 56.6733 50.4446 56.8383 50.5795C57.3781 50.9844 57.978 50.9544 58.3979 50.5045C58.8327 50.0397 58.8328 49.3348 58.2929 48.9149C57.813 48.525 57.2281 48.2251 56.6583 47.9852C56.3434 47.8502 56.1784 47.7752 56.1784 47.3853C56.1784 46.6355 55.7285 46.1706 55.0837 46.1556C54.4538 46.1556 53.9439 46.6355 53.9589 47.3553C53.9739 47.8352 53.779 48.0002 53.3591 48.1801C52.0244 48.75 51.2896 49.8147 51.1247 51.2394C50.9597 52.604 51.3346 53.8937 52.6093 54.4935C53.854 55.0784 54.0939 55.9182 53.974 57.1329C53.884 58.0627 53.9589 59.0224 53.9589 60.1172C53.4191 59.8622 52.9992 59.6823 52.6093 59.4573C51.9195 59.0824 51.2896 59.1724 50.9297 59.7123C50.5548 60.2821 50.7348 60.9869 51.4396 61.3618C52.2194 61.7667 53.0592 62.0817 53.944 62.4716C53.944 62.4866 53.9589 62.6365 53.9589 62.7865C53.9889 63.5963 54.4388 64.1062 55.0987 64.1062C55.7735 64.0912 56.2084 63.5963 56.1934 62.7715C56.1784 62.3516 56.3134 62.1566 56.7183 62.0067C58.4728 61.3468 59.6126 59.6373 59.5976 57.7927C59.5826 56.0082 58.5628 54.6735 56.6883 53.9687C56.6133 53.9387 56.5233 53.9387 56.4783 53.8937C56.3734 53.7887 56.2384 53.6538 56.2234 53.5188C56.1784 52.4241 56.1934 51.3443 56.1934 50.1146Z" fill="#fff"/>
                <path d="M56.2083 59.7128C56.2083 58.543 56.2083 57.4183 56.2083 56.3086C56.7781 56.3986 57.198 56.8485 57.303 57.4633C57.453 58.3781 57.048 59.2479 56.2083 59.7128Z" fill="#fff"/>
                <path d="M53.9139 50.4756C53.9139 51.2554 53.9139 51.9302 53.9139 52.6051C53.1491 52.3201 53.1191 51.3454 53.9139 50.4756Z" fill="#fff"/>
                </svg>
                
            </div>
            <div class="sports-text">
              <p>Horse Racing </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img" viewBox="0 0 100 100">
                <path d="M42.4331 18.0972C43.1239 18.5397 43.2642 19.1442 43.1347 19.9322C40.9003 32.7233 38.6983 45.5145 36.4855 58.3056C36.3559 59.0288 36.3559 59.0288 35.6327 58.9101C35.1578 58.8237 34.6828 58.7374 34.1971 58.6618C33.9164 58.6187 33.7977 58.4675 33.8517 58.1869C33.8733 58.0789 33.8841 57.971 33.9057 57.8739C36.1185 45.0827 38.3313 32.3023 40.5333 19.5004C40.6736 18.7016 40.9975 18.1727 41.7962 18C42.0121 18.0216 42.228 18.0648 42.4331 18.0972Z" fill="#fff"/>
                <path d="M41.2242 34.9367C42.5087 35.3361 43.7932 35.7354 45.1101 36.1564C45.4555 34.1379 45.7901 32.2057 46.1248 30.3167C44.8295 29.9174 43.5341 29.5072 42.228 29.1078C42.649 26.6683 43.0592 24.3152 43.4694 21.9404C44.2034 22.1887 44.9374 22.4586 45.6714 22.6852C47.582 23.2681 49.5465 23.538 51.5219 23.5596C54.4255 23.5919 57.3292 23.5164 60.2328 23.5272C62.791 23.5272 65.3493 23.6999 67.8319 24.3907C69.2028 24.7685 70.4981 25.319 71.7394 25.9883C72.0525 26.161 72.0201 26.3984 71.9769 26.6683C71.394 30.0469 70.8003 33.4363 70.2175 36.8149C69.7101 39.7185 69.2136 42.6222 68.7063 45.5366C68.5983 46.1735 68.4796 46.2274 67.9183 45.9252C65.7486 44.727 63.4171 44.1118 60.9668 43.8311C58.0416 43.4965 55.1055 43.6368 52.1803 43.6908C49.363 43.7448 46.5457 43.7663 43.7824 43.1727C42.595 42.9136 41.4401 42.471 40.2743 42.1148C40.0908 42.0609 39.9721 41.9853 40.0152 41.7478C40.4146 39.5026 40.7924 37.2682 41.1918 35.023C41.1918 34.9691 41.2242 34.9367 41.2242 34.9367ZM53.3137 24.3152C51.4895 24.1856 49.7084 24.0561 47.9274 23.9374C47.5928 25.8371 47.2689 27.7585 46.9343 29.6691C46.9775 29.6907 46.9991 29.7123 47.0207 29.7231C48.7046 29.8526 50.3993 29.9821 52.0832 30.0901C52.1695 30.1009 52.3314 29.9174 52.353 29.7986C52.5149 28.9567 52.6553 28.1039 52.8064 27.2512C52.9791 26.2689 53.1518 25.2866 53.3137 24.3152ZM58.333 30.6298C56.4872 30.6622 54.6846 30.6945 52.8927 30.7269C52.5473 32.6915 52.2235 34.6128 51.8781 36.5774C53.7131 36.545 55.5049 36.5018 57.3184 36.4695C57.653 34.5373 57.9876 32.6051 58.333 30.6298ZM65.1118 31.1047C65.0686 31.2451 65.0362 31.299 65.0254 31.3638C64.7124 33.134 64.4102 34.9151 64.0971 36.6853C64.054 36.9444 64.1511 36.9984 64.3778 37.0523C65.155 37.2574 65.9429 37.4409 66.7093 37.7C67.5513 37.9914 68.3716 38.38 69.2028 38.7254C69.2028 38.7254 69.2352 38.7039 69.2352 38.6823C69.559 36.858 69.8828 35.023 70.1851 33.1988C70.2067 33.1017 70.0663 32.9074 69.9584 32.8534C69.192 32.4972 68.4364 32.1194 67.6376 31.8279C66.8065 31.5365 65.9537 31.3422 65.1118 31.1047ZM45.693 36.912C45.3692 38.801 45.0345 40.7332 44.6783 42.7517C46.4918 42.8812 48.2728 43 50.0539 43.1295C50.4101 41.1002 50.7339 39.1788 51.0577 37.3006C49.2659 37.1711 47.4848 37.0415 45.693 36.912ZM63.2768 37.5057C61.5821 37.2358 59.9198 37.1171 58.2467 37.1171C57.9444 37.1171 57.8689 37.225 57.8149 37.4949C57.5342 39.1896 57.232 40.8951 56.9406 42.5898C56.919 42.7085 56.919 42.8165 56.9082 42.892C58.7108 43.0215 60.4811 43.1511 62.2621 43.2806C62.6075 41.3916 62.9314 39.4702 63.2768 37.5057ZM65.522 24.5526C65.3493 24.5202 65.2197 24.4879 65.0902 24.4771C63.579 24.3691 62.0678 24.272 60.5458 24.1532C60.222 24.1317 60.1033 24.2396 60.0601 24.5526C59.7902 26.2257 59.488 27.888 59.1966 29.5612C59.175 29.6907 59.1642 29.8202 59.1534 29.9174C60.956 30.0469 62.7371 30.1764 64.5289 30.306C64.8527 28.417 65.1874 26.5064 65.522 24.5526Z" fill="#fff"/>
                <path d="M33.5602 18.2378C32.8693 18.6803 32.729 19.2848 32.8693 20.0836C35.1253 32.8639 37.3597 45.6551 39.5941 58.4354C39.7237 59.1587 39.7237 59.1587 40.4577 59.0291C40.9326 58.9428 41.4076 58.8564 41.8933 58.7809C42.174 58.7377 42.2927 58.5866 42.2387 58.3059C42.2171 58.198 42.2063 58.09 42.1847 57.9929C39.9503 45.2125 37.7051 32.4214 35.4815 19.641C35.3412 18.853 35.0174 18.3241 34.2078 18.1406C33.9811 18.1622 33.7653 18.1946 33.5602 18.2378Z" fill="#fff"/>
                <path d="M34.8123 35.0666C33.5278 35.4767 32.2541 35.8761 30.9372 36.2863C30.581 34.2678 30.2464 32.3356 29.9117 30.4466C31.207 30.0365 32.5024 29.6371 33.8085 29.2269C33.3767 26.7874 32.9665 24.4342 32.5563 22.0703C31.8223 22.3186 31.0883 22.5884 30.3543 22.8259C28.4545 23.4196 26.49 23.6787 24.5038 23.711C21.6002 23.7542 18.6965 23.6787 15.7929 23.6894C13.2347 23.7002 10.6764 23.873 8.19376 24.5638C6.8121 24.9416 5.5168 25.5029 4.26467 26.1721C3.95163 26.3448 3.98402 26.5823 4.02719 26.8522C4.62088 30.2307 5.21456 33.6201 5.80824 36.9987C6.31557 39.9024 6.8229 42.806 7.33023 45.7097C7.43817 46.3465 7.5569 46.4005 8.1182 46.0875C10.277 44.8785 12.6194 44.2632 15.0589 43.9826C17.9841 43.648 20.9202 43.7775 23.8454 43.8207C26.6627 43.8638 29.48 43.8854 32.2433 43.281C33.4307 43.0219 34.5856 42.5793 35.7514 42.2123C35.9349 42.1584 36.0536 42.0828 36.0105 41.8453C35.6111 39.6001 35.2225 37.3657 34.8231 35.1205C34.8339 35.1097 34.8123 35.0666 34.8123 35.0666ZM22.6904 24.4774C24.5146 24.3479 26.2957 24.2184 28.0767 24.078C28.4113 25.9778 28.746 27.8992 29.0806 29.8098C29.0374 29.8314 29.0158 29.8529 28.9942 29.8637C27.3103 29.9933 25.6156 30.1336 23.9317 30.2415C23.8454 30.2523 23.6835 30.0688 23.6619 29.9501C23.5 29.1081 23.3596 28.2554 23.2085 27.4027C23.0358 26.4204 22.8631 25.4489 22.6904 24.4774ZM17.6927 30.8028C19.5385 30.8352 21.3411 30.8676 23.133 30.8892C23.4784 32.8537 23.813 34.7751 24.1584 36.7397C22.3234 36.7073 20.5316 36.6749 18.7181 36.6425C18.3727 34.6995 18.0381 32.7674 17.6927 30.8028ZM10.9139 31.2886C10.9679 31.4289 10.9895 31.4829 11.0003 31.5476C11.3133 33.3179 11.6155 35.0989 11.9394 36.8692C11.9825 37.1283 11.8854 37.1822 11.6587 37.247C10.8815 37.4521 10.0935 37.6356 9.33795 37.9054C8.496 38.2077 7.67564 38.5855 6.84449 38.9309C6.84449 38.9309 6.8121 38.9093 6.8121 38.8877C6.48828 37.0635 6.16445 35.2285 5.85142 33.4042C5.82983 33.3071 5.97015 33.1128 6.0781 33.0588C6.84449 32.7026 7.60008 32.314 8.39885 32.0334C9.21921 31.7203 10.0612 31.5261 10.9139 31.2886ZM30.3435 37.0527C30.6781 38.9417 31.0127 40.8738 31.369 42.8924C29.5555 43.0219 27.7745 43.1514 25.9934 43.281C25.6372 41.2516 25.3026 39.3303 24.968 37.4521C26.7706 37.3118 28.5517 37.1822 30.3435 37.0527ZM12.7597 37.6895C14.4544 37.4089 16.1167 37.301 17.7898 37.2902C18.0921 37.2902 18.1676 37.3981 18.2216 37.668C18.513 39.3627 18.8153 41.0573 19.1067 42.7628C19.1283 42.8816 19.1283 42.9895 19.1391 43.0651C17.3365 43.2054 15.5662 43.3349 13.7852 43.4645C13.4398 41.5647 13.1051 39.6541 12.7597 37.6895ZM10.4821 24.7365C10.6548 24.7041 10.7844 24.6717 10.9139 24.6609C12.4251 24.553 13.9363 24.445 15.4583 24.3263C15.7821 24.3047 15.9008 24.4127 15.944 24.7257C16.2247 26.3988 16.5269 28.0611 16.8183 29.7342C16.8399 29.8637 16.8507 29.9933 16.8615 30.0904C15.0589 30.2199 13.2778 30.3603 11.486 30.4898C11.1622 28.59 10.8276 26.6902 10.4821 24.7365Z" fill="#fff"/>
                </svg>                
            </div>
            <div class="sports-text">
              <p>Moto Gp Racing </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img" viewBox="0 0 100 100">
                <path d="M16.8898 71.0003C15.7988 70.7792 15.0322 70.1158 14.4867 69.187C13.6905 67.8453 13.7937 66.489 14.6193 65.2211C15.4302 63.968 16.6539 63.5552 18.0987 63.7468C19.6614 63.9532 20.6639 64.8525 21.0767 66.3416C21.4895 67.8454 21.0915 69.1575 19.9121 70.2042C19.4403 70.6318 18.8506 70.8234 18.2314 70.9414C18.1282 70.9561 18.0397 70.9856 17.9513 71.0151C17.5974 71.0003 17.2436 71.0003 16.8898 71.0003Z" fill="#fff"/>
                <path d="M41.7168 47.3823C41.3924 47.6624 41.0976 47.913 40.8175 48.1784C40.1098 48.8418 39.4021 49.5053 38.6797 50.1687C38.5028 50.3309 38.4881 50.4635 38.5618 50.6847C39.7265 54.2083 40.8912 57.7171 42.0411 61.2406C42.4392 62.4348 42.7045 63.6585 42.6898 64.9411C42.6751 65.8257 42.3655 66.5481 41.7315 67.1525C40.0803 68.6858 37.5003 68.6711 35.8786 67.1231C35.2594 66.5333 34.7434 65.8552 34.3895 65.0738C32.7826 61.5502 31.1608 58.0267 29.5538 54.5031C29.2442 53.8249 28.9936 53.132 28.6545 52.4686C28.0058 51.2154 28.0353 49.9475 28.3744 48.6354C28.6693 47.4707 29.2148 46.4535 30.1288 45.6279C32.5467 43.4312 34.9498 41.205 37.3529 38.9935C37.5445 38.8314 37.574 38.6987 37.4856 38.4628C37.0433 37.3571 36.601 36.2514 36.1734 35.1456C36.1145 34.9835 36.026 34.836 35.9081 34.6149C35.8343 34.7623 35.7901 34.836 35.7754 34.9245C35.7164 35.1604 35.6132 35.3963 35.6132 35.6322C35.5837 36.6199 35.0677 37.2686 34.3453 37.9026C32.414 39.6127 30.5416 41.3672 28.6545 43.1216C27.9616 43.7555 27.1655 44.0799 26.2514 44.1683C26.0155 44.1978 25.8976 44.2863 25.8239 44.5221C24.497 48.4438 23.1702 52.3801 21.7991 56.3018C21.2388 57.894 20.5459 59.4272 19.7351 60.9163C18.9242 62.4053 17.7005 63.2604 16.0493 63.4521C14.7962 63.5995 13.543 63.6437 12.2899 63.7322C11.9066 63.7617 11.5822 63.6142 11.3316 63.3046C11.022 62.9361 10.9188 62.5233 11.0662 62.0662C11.2136 61.6092 11.5527 61.3586 12.0098 61.2849C12.4963 61.2111 12.9828 61.1964 13.4546 61.1374C14.2949 61.049 15.15 60.99 15.9903 60.8721C16.7865 60.7541 17.3909 60.3266 17.7153 59.5747C18.2313 58.3658 18.8062 57.1863 19.2338 55.9479C20.6933 51.7167 22.0939 47.456 23.5092 43.21C23.5535 43.0921 23.5387 42.9152 23.465 42.812C22.949 41.9421 22.9195 40.9986 23.1112 40.055C23.1997 39.657 23.406 39.2737 23.6567 38.9346C25.0573 37.0475 26.4873 35.1751 27.9174 33.3028C28.9199 31.9906 28.9199 32.0054 29.1116 30.3542C29.4064 27.7299 29.6865 25.1057 29.9961 22.4815C30.1288 21.3905 30.2173 20.27 30.7775 19.2822C31.7358 17.6163 33.1069 16.4516 35.0087 16.0388C36.4535 15.7292 37.7952 16.0978 38.8272 17.1298C40.0213 18.3239 41.1418 19.5918 42.2475 20.8597C44.0904 22.968 45.9038 25.1204 47.496 27.4351C47.9383 28.0838 48.3364 28.7619 48.7492 29.4254C49.56 30.7522 49.9728 32.1823 50.135 33.7303C50.592 38.0205 51.108 42.296 51.5503 46.5714C51.6388 47.3528 51.9041 47.9572 52.4791 48.4585C54.322 50.095 56.1648 51.7167 58.0077 53.3679C60.2486 55.3582 62.4748 57.3485 64.7157 59.3388C64.8484 59.4567 64.9811 59.6042 65.1138 59.7368C66.5734 61.2849 66.7208 63.3046 65.5119 65.0738C64.3177 66.8135 62.4453 67.5506 60.5287 67.0051C60.1159 66.8872 59.7032 66.6808 59.3788 66.4007C56.0911 63.629 52.8182 60.8573 49.56 58.0414C48.0415 56.7293 46.5672 55.3582 45.0782 54.0018C43.9872 52.9993 43.25 51.7757 42.8225 50.3603C42.5571 49.4758 42.218 48.6059 41.9084 47.7361C41.8495 47.6476 41.7905 47.5444 41.7168 47.3823Z" fill="#fff"/>
                <path d="M26.5906 6.02782C30.35 5.83616 33.1069 9.65458 32.9743 12.5884C32.8268 15.7434 30.3353 19.1195 25.9124 18.8394C22.5952 18.6183 20.03 15.7434 20.0595 12.1166C20.0595 9.02063 22.9933 5.65924 26.5906 6.02782Z" fill="#fff"/>
                </svg>
                
            </div>
            <div class="sports-text">
              <p>Hockey </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img" viewBox="0 0 100 100">
                <path d="M44.8229 47.9318C37.7831 47.8075 31.6757 43.394 29.7331 36.8359C28.5987 33.0285 28.925 29.2521 30.3548 25.6001C32.9966 18.8556 37.5655 13.8826 44.4344 11.3029C49.6405 9.3448 54.8155 9.46912 59.6175 12.5306C64.9012 15.9029 67.1546 20.8914 66.7039 27.1076C65.9891 36.7893 57.6438 45.1967 49.1898 47.248C47.7601 47.5899 46.2837 47.7142 44.8229 47.9318ZM45.429 41.0163C46.2682 41.8555 47.1074 42.6946 47.8844 43.4717C48.7081 42.648 49.5628 41.8088 50.3398 41.0318C49.5472 40.2393 48.7081 39.3845 47.9 38.5609C47.0919 39.3534 46.2682 40.1771 45.429 41.0163ZM62.4458 28.988C61.6222 28.1643 60.783 27.3096 60.006 26.517C59.2911 27.2319 58.5296 27.9934 57.8303 28.6927C58.6229 29.4852 59.4776 30.34 60.2857 31.1481C61.0006 30.4332 61.7621 29.6717 62.4458 28.988ZM56.4006 35.0021C55.5769 34.1785 54.7378 33.3237 53.9607 32.5312C53.2303 33.246 52.4688 34.0075 51.7229 34.7379C52.5466 35.5616 53.3857 36.4008 54.2094 37.2244C54.9398 36.494 55.7013 35.717 56.4006 35.0021ZM53.4479 38.0636C52.5776 37.1933 51.7385 36.3541 50.9925 35.5927C50.2621 36.3231 49.4851 37.0845 48.8013 37.7528C49.5939 38.5453 50.433 39.3845 51.2722 40.2237C51.9716 39.5399 52.733 38.794 53.4479 38.0636ZM44.9628 35.5305C44.0925 36.3852 43.2534 37.2244 42.4608 38.017C43.1757 38.7474 43.9371 39.5088 44.6054 40.1926C45.429 39.369 46.2837 38.5143 47.1074 37.6906C46.4236 36.9913 45.6621 36.2298 44.9628 35.5305ZM41.8858 32.5001C41.0622 33.3237 40.223 34.1629 39.4304 34.9555C40.1608 35.7014 40.9378 36.4629 41.6371 37.1622C42.4452 36.3697 43.2844 35.5305 44.077 34.7224C43.3777 33.992 42.6162 33.2305 41.8858 32.5001ZM38.9176 29.5008C38.0628 30.3555 37.2237 31.2102 36.4466 31.9717C37.146 32.6866 37.9074 33.4481 38.6223 34.1629C39.4304 33.3548 40.2696 32.5156 41.0932 31.692C40.3628 30.9616 39.6013 30.2001 38.9176 29.5008ZM57.1932 34.2095C57.9702 33.4325 58.7472 32.6866 59.4776 31.9562C58.654 31.1325 57.8148 30.2778 57.0378 29.5008C56.2763 30.2467 55.5148 31.0238 54.7533 31.7697C55.5614 32.5623 56.3851 33.4014 57.1932 34.2095ZM33.3541 28.8792C34.1156 29.6562 34.877 30.4332 35.5764 31.1481C36.4 30.3244 37.2392 29.4852 38.0007 28.7238C37.2703 27.9934 36.4933 27.2163 35.7629 26.4704C34.9858 27.263 34.1466 28.0866 33.3541 28.8792ZM44.0925 22.6785C43.3466 21.9326 42.5851 21.1556 41.8547 20.4407C41.1243 21.1556 40.3628 21.917 39.648 22.6164C40.3939 23.3623 41.1709 24.1393 41.9013 24.8542C42.6162 24.1393 43.3932 23.3778 44.0925 22.6785ZM54.0074 20.4096C53.2303 21.1711 52.4689 21.917 51.7851 22.5853C52.531 23.3468 53.2925 24.1082 54.0074 24.8231C54.7378 24.1082 55.4992 23.3623 56.2452 22.6164C55.4837 21.886 54.7222 21.1245 54.0074 20.4096ZM45.0094 29.4852C44.2013 30.2778 43.4243 31.0548 42.725 31.7386C43.4398 32.4535 44.1858 33.215 44.854 33.8987C45.6 33.1683 46.377 32.3913 47.1385 31.6298C46.4391 30.915 45.6932 30.169 45.0094 29.4852ZM38.8554 27.9001C39.6014 27.1542 40.3628 26.4082 41.0621 25.7089C40.3162 24.963 39.5547 24.1859 38.8399 23.4711C38.1095 24.1859 37.348 24.9474 36.602 25.6778C37.348 26.4082 38.1095 27.1542 38.8554 27.9001ZM47.9621 32.5156C47.1851 33.2771 46.4236 34.0231 45.7398 34.6913C46.4858 35.4528 47.2473 36.2143 47.9466 36.9291C48.6614 36.2143 49.4385 35.4683 50.1844 34.7224C49.4385 33.992 48.677 33.2305 47.9621 32.5156ZM50.8526 27.9157C51.6297 27.1386 52.4222 26.3616 53.1215 25.6468C52.4222 24.9319 51.6608 24.1704 50.9925 23.4866C50.2466 24.2326 49.4695 24.9941 48.7081 25.7555C49.4074 26.4549 50.1689 27.2163 50.8526 27.9157ZM47.1074 25.7089C46.3615 24.963 45.6 24.1859 44.8696 23.4711C44.1547 24.1859 43.3777 24.9474 42.6784 25.6468C43.4243 26.3927 44.2013 27.1697 44.9162 27.8846C45.6466 27.1542 46.4081 26.3927 47.1074 25.7089ZM41.9169 26.4549C41.1398 27.2163 40.3784 27.9623 39.679 28.6461C40.425 29.4075 41.1865 30.169 41.9013 30.8839C42.6162 30.169 43.3932 29.4075 44.1236 28.6771C43.3932 27.9467 42.6317 27.1853 41.9169 26.4549ZM47.9621 26.4704C47.2162 27.2163 46.4392 27.9934 45.7243 28.7082C46.4392 29.4231 47.2006 30.2001 47.9 30.8994C48.6459 30.1535 49.4229 29.3765 50.1378 28.6616C49.4229 27.9467 48.6614 27.1853 47.9621 26.4704ZM56.1986 28.6927C55.4682 27.9467 54.7067 27.1853 54.0074 26.4859C53.2614 27.2319 52.4844 28.0089 51.7695 28.7238C52.4844 29.4386 53.2459 30.2156 53.9763 30.946C54.7067 30.2001 55.4682 29.4386 56.1986 28.6927ZM35.5608 37.2089C36.3378 36.4474 37.1149 35.6859 37.7831 35.0177C37.0372 34.2562 36.2757 33.4947 35.5764 32.7798C34.846 33.4947 34.0845 34.2406 33.3385 34.971C34.0845 35.7325 34.846 36.494 35.5608 37.2089ZM36.3845 37.8926C37.177 38.7007 37.9541 39.4622 38.6534 40.1616C39.3527 39.4622 40.1142 38.7007 40.7824 38.0325C40.052 37.3021 39.275 36.5406 38.5135 35.7791C37.8297 36.4629 37.0683 37.2244 36.3845 37.8926ZM47.9 18.8245C48.677 18.063 49.4385 17.3171 50.1222 16.6488C49.3763 15.8873 48.6148 15.1259 47.9155 14.411C47.1851 15.1259 46.4236 15.8718 45.6932 16.6022C46.4236 17.3326 47.1851 18.0941 47.9 18.8245ZM41.6527 43.2541C42.3831 42.5237 43.1446 41.7622 43.8594 41.0474C43.1135 40.3014 42.352 39.5244 41.6216 38.8095C40.8912 39.5399 40.1297 40.2859 39.3993 41.0163C40.1453 41.7467 40.9068 42.5082 41.6527 43.2541ZM50.1378 22.6785C49.3918 21.9326 48.6304 21.1556 47.9 20.4252C47.1696 21.14 46.4081 21.9015 45.7088 22.6008C46.4547 23.3468 47.2317 24.1238 47.9466 24.8542C48.677 24.1393 49.4385 23.3778 50.1378 22.6785ZM59.229 25.7711C58.4364 24.963 57.6594 24.1859 56.9756 23.4866C56.2607 24.1859 55.4837 24.9474 54.8155 25.6157C55.5614 26.3616 56.3229 27.1386 57.0844 27.9157C57.7992 27.2008 58.5452 26.4549 59.229 25.7711ZM42.6784 19.586C43.4243 20.3475 44.1858 21.1245 44.854 21.8083C45.6 21.0623 46.377 20.2853 47.0919 19.586C46.377 18.8556 45.631 18.0941 44.9006 17.3481C44.1547 18.1096 43.3932 18.8711 42.6784 19.586ZM53.1837 19.7103C52.3912 18.9177 51.6297 18.1407 50.9303 17.4414C50.2155 18.1407 49.454 18.9022 48.7702 19.5704C49.5162 20.3164 50.2776 21.0934 51.0391 21.8549C51.7384 21.14 52.4844 20.3941 53.1837 19.7103ZM50.8682 33.9454C51.6607 33.1683 52.4378 32.3913 53.1371 31.692C52.4222 30.9616 51.6608 30.2001 50.9925 29.5163C50.2466 30.2623 49.4695 31.0238 48.7081 31.7852C49.4229 32.5001 50.1689 33.246 50.8682 33.9454ZM59.9594 24.8853C60.7519 24.1238 61.5134 23.3778 62.2127 22.6941C61.4823 21.917 60.7364 21.1245 60.0682 20.4096C59.2911 21.1866 58.5296 21.9481 57.7837 22.6941C58.4986 23.4245 59.2445 24.1704 59.9594 24.8853ZM59.1513 19.7569C58.4053 18.9488 57.6749 18.1562 56.9911 17.4414C56.2296 18.2029 55.4837 18.9488 54.8465 19.586C55.5769 20.3164 56.3384 21.0779 57.0844 21.8238C57.7681 21.1556 58.4986 20.4096 59.1513 19.7569ZM36.6331 19.5238C37.4723 20.363 38.2182 21.1089 38.8709 21.7616C39.5703 21.0623 40.3317 20.3008 41 19.6481C40.3007 18.9333 39.5547 18.1873 38.7777 17.3948C38.0784 18.1096 37.3324 18.8556 36.6331 19.5238ZM54.9864 38.0014C55.7168 38.7163 56.4628 39.4622 57.1155 40.1149C57.8925 39.4156 58.7006 38.7007 59.4465 38.0325C58.6229 37.2089 57.8925 36.4785 57.2087 35.7947C56.4938 36.5095 55.7168 37.271 54.9864 38.0014ZM42.4142 44.0777C43.0669 45.1967 44.0459 45.5696 45.3669 45.4764C46.2837 45.4142 46.7033 44.8392 47.1851 44.3575C46.3148 43.4872 45.4756 42.648 44.652 41.8244C43.9371 42.5392 43.1756 43.3163 42.4142 44.0777ZM63.3316 28.1798C64.8857 27.3407 65.0722 24.4968 63.0985 23.44C62.306 24.217 61.5445 24.9785 60.8296 25.6778C61.6377 26.4859 62.4769 27.3251 63.3316 28.1798ZM56.0587 16.7576C55.3438 15.9961 54.5824 15.2036 53.9297 14.4887C53.1993 15.2191 52.4533 15.9495 51.8006 16.6022C52.5155 17.3326 53.2614 18.0941 53.9763 18.8245C54.6911 18.1252 55.4215 17.3792 56.0587 16.7576ZM56.385 41.0163C55.5925 40.2082 54.8776 39.4778 54.2715 38.8562C53.5256 39.6021 52.7486 40.3791 52.0337 41.094C52.5621 41.6224 53.1371 42.2129 53.7743 42.8656C54.629 42.244 55.5303 41.6068 56.385 41.0163ZM32.4994 34.2251C33.3075 33.4325 34.0689 32.671 34.9081 31.8629C34.5352 31.5055 34.1311 31.1636 33.7581 30.7596C33.3696 30.3555 33.0277 29.9204 32.7014 29.5319C30.9298 30.5886 30.8831 33.3082 32.4994 34.2251ZM35.9027 20.4252C35.3122 21.2799 34.7216 22.1346 34.1622 23.0049C34.1 23.0826 34.1466 23.3001 34.2243 23.3934C34.7216 23.9528 35.25 24.4812 35.6696 24.9319C36.5243 24.0772 37.3013 23.3157 38.0473 22.5697C37.3946 21.9015 36.6797 21.2022 35.9027 20.4252ZM44.0615 16.6333C43.502 16.0738 42.9115 15.4988 42.2898 14.8617C41.4507 15.4367 40.5493 16.0583 39.6946 16.6488C40.4716 17.4258 41.1709 18.1562 41.8702 18.8556C42.6162 18.0941 43.3621 17.3326 44.0615 16.6333ZM53.1526 13.6961C52.0026 11.8313 49.5006 12.0022 48.7081 13.463C49.5006 14.2556 50.2621 15.0326 51.0391 15.8096C51.7074 15.1569 52.4222 14.4421 53.1526 13.6961ZM61.933 34.4893C61.2958 33.8366 60.7364 33.2771 60.2391 32.7643C59.5087 33.4947 58.7472 34.2406 58.0323 34.94C58.7161 35.6237 59.431 36.3386 60.1925 37.0845C60.7675 36.2143 61.3891 35.3129 61.933 34.4893ZM57.706 16.5556C58.4675 17.3637 59.2134 18.1562 59.9127 18.9022C60.4567 18.3738 60.985 17.8454 61.5911 17.2549C60.7985 16.5245 60.006 15.7941 59.2134 15.0637C58.6384 15.6387 58.1256 16.1515 57.706 16.5556ZM33.9912 40.348C34.7838 41.1095 35.5608 41.8555 36.2446 42.5082C36.8351 41.9176 37.348 41.4359 37.7831 41.0007C37.0683 40.2703 36.3223 39.5089 35.5608 38.7318C35.0946 39.2136 34.6129 39.7109 33.9912 40.348ZM48.5993 44.4041C48.8479 44.5129 49.1432 44.7926 49.3452 44.7149C50.5108 44.3264 51.6452 43.8602 52.7797 43.4406C52.1891 42.819 51.6763 42.2906 51.2256 41.7933C50.3709 42.648 49.5317 43.4872 48.5993 44.4041ZM32.4527 28.1488C33.3385 27.263 34.1933 26.4238 35.0169 25.6157C34.5662 25.1495 34.0845 24.6522 33.4939 24.0461C33.0588 25.1339 32.6547 26.1596 32.2196 27.1853C32.0176 27.6204 32.0953 27.9467 32.4527 28.1488ZM63.0985 22.088C63.3472 21.6839 63.7512 21.2799 63.6735 21.0778C63.285 20.0677 62.7722 19.0887 62.306 18.1096C61.6999 18.7002 61.2026 19.1819 60.7675 19.6171C61.4979 20.3941 62.2283 21.1866 63.0985 22.088ZM40.8601 44.1244C40.0831 43.3474 39.3061 42.5703 38.6223 41.871C38.1872 42.2751 37.721 42.7102 37.2237 43.1764C37.4878 43.3473 37.7365 43.5338 38.0162 43.6737C38.5291 43.9379 39.0419 44.2021 39.5858 44.4352C40.3628 44.7771 40.3628 44.7771 40.8601 44.1244ZM43.3777 14.2556C43.9371 14.8461 44.4344 15.359 44.8229 15.7786C45.6 15.0015 46.377 14.24 47.154 13.463C46.9364 13.0279 46.5479 13.0124 46.0662 13.1988C45.1804 13.5718 44.279 13.8982 43.3777 14.2556ZM58.4053 14.4731C57.5195 14.0536 56.6648 13.6961 55.8411 13.2765C55.2661 12.9813 54.8621 13.1211 54.6756 13.4941C55.4682 14.3488 56.1986 15.1569 56.8668 15.8873C57.3641 15.4522 57.8459 15.0015 58.4053 14.4731ZM32.4683 35.6859C32.3439 35.8879 32.0176 36.2143 32.0797 36.3852C32.4683 37.4264 32.9345 38.421 33.3852 39.4312C33.9446 38.8717 34.3953 38.4366 34.7993 38.017C34.0689 37.271 33.3074 36.5251 32.4683 35.6859ZM62.4925 33.4947C62.881 32.4846 63.2384 31.5366 63.6269 30.5886C63.8134 30.1379 63.6891 29.8582 63.3783 29.7028C62.5702 30.4954 61.8087 31.2724 61.0627 32.0183C61.4823 32.4379 61.9485 32.9197 62.4925 33.4947Z" fill="#fff"/>
                <path d="M25.8324 54.7697C25.6149 55.065 25.4594 55.3758 25.2263 55.6089C21.6676 59.1832 18.1088 62.742 14.55 66.3008C14.4257 66.4251 14.3014 66.5494 14.1615 66.6582C13.8041 66.9379 13.4467 66.9379 13.1359 66.5805C12.1724 65.446 11.1933 64.3116 10.2298 63.1771C9.8879 62.7731 9.93451 62.4312 10.323 62.0582C14.0372 58.4994 17.7203 54.9407 21.4345 51.3974C21.9318 50.9157 22.2426 50.9157 22.7243 51.3974C23.6101 52.2677 24.4804 53.138 25.3507 54.0393C25.5372 54.2258 25.6459 54.4745 25.8324 54.7697Z" fill="#fff"/>
                <path d="M58.4053 61.7312C57.7681 61.7312 57.1776 61.7312 56.5093 61.7312C56.4006 60.5657 56.2918 59.4157 56.1985 58.2657C56.012 56.1988 55.8256 54.1319 55.6702 52.0806C55.6235 51.5522 55.6546 50.9928 55.7634 50.4644C55.8877 49.8117 56.3228 49.3766 57.0066 49.2212C57.6904 49.0658 58.2343 49.2833 58.6695 49.7962C59.1046 50.309 59.3999 50.8995 59.3377 51.5989C59.058 54.8624 58.7782 58.1259 58.4985 61.3738C58.4674 61.4826 58.4364 61.5758 58.4053 61.7312Z" fill="#fff"/>
                <path d="M55.5614 61.6852C54.5668 61.8251 54.5668 61.8251 54.256 60.9859C53.2769 58.3129 52.2823 55.6555 51.3188 52.9826C51.1479 52.5008 51.0236 51.9724 50.977 51.4596C50.9148 50.6049 51.3188 50.0299 52.0803 49.7657C52.9195 49.4704 53.7431 49.6724 54.2094 50.3562C54.4269 50.6826 54.6134 51.0866 54.66 51.4751C54.9708 54.863 55.2506 58.2508 55.5614 61.6852Z" fill="#fff"/>
                <path d="M59.3688 61.6853C59.664 58.2664 59.9438 54.8631 60.2701 51.4752C60.41 50.0611 61.56 49.3307 62.8343 49.7658C63.5647 50.0144 63.9998 50.5428 63.9532 51.3354C63.9221 51.8793 63.7978 52.4543 63.6113 52.9671C62.6478 55.6401 61.6532 58.2975 60.6742 60.9705C60.3789 61.8097 60.3789 61.8097 59.3688 61.6853Z" fill="#fff"/>
                <path d="M25.5061 52.8267C25.0398 52.3449 24.5115 51.8321 24.0608 51.3659C26.7648 48.6618 29.4844 45.9422 32.204 43.2227C32.6391 43.6889 33.1364 44.2483 33.6026 44.7456C30.9608 47.3564 28.2412 50.076 25.5061 52.8267Z" fill="#fff"/>
                <path d="M54.691 64.5605C56.5559 64.5605 58.3897 64.5605 60.2235 64.5605C60.2701 66.1612 58.8559 66.8294 57.566 66.8605C55.841 66.8916 54.7377 66.0369 54.691 64.5605Z" fill="#fff"/>
                <path d="M60.2235 63.5813C58.3587 63.5813 56.556 63.5813 54.7067 63.5813C54.7067 63.286 54.7067 63.0218 54.7067 62.7266C56.5249 62.7266 58.3587 62.7266 60.2235 62.7266C60.2235 62.9908 60.2235 63.2549 60.2235 63.5813Z" fill="#fff"/>
                </svg>
                
            </div>
            <div class="sports-text">
              <p>Badminton </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="sports-box">
            <div class="sports-icon">
              <svg class="icon-img" viewBox="0 0 100 100">
                <path d="M62.3252 35.9858C62.153 40.4776 61.9652 44.8754 61.7931 49.3359C61.214 49.2106 60.5097 49.1011 59.8367 48.882C59.6489 48.8194 59.4924 48.4751 59.4455 48.2403C59.0385 45.4701 58.882 42.6843 59.242 39.8985C59.2576 39.7263 59.242 39.5385 59.242 39.3507C59.1794 39.3507 59.1168 39.3351 59.0542 39.3351C58.8977 40.6028 58.6472 41.8548 58.6003 43.1225C58.5377 44.8128 58.6003 46.5031 58.7098 48.1934C58.7568 48.9133 58.5533 49.2733 57.8647 49.3828C56.6753 49.5863 55.4702 49.9619 54.2807 49.9619C51.2601 49.9775 48.2395 49.8523 45.2033 49.7584C44.8903 49.7428 44.5929 49.6645 44.2956 49.6019C41.541 49.0541 40.289 47.8334 40.1012 45.0632C39.9134 42.2461 39.976 39.3977 39.9603 36.5649C39.9603 36.1893 40.0855 35.8137 40.1951 35.4537C40.8681 33.2156 42.4957 32.6209 44.499 33.8417C44.9216 34.1077 45.3598 34.3581 45.8293 34.499C46.0641 34.5616 46.3615 34.3425 46.6432 34.2486C46.471 34.0295 46.3615 33.7321 46.1424 33.6382C45.7667 33.4504 45.3285 33.3878 44.9216 33.2626C43.7947 32.9496 43.4974 32.1044 44.2799 31.228C45.3441 30.0072 46.8466 29.7568 48.3491 29.5847C53.2791 29.0056 56.7378 31.3063 59.2576 35.2972C59.7428 36.0484 60.1967 36.2832 61.0261 36.0954C61.48 35.9858 61.9652 36.0015 62.3252 35.9858ZM41.1341 39.6794C41.0715 39.6794 41.0089 39.695 40.9307 39.695C40.9933 41.2131 40.9933 42.7469 41.1498 44.2494C41.3845 46.6283 42.527 47.9742 44.8746 48.4125C46.518 48.7098 48.2082 48.7255 49.8829 48.8663C49.8985 48.7881 49.8985 48.6942 49.9142 48.6159C49.4759 48.5533 49.0221 48.5377 48.5838 48.4438C47.1127 48.1621 45.6259 47.9429 44.2016 47.536C43.0278 47.2074 42.2766 46.3153 41.9793 45.1258C41.7914 44.3902 41.6662 43.639 41.5567 42.8878C41.3845 41.8235 41.2593 40.7593 41.1341 39.6794Z" fill="#fff"/>
                <path d="M18.8006 39.4758C18.8006 41.307 18.8319 43.232 18.7849 45.1571C18.7536 46.2057 18.5815 47.2386 18.4719 48.2872C18.425 48.6941 18.2684 48.9289 17.8302 48.9915C17.2198 49.0854 16.6251 49.2262 16.1243 49.3201C15.9522 44.891 15.78 40.4931 15.5922 35.9857C16.046 36.0327 16.6877 36.0483 17.2981 36.1422C17.8302 36.2205 18.1432 36.111 18.4562 35.6101C19.8805 33.3095 21.6333 31.2749 24.2157 30.2419C26.7355 29.2246 29.3491 29.2559 31.9159 30.1167C32.5106 30.3202 33.074 30.6958 33.5279 31.1184C34.4513 31.9948 34.1696 32.9652 32.9331 33.2782C32.6827 33.3408 32.401 33.3408 32.1663 33.4503C31.8063 33.6225 31.4933 33.8729 31.0707 34.1546C31.8376 34.7493 32.3854 34.4989 32.9331 34.1859C33.4496 33.9042 33.9661 33.5755 34.5139 33.3877C35.8129 32.9652 36.8615 33.3877 37.378 34.6554C37.7379 35.5162 38.004 36.4866 38.0196 37.41C38.0509 39.8828 38.0353 42.3712 37.8162 44.844C37.5344 47.9898 36.4702 49.1636 33.3244 49.6332C29.1926 50.2435 25.0139 50.3374 20.8665 49.6019C19.1136 49.2888 19.1605 49.2262 19.2701 47.4264C19.4109 44.9223 19.4423 42.4182 18.9101 39.9454C18.8945 39.7419 18.8162 39.5385 18.8006 39.4758ZM28.0658 48.6472C28.0815 48.7098 28.0814 48.7567 28.0971 48.8193C29.5213 48.7411 30.9455 48.7411 32.3541 48.5846C34.7643 48.3028 36.2511 47.176 36.5954 45.1884C36.9084 43.3885 36.9084 41.5574 37.065 39.7263C36.9867 39.7263 36.9084 39.7106 36.8302 39.7106C36.7832 40.0393 36.7206 40.3523 36.6737 40.681C36.4546 42.1365 36.2824 43.6076 36.0007 45.0475C35.7503 46.3152 34.9208 47.1447 33.7157 47.5829C33.2305 47.7551 32.7297 47.9272 32.2132 48.0211C30.836 48.2559 29.4587 48.4437 28.0658 48.6472Z" fill="#fff"/>
                <path d="M69.9313 41.0251C69.9313 41.2598 69.9313 41.4946 69.9313 41.7293C69.9157 42.0424 69.9 42.3397 69.8687 42.6527C69.6966 44.9377 69.5088 47.2227 69.3366 49.5077C69.321 49.7425 69.3053 49.9616 69.2114 50.1807C68.8358 50.9946 67.3803 50.6346 66.676 50.6189C65.6117 50.5876 64.5475 50.5407 63.4832 50.4937C63.2015 50.4781 62.8729 50.4468 62.6851 50.2433C62.4972 50.0399 62.4659 49.7425 62.4659 49.4608C62.2938 44.969 62.4659 40.446 62.9824 35.9699C63.0137 35.6412 63.0763 35.2813 63.3424 35.0778C63.5771 34.89 63.9214 34.89 64.2345 34.9056C65.7682 34.9839 67.302 35.0621 68.8514 35.1404C69.1175 35.1561 69.4149 35.1717 69.6183 35.3595C69.8374 35.563 69.8687 35.9073 69.8687 36.2203C69.8844 37.2845 69.9157 38.3644 69.9313 39.4287C69.947 39.82 69.947 40.2269 69.9626 40.6181C69.9157 40.7434 69.9313 40.8842 69.9313 41.0251ZM66.4256 37.3784C66.4256 37.4098 66.4256 37.4254 66.4256 37.4567C66.8325 37.4567 67.255 37.535 67.6307 37.4254C67.8967 37.3471 68.2254 37.0654 68.3036 36.7994C68.4288 36.3768 68.1628 36.0481 67.7089 36.0168C66.8638 35.9542 66.003 35.9229 65.1579 35.9073C64.7197 35.9073 64.4379 36.1264 64.4223 36.5959C64.4066 37.0654 64.6414 37.3158 65.0796 37.3628C65.5178 37.4097 65.9717 37.3784 66.4256 37.3784Z" fill="#fff"/>
                <path d="M15.5608 44.4691C15.5608 44.6099 15.5608 44.7664 15.5608 44.9073C15.5608 45.236 15.5452 45.5803 15.5452 45.9089C15.5295 47.0358 15.5139 48.1626 15.4982 49.2895C15.4826 50.4007 14.8252 50.5103 13.8392 50.5259C12.5089 50.5572 11.1786 50.5885 9.86396 50.6198C9.51965 50.6355 9.12839 50.6198 8.89363 50.3694C8.72147 50.1816 8.6745 49.9155 8.6432 49.6651C8.09543 45.2673 7.98586 40.8381 8.07976 36.409C8.07976 36.0647 8.11109 35.6734 8.34585 35.4073C8.59626 35.1413 9.01882 35.0943 9.39444 35.0787C10.8656 35.0161 12.3211 34.9378 13.7923 34.8752C14.1053 34.8595 14.4496 34.8596 14.6687 35.063C14.9035 35.2665 14.9348 35.6108 14.9661 35.9081C15.1069 37.6141 15.2634 39.32 15.4043 41.0103C15.4825 41.9493 15.5608 42.904 15.5765 43.8587C15.5608 44.0778 15.5608 44.2813 15.5608 44.4691ZM11.429 37.4576C11.429 37.4263 11.429 37.4106 11.429 37.3793C11.8986 37.3793 12.3837 37.4106 12.8532 37.3637C13.2914 37.3324 13.5262 37.0663 13.5106 36.5968C13.4949 36.1273 13.2132 35.8925 12.775 35.9081C11.9298 35.9238 11.0691 35.9551 10.2239 36.0177C9.77007 36.049 9.50398 36.3933 9.61354 36.8002C9.69179 37.0663 10.0205 37.3324 10.2865 37.4263C10.6465 37.5515 11.0534 37.4576 11.429 37.4576Z" fill="#fff"/>
                <path d="M7.97025 49.3991C6.82774 49.4148 6.35823 49.1018 5.98261 47.9906C4.91837 44.7822 4.66796 41.5112 5.4818 38.2089C5.81046 36.9099 6.18607 36.5812 7.46943 36.4873C7.64159 40.7756 7.79809 45.0639 7.97025 49.3991Z" fill="#fff"/>
                <path d="M69.9626 49.4298C70.1348 45.0945 70.2913 40.8219 70.4635 36.518C71.3869 36.4084 72.0598 36.8623 72.3415 37.8483C73.3119 41.3697 73.0458 44.8285 71.872 48.2403C71.5434 49.2107 70.7765 49.4141 69.9626 49.4298Z" fill="#fff"/>
                <path d="M39.5064 27.6911C39.6629 25.6878 39.8038 23.6688 39.9603 21.5873C39.2404 21.7908 38.5517 21.9942 37.6753 22.2446C38.1448 20.0692 38.583 18.0346 39.0213 16C39.0839 16 39.1465 16.0157 39.1934 16.0157C39.1934 16.7669 39.2091 17.5181 39.1934 18.285C39.1621 19.0362 39.0839 19.8031 39.0213 20.6639C39.8038 20.3979 40.5394 20.1474 41.494 19.8344C40.915 22.5889 40.3672 25.14 39.8194 27.7067C39.7099 27.7067 39.6003 27.6911 39.5064 27.6911Z" fill="#fff"/>
                <path d="M31.2898 19.9443C31.8376 21.3685 32.401 22.8084 32.9958 24.3265C33.6061 23.7788 34.1695 23.2623 34.8895 22.605C35.4529 25.2969 36.0007 27.8323 36.5328 30.3677C36.4232 30.399 36.3137 30.4303 36.2042 30.4616C35.5312 28.5992 34.8582 26.7367 34.1696 24.7961C33.6061 25.2812 33.0584 25.7664 32.3697 26.3611C31.9159 24.1544 31.4933 22.0885 31.0551 20.0069C31.1333 19.9913 31.2116 19.9756 31.2898 19.9443Z" fill="#fff"/>
                <path d="M42.7617 30.6178C43.6069 28.8023 44.4676 26.9868 45.3441 25.1088C44.6085 25.0618 43.9042 25.0149 42.9652 24.9366C44.1859 23.0585 45.3441 21.3056 46.5022 19.5371C46.5805 19.5841 46.6588 19.6154 46.7214 19.6623C46.0953 21.0552 45.485 22.4638 44.812 23.9819C45.6258 23.9819 46.3927 23.9819 47.1596 23.9819C47.2065 24.0602 47.2535 24.1228 47.3161 24.201C45.8919 26.3921 44.4677 28.5832 43.0434 30.7743C42.9495 30.7117 42.8556 30.6648 42.7617 30.6178Z" fill="#fff"/>
                <path d="M42.5114 54.8135C42.9339 54.4379 43.3096 54.1249 43.8261 53.671C44.1547 55.2204 44.4677 56.6446 44.7807 58.0845C44.7181 58.1001 44.6399 58.1315 44.5773 58.1471C44.2017 57.1611 43.8261 56.1751 43.4035 55.0952C42.9653 55.4865 42.574 55.8308 42.0262 56.3316C41.588 54.3753 41.1967 52.5442 40.7898 50.713C40.868 50.6817 40.9463 50.6661 41.0246 50.6348C41.4941 51.9964 41.9949 53.358 42.5114 54.8135Z" fill="#fff"/>
                <path d="M34.2164 54.5788C34.7955 54.6257 35.2807 54.657 35.9537 54.704C35.0772 56.0656 34.2634 57.3177 33.4652 58.5541C33.4026 58.5228 33.34 58.4915 33.2774 58.4602C33.7156 57.4742 34.1695 56.4882 34.6547 55.4083C34.0756 55.377 33.5434 55.3457 32.8079 55.2987C33.8408 53.6711 34.8268 52.1373 35.8128 50.6035C35.8911 50.6505 35.9693 50.6974 36.0476 50.7287C35.4529 51.9808 34.8425 53.2328 34.2164 54.5788Z" fill="#fff"/>
                <path d="M38.5517 52.8106C38.4421 54.2505 38.3325 55.6747 38.2073 57.1928C38.7551 57.0206 39.2403 56.8798 39.882 56.6763C39.5533 58.2257 39.2559 59.6343 38.9586 61.0585C38.8803 61.0429 38.8177 61.0429 38.7395 61.0272C38.7864 59.9786 38.849 58.93 38.896 57.8188C38.3482 57.991 37.8317 58.1631 37.1274 58.3823C37.5344 56.4259 37.91 54.5948 38.2856 52.7793C38.3951 52.7949 38.4734 52.8106 38.5517 52.8106Z" fill="#fff"/>
                </svg>
            </div>
            <div class="sports-text">
              <p>Boxing </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid  casino-peg-box ">
  <div class="container">
    <div class="row ">
      <div class="col-xl-12 col-sm-12 col-12">
        <div class="casino-heding">
          <div class="casino-text">
            <h5>CASINOS GAMES</h5>
            <p>To meet today's challenges & earn Money</p>
          </div>
          <div class="but-box">
            <a (click)="loginModalData()" class="bet-Show">
              Show All
              »
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-1.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Jackpot</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-2.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title"> Teen Patti</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-3.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Double Win</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-4.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Roulette</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-5.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Spin & Win</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-6.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Cash Carnival</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-7.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Poker</h3>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-3 col-6">
        <div class="casino-img">
          <img src="../../assets/images/casino-8.png" alt="casino-img" />
          <div class="box-content">
            <h3 class="title">Andar Bahar</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <section class="container-fluid featured-box ">
  <div class="row  justify-content-center">
    <div class="icon-box-a">
    
    </div>
    <div class="col-xl-8 col-sm-12 col-12">
      <div class="featured-heding">
        <div class="featured-text">
          <h5>FEATURED GAMES</h5>
          <p>To meet today's challenges & earn Money</p>
        </div>
        <div class="but-box">
          <a (click)="loginModalData()" class="bet-Show">
            Show All »

          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-12 col-12 p-0 m-0">
      <div class="row justify-content-center m-0">
        <ngx-slick-carousel class="slick-slider" #slickModal="slick-carousel" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let slide of casinoImages" class="slick-img">
            <img [routerLink]="['/sports/card-view']" src="{{slide.apiUrl}}" alt="img" />
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section> -->
  <!-- <section class="application-box ">
    <div class="icon-shape-area">
      <img src="../../assets/images/doodale-Images/img-1.svg" alt="" class="obj-1">
      <img src="../../assets/images/doodale-Images/img-2.svg" alt="" class="obj-2">
      <img src="../../assets/images/doodale-Images/img-4.svg" alt="" class="obj-3">
    </div>
    <div class="container">
      <div class="row  justify-content-center align-items-center ">
        <div class="col-xl-6 col-sm-12 col-12">
          <div class="responsive-img">
            <img src="../../assets/images/responsive.png" alt="img">
          </div>
        </div>
        <div class="col-xl-6 col-sm-12 col-12">
          <div class="text-box">
            <h5> FEATURED GAMES</h5>
            <p>To Meet Today's Challenges & Earn Money!</p>
            <a (click)="loginModalData()" class="bet-Show" >Show All »
              </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="Jackpot-box-main  mt-4">
    <div class="container">
      <div class="row ">
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="jackpot-box ">
            <div class="jackpot-box-img">
              <img src="../../assets/images/slot-machine.png" alt="img">
            </div>
            <div class="jackpot-box-text">
              <h5> 00</h5>
              <p>Jackpot </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="jackpot-box ">
            <div class="jackpot-box-img">
              <img src="../../assets/images/money-bag.png" alt="img">
            </div>
            <div class="jackpot-box-text">
              <h5> 00</h5>
              <p>Total paid </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="jackpot-box ">
            <div class="jackpot-box-img">
              <img src="../../assets/images/shield.png" alt="img">
            </div>
            <div class="jackpot-box-text">
              <h5>100%</h5>
              <p>Secure </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-3 col-6">
          <div class="jackpot-box ">
            <div class="jackpot-box-img">
              <img src="../../assets/images/customer-service.png" alt="img">
            </div>
            <div class="jackpot-box-text">
              <h5>3/1</h5>
              <p>Support </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <footer class="footer-box">
    <div class="container">
      <div class="row py-4">
        <!-- <div class="col-xl-4 col-sm-4 col-12">
          <div class=" footer-logo ">
            <img src="../../assets/images/logo.png">
          </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
          <div class=" footer-text ">
            <p> Contact Us <br /> +91 XXXXXXXXXXX</p>

          </div>
        </div>
        <div class="col-xl-4 col-sm-4 col-12">
          <div class=" footer-social  ">

            <a  class="icon-box">
              <img class="icon-1"
                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUcAAAFHAQMAAAAIhxwoAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACRJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAAAA+A01pgABJAqf3AAAAABJRU5ErkJggg==" />
            </a>
            <a  class="icon-box">
              <img class="icon-2"
                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUcAAAFHAQMAAAAIhxwoAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACRJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAAAA+A01pgABJAqf3AAAAABJRU5ErkJggg==" />
            </a>
            <a  class="icon-box">
              <img class="icon-3"
                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUcAAAFHAQMAAAAIhxwoAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACRJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAAAA+A01pgABJAqf3AAAAABJRU5ErkJggg==" />
            </a>
            <a  class="icon-box">
              <img class="icon-4"
                   src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUcAAAFHAQMAAAAIhxwoAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAACRJREFUeNrtwTEBAAAAwqD1T20Hb6AAAAAAAAAAAAAAAAAA+A01pgABJAqf3AAAAABJRU5ErkJggg==" />
            </a>

          </div>
        </div> -->
        <!-- <div class="col-xl-12 col-sm-12 col-12">
          <div class="boder-divider"></div>
        </div> -->
        <div class="col-xl-12 col-sm-12 col-12">
          <div class="gaming-image-ru">
            <div class=" footer-logo p-0 ">
              <img src="../../assets/images/white_logo.png">
            </div>
            <div class="gmain-font pt-1">
              <h6> Disclaimer :</h6>
              <p> Please note that Gambling involves a financial risk and could be addictive over time if
                not practised within limits. Only 18+ people should use the services and should use it
                responsibly. Players should be aware of any financial risk and govern themselves
                accordingly.</p>
            </div>

          </div>
        </div>

      </div>
    </div>
    <div class="footer-font">
      <a >Copyright @2022 | All Rights Reserved.</a>
    </div>
  </footer>


</div>
<div class="modal fade" bsModal #loginModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content clearfix">
      <div class="modal-header model-header-box">
        <h5 class="modal-title"> Login</h5>
        <button type="button" class="btn close" (click)="closeLogin()">×
        </button>
      </div>
      <div class="modal-body login-box-modal">
        <div class="user-bx">
      <img src="../../assets/images/white_logo.png" alt="logo">
            
        </div>
        <form class="deposit-main" #loginForm="ngForm" (ngSubmit)="(loginForm.form.valid && login())">
          <div class="form-group">
               <span class="input-icon">
                     <img src="../../assets/images/user.png" alt="user">
                     </span>
            <input type="text" autocomplete="off" id="userName" appAutofocus class="form-control" name="userName" required [(ngModel)]="loginObject.userName"
                   #userName="ngModel" maxlength="20"
                   pattern="^[a-zA-Z0-9\s]+$" placeholder="Username">
            <div *ngIf="loginForm.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="userName.errors?.required">
                Username is required.
              </div>
              <div class="custom-validation" *ngIf="userName.errors?.pattern">
                Please enter valid userName.
              </div>
            </div>
          </div>
          <div class="form-group">
            <span class="input-icon">
                     <img src="../../assets/images/lock.png" alt="user">
                     </span>
            <input autocomplete="off" type="{{showPassword ? 'text' : 'password'}}" id="password" class="form-control" name="password" required
                   [(ngModel)]="loginObject.password" #password="ngModel" placeholder="Password">
            <span toggle="#new-Password"  (click)="showPass()" class="{{showPassword ? 'far fa-fw fa-eye field-icon toggle-password' : 'far fa-fw fa-eye-slash field-icon toggle-password'}}"></span>
            <div *ngIf="loginForm.submitted" class="input-validation my-custom-stl">

              <div class="custom-validation" *ngIf="password.errors?.required">
                Password is required.
              </div>
            </div>
          </div>
          <div class="form-group checkbox">
            <input type="checkbox" id="customCheck" checked="checked" (change)="checkValue($event)" name="example1" class="custom-control-input">
            <label>I agree Terms & Conditions</label>
          </div>
          <ng-container *ngIf="age18year">
            <button type="submit"   class="btn btn-loing">Login</button>
          </ng-container>
          <ng-container *ngIf="age18year == false">
            <button disabled type="submit"   class="btn btn-loing">Login</button>
          </ng-container>

        </form>
      </div>
    </div>
  </div>

</div>

<div class="modal fade" bsModal #passwordChange="bs-modal"  tabindex="-2" role="dialog" aria-labelledby="exampleModalCenterTitle1">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content clearfix">
      <div class="modal-header modal-header-box">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn close" (click)="closeModal()">×
        </button>
      </div>
      
      <div class="modal-body login-box-modal">
        <form class="deposit-main" #passwordChange="ngForm" (ngSubmit)="passwordChange.form.valid && passChange()">
          <div class="form-group">
            <span class="input-icon">
                     <img src="../../assets/images/lock.png" alt="user">
                     </span>            <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" autofocus placeholder="Current password"  required #oldPass="ngModel" name="oldPass" [(ngModel)]="oldPassword" id="Current_Pass">
            <span toggle="#old-Password" (click)="showPass()" class="{{showPassword ? 'far fa-fw fa-eye field-icon toggle-password' : 'far fa-fw fa-eye-slash field-icon toggle-password'}}"></span>
            <div *ngIf="passwordChange.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="oldPass.errors?.required">
                Old password is required.
              </div>
            </div>
          </div>
          <div class="form-group ">
<span class="input-icon">
                     <img src="../../assets/images/lock.png" alt="user">
                     </span>
            <input type="{{showPassword1 ? 'text' : 'password'}}" class="form-control" placeholder="New password" maxlength="15" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,30})" required #newPass="ngModel" name="newPass" [(ngModel)]="newPassword" id="New_Pass">
            <span toggle="#new-Password"  (click)="showPass1()" class="{{showPassword1 ? 'far fa-fw fa-eye field-icon toggle-password' : 'far fa-fw fa-eye-slash field-icon toggle-password'}}"></span>
            <div *ngIf="passwordChange.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="newPass.errors?.required">
                New password is required.
              </div>
              <div class="custom-validation" *ngIf="newPass.errors?.pattern">
                The password must contain at least: 1 uppercase letter, 1 lowercase letter, 1 number and 6 characters needed.
              </div>
            </div>
          </div>
          <div class="form-group">
<span class="input-icon">
                     <img src="../../assets/images/lock.png" alt="user">
                     </span>
            <input type="{{showPassword2 ? 'text' : 'password'}}" class="form-control" placeholder="Confirm New password"  maxlength="15" pattern="{{newPassword}}" required #confPass="ngModel" name="confPass" [(ngModel)]="confNewPassword" id="Confirm_New_Pass">
            <span toggle="#password-field-a" (click)="showPass2()" class="{{showPassword2 ? 'far fa-fw fa-eye field-icon toggle-password' : 'far fa-fw fa-eye-slash field-icon toggle-password'}}"></span>
            <div *ngIf="passwordChange.submitted" class="input-validation">
              <div class="custom-validation" *ngIf="confPass.errors?.required">
                Confirm new password is required.
              </div>
              <div class="custom-validation" *ngIf="confPass.errors?.pattern">
                Enter match password required.
              </div>
            </div>
          </div>
          <div class="transaction-pass-main ">
            <button type="submit" class="btn btn-danger btn-loing">Change Password</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
