<section class="report-content">
  <h2>Trade List</h2>
  <div class="report-right-side-icon">
    <a class="file-pdf-icon cursor-point" (click)="download()"><img src="../../../assets/images/pdf.png" alt=""></a>
    <a class="file-spreadsheet-icon cursor-point" (click)="download()"><img src="../../../assets/images/xls.png" alt=""></a>
  </div>

  <form class="report-date-input">
    <div class="report-left-side">
      <div class="date-input-box">
        <input autocomplete="off" readonly placeholder="{{sDate}}" name="fromDate" #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate" (dateSelect)="onDateSelect($event)" id="From_Date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
      </div>
      <div class="date-input-box">
        <input autocomplete="off" readonly placeholder="{{eDate}}" name="toDate" #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate" [disabled]="disabled">
      </div>
      <div class="date-input-box select-after">
        <select type="text" name="type" id="type" [(ngModel)]="betObjFilter.exchangeName" (change)="changeExch($event.target.value)">
          <option value="" disabled selected hidden>Select Exchange</option>
          <ng-container *ngIf="exchangeList">
            <option *ngFor="let exch of exchangeList" [value]="exch.ExchangeID">  {{exch.ExchangeName}}</option>
          </ng-container>
        </select>
      </div>
      <div class="date-input-box select-after">
        <select type="text" name="type" id="type" [(ngModel)]="betObjFilter.scriptName">
          <option value="" disabled selected hidden>Select Script</option>
          <ng-container *ngIf="filterdScript">
            <option *ngFor="let script of filterdScript" [value]="script.ScriptId">{{script.ExchangeName + '-' + script.Script + '-' + (script.ExpiryDate | date: 'dd-MM') }}</option>
          </ng-container>
        </select>
      </div>
      <div class="date-input-box select-after">
        <select type="text" name="status" id="status" [(ngModel)]="betObjFilter.status">
          <option  value="S,P">All</option>
          <option  value="S">Success</option>
          <option  value="P">Pendding</option>
        </select>
      </div>

    </div>
    <div class="report-right-side">
      <button class="btn btn-success cursor-point mr-2 " (click)="searchFilterData()">View</button>
      <button class="btn btn-danger cursor-point" (click)="clearFilter()">Clear</button>

    </div>

  </form>

  <div class="respo-scroll">
    <table  class="table table-striped nowrap  default-table-style  accounta-peg-men">
      <thead>
      <tr class="men-titel-color">
        <th class="w-no">No.</th>
        <th class="text-left">Client</th>
        <th class="text-left">Symbol</th>
        <th class="text-left">Type</th>
        <th class="text-left">OrderType</th>
        <th class="text-left">Qty</th>
        <th class="text-left">Price</th>
        <th class="text-left">Brokerage</th>
        <th class="text-left">OrderStatus</th>
        <th class="text-left">TradeBy</th>
        <th class="text-left">Date & Time</th>
      </tr>
      </thead>
      <tbody *ngIf="transactionResponse">
      <tr *ngFor="let trade of transactionResponse let i = index ; odd as isOdd; even as isEven">
        <td class="">{{i + 1}}</td>
        <td class=" text-left">{{trade.UserName}}</td>
        <td class="text-left">{{trade.ExchangeName}} {{trade.Script}}  {{trade.ExpiryDate | date: 'dd-MMM'}}</td>
        <td class="{{trade.BuySellText === 'BUY' ? 'text-left credit-color': 'text-left debit-color' }}">{{trade.BuySellText}}</td>
        <td class="text-left">{{trade.OrderTypeText}}</td>
        <td class="text-left">{{trade.Quantity}}</td>
        <td class="text-left">{{trade.OrderPrice}}</td>
        <td class="text-left">{{trade.BrokerageValue}}</td>
        <td class="text-left">{{trade.OrderStatusText}}</td>
        <td class="text-left">{{trade.UserName}}</td>
        <td class="text-left">{{trade.ExecutionTime | dateFormatPipe}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</section>


