
<!--<section class="report-content  main-content ">-->
  <!--<div class="hading-box mb-3">-->
    <!--<p class="m-0 p-0">Chips Settings</p>-->
    <!--<div class="float-etext-end">-->
      <!--<a href="#" title="pdf">-->
        <!--<img src="./assets/images/pdf.png" alt="pdf" width="20">-->
      <!--</a>-->
      <!--<a href="#" title="excel">-->
        <!--<img src="./assets/images/excel.png" alt="pdf" width="20">-->
      <!--</a>-->
    <!--</div>-->
  <!--</div>-->

  <!--<form>-->
    <!--<div class="chips-bet-box">-->
      <!--<ul class="chip-box-hading-no">-->
        <!--<li class="chip-no-hadin">Sr no</li>-->
        <!--<li class="chip-no">1</li>-->
        <!--<li class="chip-no">3</li>-->
        <!--<li class="chip-no">4</li>-->
        <!--<li class="chip-no">5</li>-->
        <!--<li class="chip-no">6</li>-->
        <!--<li class="chip-no">7</li>-->
        <!--<li class="chip-no">8</li>-->
        <!--<li class="chip-no">9</li>-->
      <!--</ul>-->
      <!--<ul class="chip-box-hading">-->
        <!--<li class="chip-no-hadin ">BUTTON NAME</li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="1K" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="5K" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="10K" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="15K" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="25K" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="1 L" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="2.5 L" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="2.5 L" /></li>-->
      <!--</ul>-->

      <!--<ul class="chip-box-hading">-->
        <!--<li class="chip-no-hadin">BUTTON VALUE</li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="500" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="5000" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="10000" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="25000" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="50000" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="100000" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="5000000" /></li>-->
        <!--<li><input type="text" class="chips-box-prish" placeholder="10000000" /></li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="mt-1 text-end">-->
      <!--<button type="button" class=" btn-main">Reset</button>-->
      <!--<button type="button" class="btn-main btn-color">Update</button>-->
    <!--</div>-->
  <!--</form>-->



<!--</section>-->
<section class="report-content main-content">
  <div class="hading-box mb-3">
    <p class="m-0 p-0">Chips Settings</p>
  </div>

  <div class="respo-scroll mt-4">
    <form class="w-100" #addButton="ngForm"
          (ngSubmit)="(addButton.form.valid) && updateCurrency()">
    <table class="default-table-style  accounta-peg-men">
      <tr class="men-titel-color">
        <th class="text-center">NO</th>
        <th class="text-left"> Button Name</th>
        <th class="text-left"> Button Value</th>
      </tr>
      <ng-container *ngIf="currencyAll && currencyAll.length > 0">
      <tr class="active-id" *ngFor="let ite of currencyAll[0].buttons; let i = index;">
        <td class="text-center"> {{i + 1}}</td>
        <td class="text-left ">
          <input type="text"  class="chips-box" name="nameLable{{i}}"
                 [(ngModel)]="ite.name" placeholder="Button Label"
                 #nameLable="ngModel"  maxlength="8"
                 id="nameLable{{i}}" required>
          <div *ngIf="addButton.submitted" class="input-validation">
            <div class="custom-validation" *ngIf="nameLable.errors?.required">
              Button label is required.
            </div>
          </div>
        </td>
        <td class="text-left ">
          <input type="text"  class="chips-box" name="buttonValue{{i}}" placeholder="Button Value"
                 [(ngModel)]="ite.value"
                 #buttonValue="ngModel"  maxlength="8"
                 id="buttonValue{{i}}" numbersOnly required>
          <div *ngIf="addButton.submitted" class="input-validation">
            <div class="custom-validation" *ngIf="buttonValue.errors?.required">
              Button Value is required.
            </div>
          </div>
       </td>
      </tr>
      </ng-container>
    </table>

    <div class="mt-3 text-right">
      <button type="button" class="btn-main" (click)="resetCurrencyModel()">Reset</button>
      <button type="submit" class="btn-main btn-color">Update</button>
      <!--<button type="button" class=" btn-main">Reset</button>-->
      <!--<button type="button" class="btn-main btn-color">Update</button>-->
    </div>
    </form>


  </div>
</section>
