<app-header  *ngIf="sidebarHeader"></app-header>
<main class="float-left w-100 main">
  <section class="float-left w-100">
    <div class="float-left sidebar-section" [ngClass]="{'d-none': sidebarHeader === false}"  id="sidebar">
      <app-sidebar *ngIf="sidebarHeader"></app-sidebar>
    </div>
    <div class="float-left" [ngClass]="{'login-false': sidebarHeader === false}" id="main-content-section">
      <router-outlet>
        <div>
          <toaster-container [toasterconfig]="config1"></toaster-container>
        </div>
      </router-outlet>
    </div>
  </section>
</main>


