.course {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  max-width: 100%;
  background-color: #05456e;
  margin-bottom: 14px;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  height: 180px;
  color: aliceblue;

  .btn{
    display: none;
  }
}
.course-preview {
  color: #fff;
  width: auto;
  height: 150px;
  position: relative;
  overflow: hidden;
  .image {
    width: 100%;
    position: relative;
    height: 100%;
  }
  .name-image {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    background: linear-gradient(to right top, #003658, #00395c, #013b60, #013e65, #024169, #04446d, #064871, #094b75, #0e507a, #12547f, #165984, #1a5e89);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
  }
}
.course-info {
  padding: 1px 2px;
  position: relative;
  width: 100%;
  font-size: -4px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.course h2 {
  letter-spacing: 0px;
  margin: 7px 0;
  font-size: 10px;
}


@media all and(max-width: 767px) {
  .course {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    max-width: 100%;
    background-color: #05456e;
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 134px;
    color: aliceblue;
    .btn{
      display: none;
    }
  }
  .course-preview {
    color: #fff;
    width: auto;
    height: 106px;
    position: relative;
    overflow: hidden;
  }
  .course-info {
    padding: 1px 2px;
    position: relative;
    width: 100%;
    font-size: -4px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .course h2 {
    letter-spacing: 0px;
    margin: 7px 0;
    font-size: 10px;
  }
  .btn {
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    color: #fff;
    font-size: 12px;
    padding: 2px 27px;
    position: absolute;
    bottom: -17px;
  }
}

@media all and (min-width: 768px) and(max-width: 1280px) {
  .course {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    max-width: 100%;
    background-color: #05456e;
    margin-bottom: 14px;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 180px;
    color: aliceblue;
    .btn{
      display: none;
    }
  }
  .course-preview {
    color: #fff;
    width: auto;
    height: 150px;
    position: relative;
    overflow: hidden;
  }
  .course-info {
    padding: 1px 2px;
    position: relative;
    width: 100%;
    font-size: -4px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .course h2 {
    letter-spacing: 0px;
    margin: 7px 0;
    font-size: 10px;
  }
}

