<div class="container-fluid">
<div class="row justify-content-center mt-2">
      <ng-container *ngFor="let item of getAllEvent">
      <div class="col-6 col-sm-4 col-md-4 col-lg-4 col-xl-3">
          <div class="course" (click)="liveStreaming(item.event_id)">
            <div class="course-preview">
              <img class="image" [src]="item.image">
              <!--<div class="name-image">{{item.username}}</div>-->
            </div>
            <div class="course-info">
              <h2>{{item.event_name}}</h2>
              <button class="btn" (click)="liveStreaming(item.event_id)">Play</button>
            </div>
          </div>
      </div>
      </ng-container>
    </div>
</div>
