<section class="main-content report-content">
        <h2>Order Details</h2>
        <div class="report-right-side-icon">
            <a  class="file-pdf-icon"><img src="./images/pdf.png" alt=""></a>
            <a  class="file-spreadsheet-icon"><img src="./images/xls.png" alt=""></a>
        </div>
        <form class="report-date-input">
            <div class="report-left-side">
                <div class="date-input-box">
                    <input type="date" name="date" placeholder="dd-mm-yyy">
                </div>
                <div class="date-input-box">
                    <input type="date" name="date" placeholder="dd-mm-yyy">
                </div>
                <div class="date-input-box select-after">
                    <select>
                  <option selected>User ALL</option>
                  <option>Chips</option>
                  <option>Game</option>
                  <option>Cash</option>
                </select>
                </div>
                <div class="date-input-box select-after">
                    <select>
                  <option selected>All Exchanges</option>
                  <option>NSE</option>
                  <option>MCX</option>
                  <option>NSE</option>
                </select>
                </div>
                <div class="date-input-box select-after">
                    <select>
                  <option selected>All symbols</option>
                  <option>NSE ALKEM 24-JUN</option>
                  <option>NSE ALKEM 24-JUN</option>
                  <option>NSE ALKEM 24-JUN</option>
                </select>
                </div>
            </div>
            <div class="report-right-side">
                <a href="#" class="view-btn">View</a>
                <a href="#" class="clear-btn">Clear</a>
            </div>

        </form>
        <!-- form -->
        <form class="report-date-input">
            <div class="report-left-side report-left-sidsae">

                <div class="date-input-box select-after alal">
                    <select>
                  <option selected>25</option>
                  <option>50</option>
                  <option>20</option>
                  <option>300</option>
                </select>
                </div>

            </div>
            <div class="date-input-box float-right">
                <div class="search-bar-input-box search-bar-input-boxt">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
        </form>
        <div class="respo-scroll">
            <table class="default-table-style  accounta-peg-men">
                <tr class="men-titel-color">
                    <th class="text-left">Exchanges</th>
                    <th class="text-left">Symbols</th>
                    <th class="text-left">Order Type</th>
                    <th class="text-right">Quantity</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">OrderStatus</th>
                    <th class="text-right">TradeBy</th>
                    <th class="text-right">Date & Time</th>
                </tr>
                <tbody *ngIf="transactionResponse">
                        <tr *ngFor="let trade of transactionResponse let i = index ; odd as isOdd; even as isEven" [class.Odd]=""
                        [class.even]="">
                        <td class="text-left">{{trade.ExchangeName}}</td>
                        <td class="text-left">{{trade.Script}}  {{trade.ExpiryDate | date: 'dd-MMM'}} </td>
                        <td class="{{trade.BuySellText === 'BUY' ? 'text-left buy': 'text-left sell' }}">{{trade.BuySellText}}</td>
                        <td class="text-right ">{{trade.OrderTypeText}}</td>
                        <td class="text-right ">{{trade.OrderPrice}}</td>
                        <td class="text-right ">{{trade.Quantity}}</td>
                        <td class="text-right">{{trade.OrderStatusText}}</td>
                        <td class="text-right ">{{trade.UserName}}</td>
                        <td class="text-right  debit-color">{{trade.ExecutionTime | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
                        </tr>
                </tbody>

            </table>
        </div>
    </section>
