<section class="report-content main-content">
  <div class="hading-box mb-3">
    <p class="m-0 p-0">Profit & Loss Statement</p>
    <div class="float-right">
      <a  title="pdf">
        <img src="./assets/images/pdf.png" alt="pdf" width="20">
      </a>
      <a  title="excel">
        <img src="./assets/images/excel.png" alt="pdf" width="20">
      </a>
    </div>
  </div>

  <form class="report-date-input">
    <div class="report-left-side">
      <div class="date-input-box">
        <input autocomplete="off" readonly placeholder="{{sDate}}" class="form-control" name="fromDate"
               #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate"
               (dateSelect)="onDateSelect($event)" id="From_Date" id="From_Date" ngbDatepicker #d="ngbDatepicker"
               (click)="d.toggle()">
      </div>
      <div class="date-input-box">
        <input autocomplete="off" readonly placeholder="{{eDate}}" class="form-control" name="toDate"
               #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker
               #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate" [disabled]="disabled">
      </div>
    </div>
    <div class="report-right-side">
      <a  class="view-btn ban-man-box" (click)="searchFilterData()">View</a>
      <a  class="clear-btn ban-man-box" (click)="clearFilter()">Clear</a>
    </div>
  </form>
  <!-- form -->

  <div class="respo-scroll">
    <table datatable [dtOptions]="dtOptions" class=" default-table-style black-color-table">
      <thead class="men-titel-color">
      <tr>
        <th class="text-left">No.</th>
        <th class="text-center">Sport</th>
        <th class=" text-right">MarketName</th>
        <th class=" text-right">Amount</th>
      </tr>
      </thead>
      <tbody *ngIf="chipsTransactionData">
      <tr class="table-tr-item" *ngFor="let chipsData of chipsTransactionData;let i = index">
        <td class="text-left"> {{(i+1) + ((filter.page -1) * filter.limit)}}.</td>
        <td  class="text-center">{{chipsData._id && chipsData._id.sportId ? chipsData._id.sportName : 'Casino' }}</td>
        <td  class="text-right">{{chipsData._id.marketType}}</td>
        <td  class="{{chipsData.total > 0 ? 'text-right credit-color' : 'text-right debit-color'}}">{{chipsData.total | number:'1.0-2' | noComma}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td class="text-right font-weight-bolder" colspan="3">Total :</td>
        <td class="{{total > 0 ? 'text-right font-weight-bolder credit-color' : 'text-right font-weight-bolder debit-color'}}">{{total | number:'1.0-2' | noComma}}</td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>
