<section class="report-content">
  <h2>Account Summary</h2>
  <div class="report-right-side-icon">
    <a class="file-pdf-icon cursor-point" (click)="download()"><img src="../../../assets/images/pdf.png" alt=""></a>
    <a class="file-spreadsheet-icon cursor-point" (click)="download()"><img src="../../../assets/images/xls.png" alt=""></a>
  </div>

  <form class="report-date-input">
    <div class="report-left-side">
      <div class="date-input-box select-after">
        <select type="text"  name="weekOption" id="status" (change)="chnageWeek($event.target.value)">
          <option value="thisweek">This Week</option>
          <option  value="previousweek">Previous Week</option>
          <option  value="custome">Custome Period</option>
        </select>
      </div>
      <div class="date-input-box" *ngIf="customeWeek == true">
        <input autocomplete="off" readonly placeholder="{{sDate}}" name="fromDate" #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate" (dateSelect)="onDateSelect($event)" id="From_Date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
      </div>
      <div class="date-input-box" *ngIf="customeWeek == true">
        <input autocomplete="off" readonly placeholder="{{eDate}}" name="toDate" #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate" [disabled]="disabled">
      </div>
      <div class=" date-input-box-chek mt-1">
        <div class="form-check form-check-inline">
          <label class="form-check-label mr-2" for="inlineRadio1">P/L </label>
          <!-- <input class="form-check-input"  #plcheck="ngModel" [(ngModel)]="betObjFilter.plcheck"  type="radio" name="plcheck" id="inlineRadio1"> -->
          <input class="form-check-input" name="plcheck"  #plcheck="ngModel" [(ngModel)]="betObjFilter.plcheck" type="checkbox"/>

        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label mr-2" for="inlineRadio2">Brokerage </label>
          <input class="form-check-input" name="brcheck"  #brcheck="ngModel" [(ngModel)]="betObjFilter.brcheck" type="checkbox"/>

        </div>
      </div>
    </div>
    <div class="report-right-side">
      <button class="btn btn-success cursor-point mr-2" (click)="searchFilterData()">View</button>
      <button class="btn btn-danger cursor-point" (click)="clearFilter()">Clear</button>

    </div>

  </form>

  <div class="respo-scroll">
    <table  class="table table-striped nowrap  default-table-style  accounta-peg-men">
      <thead>
      <tr class="men-titel-color">
        <th class="w-no">No.</th>
        <th class="text-left">Script</th>
        <th class="text-left">Type</th>
        <th class="text-left">Debit</th>
        <th class="text-left">Credit</th>
        <th class="text-left">Closing balance</th>
        <th class="text-left">Date</th>
      </tr>
      </thead>
      <tbody *ngIf="accountSummary">
      <tr *ngFor="let trade of accountSummary let i = index ; odd as isOdd; even as isEven" [class.Odd]=""
          [class.even]="isEven">
        <td class="text-left"><span>{{i + 1}} </span> </td>
        <td class="text-left"><span>{{trade.Script || '-'}} </span> </td>
        <td class="text-left">{{trade.Type}}</td>
        <td class="text-left">{{trade.Debit}}</td>
        <td class="text-left">{{trade.Credit}}</td>
        <td class="text-left">{{trade.Closing}}</td>
        <td class="text-left">{{trade.Date | date: 'dd/MM/yyyy hh:mm:ss a'}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</section>


