.casino .modal-content {
  border: 5px solid #0cd463;
  border-radius: 5px!important;
}
.casino-imgs {
  //background: url(https://images.staticcontents.com/casino/banner/images/engcasinomodalbgimg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 200px;


}
.casino-imgs .main-cls{
  padding: 1rem;
  background: #000 !important;
}
.casino-info {
  font-size: 22px;
  margin-bottom: 25px;
  color: #0cd463!important;
}
.f-18 {
  font-size: 18px!important;
}
.hirizontal-line {
  border: 1px solid #0cd463;
  height: 1px;
  margin: 5px 0;
}
.casino-btn {
  margin-top: 25px;
}
.casino-close {
  background: #0cd463!important;
  background-image: linear-gradient(#0cd463,#0cd463)!important;
  border: 1px solid #0cd463!important;
}
@media all and (min-width: 280px) and (max-width: 767px){
  .nav-item{
    width: auto;
    .btn-primary-card {
      padding: 5px 0;
      text-align: center;
      min-width: 120px;
      font-size: 12px;
    }
  }
}
