<section class="report-content">
  <h2>Create Bill</h2>
  <div class="report-right-side-icon">
    <!--<a class="file-pdf-icon cursor-point" (click)="download()"><img src="../../../assets/images/pdf.png" alt=""></a>-->
    <!--<a class="file-spreadsheet-icon cursor-point" (click)="download()"><img src="../../../assets/images/xls.png" alt=""></a>-->
  </div>

  <form class="report-date-input mt-3">
    <div class="report-left-side">
      <div class="date-input-box select-after">
        <select type="text"  name="weekOption" id="status" (change)="chnageWeek($event.target.value)">
          <option value="thisweek">This Week</option>
          <option  value="previousweek">Previous Week</option>
          <option  value="custome">Custom Period</option>
        </select>
      </div>
      <div class="date-input-box" *ngIf="customeWeek == true">
        <input autocomplete="off" readonly placeholder="{{sDate}}" name="fromDate" #startDate="ngModel" (change)="clearDate($event)" [(ngModel)]="fromDate" (dateSelect)="onDateSelect($event)" id="From_Date" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()">
      </div>
      <div class="date-input-box" *ngIf="customeWeek == true">
        <input autocomplete="off" readonly placeholder="{{eDate}}" name="toDate" #endDate="ngModel" (change)="clearDate($event)" [(ngModel)]="toDate" id="To_Date" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="minDate" [disabled]="disabled">
      </div>
    </div>
    <div class="report-right-side">
      <button class="btn btn-success cursor-point mr-2" (click)="searchFilterData()">View</button>
    </div>
  </form>
</section>


