<section class="details-content main-content"  *ngIf="getMarketById && getMarketById[0]">
  <div class="container-fluid p-0 tab-menu-sport" >
    <nav class="nav-tabs-bas visible-phone">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="market-tab" data-bs-toggle="tab" href="#market" role="tab"
          aria-controls="market" aria-selected="true">
          <img src="../../../assets/images/graph.png" alt="Market" /> Market
        </a>
        <a class="nav-item nav-link" id="betS-tab" data-bs-toggle="tab" href="#betS" role="tab" aria-controls="betS"
          aria-selected="false">
          <img src="../../../assets/images/bets.png" alt="Bets" /> Bets
        </a>
        <a class="nav-item nav-link user-select-none " (click)="openTvCls()">
          <img src="../../../assets/images/tv.png" alt="tv" /> TV
        </a>
      </div>
    </nav>
    <div class="row m-0 p-0  tab-content" >
      <div  class="col-xl-9 col-12 bx-desktop-ui tab-pane active show" id="market">
        <div class="autoset">
          <ng-container >
        <div class="dash-content-top-bar">
          <div class="hading-box">
            <p class="m-0  p-0 heding-font">{{getMarketById && getMarketById[0].match.name.substring(0, getMarketById[0].match.name.indexOf('(')) ? getMarketById[0].match.name.substring(0, getMarketById[0].match.name.indexOf('(')) : getMarketById[0].match.name }} - {{getMarketById && getMarketById[0].tournament.name.substring(0, getMarketById[0].tournament.name.indexOf('(')) ? getMarketById[0].tournament.name.substring(0, getMarketById[0].tournament.name.indexOf('(')) : getMarketById[0].tournament.name}}</p>
            <div class="dash-date-time">
              <span>{{(matchOddsData && matchOddsData.length > 0) ? (matchOddsData && matchOddsData[0].marketStartTime | date:'dd/MM/yyyy h:mm:ss a'):  (getMarketById && getMarketById[0].marketStartTime | date:'dd/MM/yyyy h:mm:ss a')}}</span>
            </div>
          </div>
        </div>
        <div class="tv-opne-mobel">
          <div class="mobileTv" >
          </div>
        </div>
            <div *ngIf="getMarketById[0].sport.id != 4" class="score-Other" id="other_ev"></div>
            <div class="scorecard m-b-5 cricket-m-hide  " *ngIf="scoreRadar && scoreRadar != null && getMarketById[0].sport.id == 4">
              <div class="row">
                <div class="col-md-7 col-lg-6 pr-1">
                  <div class="team-1 row">
                    <div class="col-md-12 col-lg-12" *ngIf="scoreRadar.as && scoreRadar.as.length > 0">
                      <span class="team-name d-inline mr-3 team-name-color">{{scoreRadar.a}}</span>
                      <ng-container *ngIf="scoreRadar.mf == 'Test Match' || scoreRadar.mf == 'TEST'">
                        <span class="team-name d-inline mr-2" *ngFor="let ass of scoreRadar.as">{{ass.r}}-{{ass.w}}({{ass.o}})</span>

                      </ng-container>
                      <ng-container *ngIf="scoreRadar.mf != 'Test Match' && scoreRadar.mf != 'TEST'">
                        <span class="team-name d-inline mr-2" >{{scoreRadar.as[0].r}}-{{scoreRadar.as[0].w}}({{scoreRadar.as[0].o}})</span>
                      </ng-container>
                      <span class="team-name d-inline teamname-widht">
                  <span>CRR <span class="ml-1 mr-2">{{scoreRadar.as[0].rr}}</span>
                </span>
                </span>
                    </div>
                  </div>
                  <div class="team-1 row">
                    <div class="col-md-12 col-lg-12" *ngIf="scoreRadar.hs && scoreRadar.hs.length > 0">
                      <span class="team-name d-inline mr-3 team-name-color">{{scoreRadar.h}}</span>
                      <ng-container *ngIf="scoreRadar.mf == 'Test Match' || scoreRadar.mf == 'TEST'">
                        <span class="team-name d-inline mr-2 {{hss.r == '6' ? 'six' : hss.r == '4' ? 'four' : '' }}" *ngFor="let hss of scoreRadar.hs">{{hss.r}}-{{hss.w}}({{hss.o}})</span>
                      </ng-container>
                      <ng-container *ngIf="scoreRadar.mf != 'Test Match' && scoreRadar.mf != 'TEST'">
                        <span class="team-name d-inline mr-2 {{scoreRadar.hs[0].r == '6' ? 'six' : scoreRadar.hs[0].r == '4' ? 'four' : '' }}" >{{scoreRadar.hs[0].r}}-{{scoreRadar.hs[0].w}}({{scoreRadar.hs[0].o}})</span>
                      </ng-container>
                      <span class="team-name d-inline teamname-widht">
                  <span>CRR <span class="ml-1 mr-2">{{scoreRadar.hs[0].rr}}</span>
                </span>
                </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 col-lg-6 pl-1">
                  <div class="row">
                    <div class="col-md-12 padding-left0">
                      <!--<span class="commentary "><i class="bx bxs-megaphone mr-1 mr-1" aria-hidden="true"></i>{{scoreRadar.m}}</span>-->
                      <div class="row">
                        <div class="col-md-12 padding-left0">
                          <p class="text-right ball-by-ball m-t-10"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mcms">
                <div class="col-12 col-sm-6 col-md-6 col-xxl-6">
                  <div class="lastsixball">
                    <span class="lastball-runs m-l-5 {{cr == '6' ? 'six' : cr == '4' ? 'four' : cr == 'w' ? 'w' : '' }}" *ngFor="let cr of scoreRadar.l">{{cr != '' ? cr : ''}}</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-xxl-6">
                  <div class="lastsixballs">
                    <p class="text-right ball-by-ball m-t-10">
                      <ng-container *ngIf="scoreRadar.o && scoreRadar.o.length > 0">
                        <span class="ball-runs m-l-5 {{cr.r == '6' ? 'six' : cr.r == '4' ? 'four' : cr.w != 'NA' ? 'w' : '' }}" *ngFor="let cr of scoreRadar.o">{{cr.w != 'NA' ? 'W' :  cr.e == 'NB' ? 'NB' : cr.e == 'WD' ? 'WD' : cr.w != 'NA' ? 'W' : cr.r}}</span>
                      </ng-container>
                    </p>
                  </div>
                </div>

              </div>
              <div class="ballstatuscricket ">{{scoreRadar.s == 'WM' ? '' : scoreRadar.s == 'BR' ? 'Ball Chalu'  : scoreRadar.s == 'STO' ? 'Strategic Timeout' : scoreRadar.s == 'IB' ? 'Innings Break'  : scoreRadar.s == 'NB' ? 'NB' : scoreRadar.o && scoreRadar.o.length > 0 && scoreRadar.o[scoreRadar.o.length -1 ].w != 'NA' ? 'W' : scoreRadar.o && scoreRadar.o.length > 0 && scoreRadar.o[scoreRadar.o.length -1 ].e == 'WD' ? 'WD' : scoreRadar.o[scoreRadar.o.length -1 ].r }}</div>
              <div class="row" *ngIf="scoreRadar.m != ''"><div class="col-md-12 "><span class="commentary  custom-commentary"><i class="bx bxs-megaphone mr-1" aria-hidden="true"></i> {{scoreRadar.m}}</span></div></div>
            </div>
        <div class="accordion-list mt-2">
          <ng-container *ngIf="matchOddsData && matchOddsData.length > 0">
          <div class="bet-match-box" *ngFor="let match of matchOddsData let p = index;">
            <div class="match-odds-top-bar">
              <p class="p-0 m-0" >{{match.displayName}}</p>
              <div *ngIf="match.marketType == 'Match Odds'" class="match-min-max popuptext" id="minMax_{{match.marketIdDec}}">
                <span>Min: {{(match.inPlay == false) ? (match.gameSetting.preInPlayStack ) : match.gameSetting.minStack ? (match.gameSetting.minStack ) : (match.gameSetting.minStack )}}</span>
                <span>Max: {{(match.inPlay == false) ? (match.gameSetting.preInPlayStack ) : match.gameSetting.maxStack ? (match.gameSetting.maxStack ) : (match.gameSetting.maxStack )}}</span>
              </div>
              <div *ngIf="match.marketType == 'Winner'" class="match-min-max popuptext" id="minMax_{{match.marketIdDec}}">
                <span>Min: {{(match.inPlay == false) ? (match.cupSetting.preInPlayStack ) : match.cupSetting.minStack ? (match.cupSetting.minStack ) : (match.cupSetting.minStack )}}</span>
                <span>Max: {{(match.inPlay == false) ? (match.cupSetting.preInPlayStack ) : match.cupSetting.maxStack ? (match.cupSetting.maxStack ) : (match.cupSetting.maxStack )}}</span>
              </div>
            </div>
            <div class="popup-box-main" (click)="myFunction(match.marketIdDec)"><i class="fas fa-info"></i></div>
            <div class="answer">
              <div class="match-team-name-price-main" >
                <div class="match-team-price">
                  <div class="respo-show-price">
                    <h4 class="back-lay-text">back</h4>
                    <h4 class="back-lay-text lay-color">Lay</h4>
                  </div>
                </div>
              </div>
              <ng-container *ngFor="let team of match.runners let i = index;let lastcall=last">
              <div class="match-team-name-price-main" >
                <p class="w-59">{{team.runnerName}}  <br>  <strong class="" id="{{team.selectionId}}_{{match.marketIdDec}}_exposer"></strong> <span class="float-end" id="{{team.selectionId}}_{{match.marketIdDec}}"></span></p>
                <div class="match-team-price">
                  <ul class="{{match.marketIdDec}}_market">
                    <li>
                      <div class="match-price-first">
                        <div class="match-price-box match-price-bg-color1">
                          <p class="match-price-color1" id="{{team.selectionId}}_{{match.marketIdDec}}_back_2_odds">-</p>
                          <span id="{{team.selectionId}}_{{match.marketIdDec}}_back_2_vol">-</span>
                        </div>
                      </div>
                      <div class="match-price-first">
                        <div class="match-price-box match-price-bg-color2">
                          <p class="match-price-color1" id="{{team.selectionId}}_{{match.marketIdDec}}_back_1_odds">-</p>
                          <span id="{{team.selectionId}}_{{match.marketIdDec}}_back_1_vol">-</span>
                        </div>
                      </div>
                    </li>
                    <li id="{{match.marketIdDec}}_open" class="respo-show-price-mobile">
                      <div class="match-price-first" (click)="placeRateMarket(match.marketIdDec,i,'back','0',$event,match,team , p)">
                        <div id="{{team.selectionId}}_{{match.marketIdDec}}_back_0_odds_blink" class="match-price-box match-price-bg-color3">
                          <p id="{{team.selectionId}}_{{match.marketIdDec}}_back_0_odds" class="match-price-color1">-</p>
                          <span id="{{team.selectionId}}_{{match.marketIdDec}}_back_0_vol">-</span>
                          <input type="hidden" id="{{team.selectionId}}_{{match.marketIdDec}}_back_0_odds_hiddne">
                        </div>
                      </div>
                      <div class="match-price-first" (click)="placeRateMarket(match.marketIdDec,i,'lay','0',$event,match,team , p)">
                        <div id="{{team.selectionId}}_{{match.marketIdDec}}_lay_0_odds_blink" class="match-price-box match-price-bg-color4">
                          <p id="{{team.selectionId}}_{{match.marketIdDec}}_lay_0_odds" class="match-price-color1">-</p>
                          <span id="{{team.selectionId}}_{{match.marketIdDec}}_lay_0_vol">-</span>
                          <input type="hidden" id="{{team.selectionId}}_{{match.marketIdDec}}_lay_0_odds_hiddne">
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="match-price-first">
                        <div class="match-price-box match-price-bg-color5">
                          <p id="{{team.selectionId}}_{{match.marketIdDec}}_lay_1_odds" class="match-price-color1">-</p>
                          <span id="{{team.selectionId}}_{{match.marketIdDec}}_lay_1_vol">-</span>
                        </div>
                      </div>
                      <div class="match-price-first pr-0">
                        <div class="match-price-box match-price-bg-color6">
                          <p id="{{team.selectionId}}_{{match.marketIdDec}}_lay_2_odds" class="match-price-color1">-</p>
                          <span id="{{team.selectionId}}_{{match.marketIdDec}}_lay_2_vol">-</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- open-bet-run -->
                <div id="{{team.selectionId + p}}_betModal" class="bet-runs-main">
                  <div class="bet-runs-details">
                    <div class="input-box-main">
                      <div class="input-group">
                        <input type="button" value="-" class="button-minus" data-field="quantity" />
                        <!--<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field" />-->
                        <input type="nobar" #maxOddsSelect disabled (click)="maxOddsSelect.select()" id="{{team.selectionId + p}}_oddsInput" class="form-control quantity-field disabled" value="1" min="1">

                        <input type="button" value="+" class="button-plus" data-field="quantity" />
                      </div>
                      <div class="input-group">
                        <input type="button" value="-" (click)="substract(team.selectionId, p , '_stackInput', 'market')" class="button-minus" data-field="quantity" />
                        <!--<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field" />-->
                        <input type="nobar" #maxStackSelect (click)="maxStackSelect.select()" id="{{team.selectionId + p}}_stackInput" (keyup)="calculateExposerOnkey($event.target.value , team.selectionId, p)" class="form-control quantity-field" min="1" max="1000000" placeholder="Stake">

                        <input type="button" value="+" (click)="addition(team.selectionId, p , '_stackInput', 'market')" class="button-plus" data-field="quantity" />
                      </div>
                    </div>
                    <div *ngIf="currencyAll" class="price-btn-box-main">
                      <div class="priche-box-ma">
                        <div class="currency-btn-group">
                        <div *ngFor="let ite of currencyAll.buttons ;let i = index" class="price-btn-padding">
                          <button type="button" class="price-btn" id="btn{{i}}" (click)="placeRateValue($event , team.selectionId , p)" [attr.data-val]="ite.value">{{ite.name}}</button>
                        </div>
                        </div>
                        <!--<tr class="br-top b-t-slip-mobile bg-white"><td colspan="11" class="mt-1 mb-1 p-0"><table class="w-100 text-black w-100 font-weight-bold br-1-bl"><tr class="br-bottom"><td class="br-right w-14"><span>1</span></td><td class="br-right w-14"><span>2</span></td><td class="br-right w-14"><span>3</span></td><td class="br-right w-14"><span>4</span></td><td class="br-right w-14"><span>5</span></td><td class="br-right w-14"><span>6</span></td><td rowspan="2" class="w-14"><span><img alt="" src="https://images.staticcontents.com/rde/uimg/bt-icon.jpg"></span></td></tr><tr><td class="br-right w-14"><span>7</span></td><td class="br-right w-14"><span>8</span></td><td class="br-right w-14"><span>9</span></td><td class="br-right w-14"><span>0</span></td><td class="br-right w-14"><span>00</span></td><td class="br-right w-14"><span>.</span></td></tr></table></td></tr>-->
                        <div class="price-btn-padding mobel-ui-price-bet destop-ui-Place">
                          <button type="submit" class="price-btn bet-box bet-bg-color"  id="placebet" (click)="placeBet($event,'web', team.selectionId, p, match.marketId)">Place bet</button>
                        </div>
                        <div class="price-btn-padding mobel-ui-price-bet">
                          <button type="button" class="price-btn bet-box btn-cancel" (click)="cancelBtn()">Cancel</button>
                        </div>
                        <div class="price-btn-padding mobel-ui-price-bet mobel-ui-Place">
                          <button type="submit" class="price-btn bet-box bet-bg-color"  id="placebet" (click)="placeBet($event,'web', team.selectionId, p, match.marketId)">Place bet</button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="lastcall">
                      {{inItAppendingDummyRate()}}
                    </div>
                  </div>
                  <ngx-spinner
                    bdColor="rgba(0,0,0,0.8)"
                    size="small"
                    color="rgba(0,0,0,0)"
                    [fullScreen]="false"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(241, 242, 243, 0); display: block;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                      <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                        <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                      </circle>
                    </svg>
                    <p style="color: white; width: 100%; display: flex">Please wait...</p>
                  </ngx-spinner>
                </div>

              </div>

              </ng-container>
                <div [ngStyle]="{'display' : (match.message) ? ' inline-block' : 'none'}" class="match-team-name-price-main " id="{{match.marketIdDec}}_message">
                  <p class="match-massage"><i class="fas fa-bullhorn"></i> {{match.message}}</p>
                </div>
            </div>
          </div>
          </ng-container>

          <ng-container *ngIf="bookmakerData && (bookmakerData.length > 0)">
            <ng-container *ngFor="let match of bookmakerData; let lastcall=last">
              <div class="bet-match-box">
                <div class="match-odds-top-bar">
                  <p class="m-0 p-0 heding-font">{{match.displayName}}</p>
                  <div class="match-min-max popuptext" id="minMax_{{match.marketIdDec}}">
                    <span>Min: {{match.minStackMarket ? (match.minStackMarket ) : '-'}}</span>
                    <span>Max: {{match.maxStackMarket ? (match.maxStackMarket ) : '-'}}</span>
                  </div>
                </div>
                <div class="popup-box-main" (click)="myFunction(match.marketIdDec)"><i class="fas fa-info"></i></div>
                <div class="answer">
                  <div class="match-team-name-price-main" >
                    <div class="match-team-price">
                      <div class="respo-show-price">
                        <h4 class="back-lay-text">back</h4>
                        <h4 class="back-lay-text lay-color">Lay</h4>
                      </div>
                    </div>
                  </div>
                  <ng-container *ngFor="let team of match.runners let i = index">
                    <div class="match-team-name-price-main" >
                      <p class="w-59">{{team.runnerName}} <br>  <strong class="" id="{{team.selectionId}}_bm_exposer"></strong> <span class="float-end" id="{{team.selectionId}}_bm"></span></p>
                      <div class="match-team-price">
                        <ul id="{{team.selectionId}}_bookmaker" class="market_suspend">
                          <li>
                            <div class="match-price-first">
                              <div class="match-price-box match-price-bg-color1">
                                <p class="match-price-color1">-</p>
                                <span>-</span>
                              </div>
                            </div>
                            <div class="match-price-first">
                              <div class="match-price-box match-price-bg-color2">
                                <p class="match-price-color1">-</p>
                                <span>-</span>
                              </div>
                            </div>
                          </li>

                          <li id="{{team.selectionId}}_bm_open" class="respo-show-price-mobile">
                            <div class="match-price-first" (click)="placeRateMarketBM(team.selectionId,i,'back',i,$event,match,team)">
                              <div id="{{team.selectionId}}_back_odds_blink" class="match-price-box match-price-bg-color3">
                                <p id="{{team.selectionId}}_back_odds" class="match-price-color1">-</p>
                                <span id="{{team.selectionId}}_back_vol">-</span>
                                <input type="hidden" id="{{team.selectionId}}_back_odds_hiddne">
                              </div>
                            </div>
                            <div class="match-price-first" (click)="placeRateMarketBM(team.selectionId,i,'lay',i,$event,match,team)">
                              <div id="{{team.selectionId}}_lay_odds_blink" class="match-price-box match-price-bg-color4">
                                <p id="{{team.selectionId}}_lay_odds" class="match-price-color1">0</p>
                                <span id="{{team.selectionId}}_lay_vol">0</span>
                                <input type="hidden" id="{{team.selectionId}}_lay_odds_hiddne">
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="match-price-first">
                              <div class="match-price-box match-price-bg-color5">
                                <p class="match-price-color1">0</p>
                                <span>0</span>
                              </div>
                            </div>
                            <div class="match-price-first pr-0">
                              <div class="match-price-box match-price-bg-color6">
                                <p class="match-price-color1">0</p>
                                <span>0</span>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="{{team.selectionId}}_bm_betModal" class="bet-runs-main">
                      <div class="bet-runs-details">
                        <div class="input-box-main">
                          <div class="input-group">
                            <input type="button" value="-" class="button-minus" data-field="quantity" />
                            <!--<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field" />-->
                            <input type="nobar" #maxOddsSelect disabled (click)="maxOddsSelect.select()" id="{{team.selectionId}}_bm_oddsInput" class="form-control quantity-field disabled" value="1" min="1">

                            <input type="button" value="+" class="button-plus" data-field="quantity" />
                          </div>
                          <div class="input-group">
                            <input type="button" value="-" (click)="substract(team.selectionId, '_bm_' , 'stackInput', '')"  class="button-minus" data-field="quantity" />
                            <!--<input type="number" step="1" max="" value="1" name="quantity" class="quantity-field" />-->
                            <input type="nobar" #maxStackSelect (click)="maxStackSelect.select()" id="{{team.selectionId}}_bm_stackInput" (keyup)="calculateExposerOnkey($event.target.value , team.selectionId, i)" class="form-control quantity-field" min="1" max="1000000" placeholder="Stake">

                            <input type="button" value="+" (click)="addition(team.selectionId, '_bm_' , 'stackInput' , '')"  class="button-plus" data-field="quantity" />
                          </div>
                        </div>
                        <div *ngIf="currencyAll" class="price-btn-box-main">
                          <div class="priche-box-ma">
                            <div class="currency-btn-group">
                            <div *ngFor="let ite of currencyAll.buttons ;let k = index" class="price-btn-padding">
                              <button type="button" class="price-btn" id="btn{{k}}" (click)="placeRateValueBm($event , team.selectionId)" [attr.data-val]="ite.value">{{ite.name}}</button>
                            </div>
                            </div>
                            <div class="price-btn-padding mobel-ui-price-bet destop-ui-Place">
                              <button type="submit" class="price-btn bet-box bet-bg-color"  id="placebet" (click)="placeBetBm($event,'web', team.selectionId)">Place bet</button>
                            </div>
                            <div class="price-btn-padding mobel-ui-price-bet cancel-btn">
                              <button type="button" class="price-btn bet-box" (click)="cancelBtn()">Cancel</button>
                            </div>
                            <div class="price-btn-padding mobel-ui-price-bet mobel-ui-Place">
                              <button type="submit" class="price-btn bet-box bet-bg-color"  id="placebet" (click)="placeBetBm($event,'web', team.selectionId)">Place bet</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <ngx-spinner
                        bdColor="rgba(0,0,0,0.5)"
                        size="small"
                        color="rgba(0,0,0,0)"
                        [fullScreen]="false"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(241, 242, 243, 0); display: block;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                          <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                          </circle>
                        </svg>
                        <p style="color: white; width: 100%; display: flex">Please wait...</p>
                      </ngx-spinner>
                    </div>
                  </ng-container>

                      <div [ngStyle]="{'display' : (match.message) ? ' inline-block' : 'none'}" class="match-team-name-price-main" id="{{match.marketIdDec}}_message">
                      <p class="match-massage"><i class="fas fa-bullhorn"></i> {{match.message}}</p>
                      </div>

                </div>
              </div>
            </ng-container>
          </ng-container>

            <div class="match-odds-main bet-match-box mt-2">
              <div class="match-odds-top-bar">
                <p class="m-0 p-0 heding-font bet-fancy">Fancy <span>{{fancyData && fancyData.length}}</span></p>

              </div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
              <ng-container *ngIf="fancyData && fancyData.length > 0">
                <div class="row mobileCls">
                  <div class="col-xxl-6 col-xl-12 col-lg-12 col-12 mobileCls" *ngFor="let fancy of fancyData; let i=index; let lastcall=last">
                    <div class="match-team-name-price-main">
                <div class="min-bet-main">
                  <p class=" destop-ui-match-massage cursor-pointer" (click)="getFancyChart(fancy.fancyId,getMarketById[0].marketId,fancy.fancyName)">{{fancy.fancyName || '--'}}</p>
                  <ng-container *ngIf="fancy.fancyName.length > 25">
                   <!-- <marquee scrollamount="2" behavior="scroll" class="mobal-ui-match-massage">
                    <p class="mb-0 font-12 cursor-pointer" (click)="getFancyChart(fancy.fancyId,getMarketById[0].marketId,fancy.fancyName)">{{fancy.fancyName || '--'}}</p>
                  </marquee>  -->
                  </ng-container>
                  <ng-container *ngIf="fancy.fancyName.length <= 25">
                    <div class="mobal-ui-match-massage">
                      <p class="mb-0 font-12 cursor-pointer" (click)="getFancyChart(fancy.fancyId,getMarketById[0].marketId,fancy.fancyName)">{{fancy.fancyName || '--'}}</p>
                    </div>
                  </ng-container>
                  <strong id="{{fancy.fancyId}}_exposer"></strong>

                </div>
                <div class="match-team-price">
                  <div class="min-max-icon-box">
                    <i class="fas fa-info-circle tool-tip" (click)="myFunction(fancy.fancyId)"></i>
                  </div>
                  <div class="" id="minMax_{{fancy.fancyId}}" style="display: none">
                    <span>Min: {{(fancy.minStackFancy | thousandSuff)}}</span>
                    <span>Max: {{(fancy.maxStackFancy | thousandSuff)}}</span>
                  </div>
                  <ul class="">
                    <li class="line-market-width respo-show-price">
                      <!--<h4 class="back-lay-text" *ngIf="i == 0">yes</h4>-->
                      <!--<h4 class="back-lay-text" *ngIf="i == 0">No</h4>-->
                      <div class="myRate  first_hide" id="{{fancy.fancyId}}_first">
                        <div class="match-price-first cursor-pointer" (click)="placeRate('fancy','lay','no1',fancy.fancyId,$event,fancy.fancyName, '',i )">
                          <div id="no1_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color4">
                            <p id="no1_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="no1Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>
                        <div class="match-price-first cursor-pointer pr-0" (click)="placeRate('fancy','back','yes1',fancy.fancyId,$event,fancy.fancyName, '',i)">
                          <div id="yes1_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color3">
                            <p id="yes1_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="yes1Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>

                      </div>
                      <div class="myRate" *ngIf="fancy.isActive" id="{{fancy.fancyId}}_second">
                        <div class="match-price-first cursor-pointer" (click)="placeRate('fancy','lay','no2',fancy.fancyId,$event,fancy.fancyName, '',i )">
                          <div id="no2_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color4">
                            <p id="no2_{{fancy.fancyId}}" class="match-price-color1">- <span *ngIf="fancy.rate.length > 0">
                                         </span></p>
                            <span id="no2Vol_{{fancy.fancyId}}">- <span *ngIf="fancy.rate.length > 0">
                                         </span></span>
                          </div>
                        </div>
                        <div class="match-price-first cursor-pointer pr-0" (click)="placeRate('fancy','back','yes2',fancy.fancyId,$event,fancy.fancyName, '',i)">
                          <div id="yes2_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color3">
                            <p id="yes2_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="yes2Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>

                      </div>
                      <div class="myRate third_hide" id="{{fancy.fancyId}}_third">
                        <div class="match-price-first cursor-pointer" (click)="placeRate('fancy','lay','no3',fancy.fancyId,$event,fancy.fancyName, '',i )">
                          <div id="no3_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color4">
                            <p id="no3_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="no3Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>
                        <div class="match-price-first cursor-pointer pr-0" (click)="placeRate('fancy','back','yes3',fancy.fancyId,$event,fancy.fancyName, '',i)">
                          <div id="yes3_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color3">
                            <p id="yes3_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="yes3Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>
                      </div>
                      <div class="myRate forth_hide" id="{{fancy.fancyId}}_forth">
                        <div class="match-price-first cursor-pointer" (click)="placeRate('fancy','lay','no4',fancy.fancyId,$event,fancy.fancyName, '',i )">
                          <div id="no4_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color4">
                            <p id="no4_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="no4Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>
                        <div class="match-price-first cursor-pointer pr-0" (click)="placeRate('fancy','back','yes4',fancy.fancyId,$event,fancy.fancyName, '',i)">
                          <div id="yes4_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color3">
                            <p id="yes4_{{fancy.fancyId}}" class="match-price-color1">-</p>
                            <span id="yes4Vol_{{fancy.fancyId}}">-</span>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="mobel-min-max-ui">
                      <div class="match-min-max">
                        <span>Min: {{(fancy.minStackFancy | thousandSuff)}}</span>
                        <span>Max: {{(fancy.maxStackFancy | thousandSuff)}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
                      <div *ngIf="lastcall">
                        {{startRate()}}
                      </div>
                <!-- open-bet-run -->
                      <div  id="{{fancy.fancyId}}" class="bet-runs-main">
                        <div class="bet-runs-details">
                          <div class="input-box-main">
                            <div class="input-group">
                              <input type="button" value="-"  class="button-minus" data-field="quantity" />
                              <input type="nobar" disabled #maxOddsSelect (click)="maxOddsSelect.select()" id="{{fancy.fancyId + i}}_oddsInput" class="form-control quantity-field disabled" value="1" min="1">
                              <input type="button" value="+" class="button-plus" data-field="quantity" />
                            </div>
                            <div class="input-group">
                              <input type="button" value="-" (click)="substract(fancy.fancyId, i , '_stackInput', '')" class="button-minus" data-field="quantity" />
                              <input type="nobar" #maxStackSelect (click)="maxStackSelect.select()" id="{{fancy.fancyId + i}}_stackInput" (keyup)="calculateExposerOnkey($event.target.value , fancy.fancyId ,i)" class="form-control quantity-field" min="1" max="1000000" placeholder="Stake">
                              <input type="button" value="+" (click)="addition(fancy.fancyId, i , '_stackInput', '')" class="button-plus" data-field="quantity" />
                            </div>
                          </div>
                          <div *ngIf="currencyAll" class="price-btn-box-main">
                            <div class="priche-box-ma">
                              <div class="currency-btn-group">
                              <div *ngFor="let ite of currencyAll.buttons ;let k = index" class="price-btn-padding">
                                <button type="button" class="price-btn" id="btn{{k}}" (click)="placeRateValue($event , fancy.fancyId , i)" [attr.data-val]="ite.value">{{ite.name}}</button>
                              </div>
                              </div>
                              <div class="price-btn-padding mobel-ui-price-bet destop-ui-Place">
                                <button type="submit" class="price-btn bet-box bet-bg-color" id="placebet" (click)="placeBet($event,'web', fancy.fancyId , i, fancy.fancyId)">Place bet</button>
                              </div>
                              <div class="price-btn-padding mobel-ui-price-bet cancel-btn">
                                <button type="button" class="price-btn bet-box " (click)="cancelBtn()">Cancel</button>
                              </div>
                              <div class="price-btn-padding mobel-ui-price-bet mobel-ui-Place">
                                <button type="submit" class="price-btn bet-box bet-bg-color" id="placebet" (click)="placeBet($event,'web', fancy.fancyId , i, fancy.fancyId)">Place bet</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ngx-spinner
                          bdColor="rgba(0,0,0,0.5)"
                          size="small"
                          color="rgba(0,0,0,0)"
                          [fullScreen]="false"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(241, 242, 243, 0); display: block;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                              <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                            </circle>
                          </svg>
                          <p style="color: white; width: 100%; display: flex">Please wait...</p>
                        </ngx-spinner>
                      </div>

                        <div [ngStyle]="{'display' : (fancy.message) ? ' flex' : 'none'}" class="match-team-name-price-main men-box-message" id="{{fancy.fancyId}}_message">
                          <h2 class="match-massage"><i class="fas fa-bullhorn"></i> {{fancy.message}}</h2>
                        </div>
              </div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="tab-pane fade" id="nav-OVERS" role="tabpanel" aria-labelledby="nav-OVERS-tab">
              <ng-container *ngIf="oddEvenData && oddEvenData.length > 0">
                <div class="row mobileCls">
                  <div class="col-xl-6 col-lg-12 col-12 mobileCls" *ngFor="let fancy of oddEvenData; let i=index; let lastcall=last">
                    <div class="match-team-name-price-main">
                      <div class="min-bet-main">
                        <p class=" destop-ui-match-massage cursor-pointer" (click)="getFancyChart(fancy.fancyId,getMarketById[0].marketId,fancy.fancyName)">{{fancy.fancyName || '--'}}</p>
                        <ng-container *ngIf="fancy.fancyName.length > 25">
                          <marquee scrollamount="2" behavior="scroll" class="mobal-ui-match-massage">
                            <p class="mb-0 font-12 cursor-pointer" (click)="getFancyChart(fancy.fancyId,getMarketById[0].marketId,fancy.fancyName)">{{fancy.fancyName || '--'}}</p>
                          </marquee>
                        </ng-container>
                        <ng-container *ngIf="fancy.fancyName.length <= 25">
                          <div class="mobal-ui-match-massage">
                            <p class="mb-0 font-12 cursor-pointer" (click)="getFancyChart(fancy.fancyId,getMarketById[0].marketId,fancy.fancyName)">{{fancy.fancyName || '--'}}</p>
                          </div>
                        </ng-container>
                        <strong id="{{fancy.fancyId}}_exposer"></strong>

                      </div>
                      <div class="match-team-price">
                        <div class="min-max-icon-box">
                          <i class="fas fa-info-circle tool-tip"></i>
                        </div>
                        <ul class="">
                          <li class="line-market-width respo-show-price">
                            <!--<h4 class="back-lay-text" *ngIf="i == 0">yes</h4>-->
                            <!--<h4 class="back-lay-text" *ngIf="i == 0">No</h4>-->
                            <div class="myRate" *ngIf="fancy.isActive" id="{{fancy.fancyId}}_second">
                              <div class="match-price-first pr-0 cursor-pointer" (click)="placeRateOddEven('oddEven','back','yes2',fancy.fancyId,$event,fancy.fancyName, '',i )">
                                <div id="yes2_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color3">
                                  <p id="yes2_{{fancy.fancyId}}" class="match-price-color1">-</p>
                                  <span id="yes2Vol_{{fancy.fancyId}}">-</span>
                                </div>
                              </div>
                              <div class="match-price-first cursor-pointer" (click)="placeRateOddEven('oddEven','lay','no2',fancy.fancyId,$event,fancy.fancyName, '',i )">
                                <div id="no2_class{{fancy.fancyId}}" class="match-price-box match-price-bg-color4">
                                  <p id="no2_{{fancy.fancyId}}" class="match-price-color1">- <span *ngIf="fancy.rate.length > 0">
                                         </span></p>
                                  <span id="no2Vol_{{fancy.fancyId}}">- <span *ngIf="fancy.rate.length > 0">
                                         </span></span>
                                </div>
                              </div>

                            </div>
                          </li>
                          <li class="mobel-min-max-ui">
                            <div class="match-min-max">
                              <span>Min: {{(fancy.minStackOddEven | thousandSuff)}}</span>
                              <span>Max: {{(fancy.maxStackOddEven | thousandSuff)}}</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div *ngIf="lastcall">
                        {{startRate()}}
                      </div>
                      <!-- open-bet-run -->
                      <div id="{{fancy.fancyId}}" class="bet-runs-main">
                        <div class="bet-runs-details">
                          <div class="input-box-main">
                            <div class="input-group">
                              <input type="button" value="-" class="button-minus" data-field="quantity" />
                              <input type="nobar" disabled #maxOddsSelect (click)="maxOddsSelect.select()" id="{{fancy.fancyId + i}}_oddsInput" class="form-control quantity-field disabled" value="1" min="1">
                              <input type="button" value="+" class="button-plus" data-field="quantity" />
                            </div>
                            <div class="input-group">
                              <input type="button" value="-" (click)="substract(fancy.fancyId, i , '_stackInput', '')" class="button-minus" data-field="quantity" />
                              <input type="nobar" #maxStackSelect (click)="maxStackSelect.select()" id="{{fancy.fancyId + i}}_stackInput" (keyup)="calculateExposerOnkey($event.target.value , fancy.fancyId ,i)" class="form-control quantity-field" min="1" max="1000000" placeholder="Stake">
                              <input type="button" value="+" (click)="addition(fancy.fancyId, i , '_stackInput', '')" class="button-plus" data-field="quantity" />
                            </div>
                          </div>
                          <div *ngIf="currencyAll" class="price-btn-box-main">
                            <div class="priche-box-ma">
                              <div class="currency-btn-group">
                              <div *ngFor="let ite of currencyAll.buttons; let k = index" class="price-btn-padding">
                                <a class="price-btn" id="btn{{k}}" (click)="placeRateValue($event , fancy.fancyId , i)" [attr.data-val]="ite.value">{{ite.name}}</a>
                              </div>
                              </div>
                              <div class="price-btn-padding mobel-ui-price-bet destop-ui-Place">
                                <a class="price-btn bet-box bet-bg-color"  id="placebet" (click)="placeBet($event,'web', fancy.fancyId , i, fancy.fancyId)">Place bet</a>
                              </div>
                              <div class="price-btn-padding mobel-ui-price-bet cancel-btn">
                                <a class="price-btn bet-box" (click)="cancelBtn()">Cancel</a>
                              </div>
                              <div class="price-btn-padding mobel-ui-price-bet mobel-ui-Place">
                                <a class="price-btn bet-box bet-bg-color"  id="placebet" (click)="placeBet($event,'web', fancy.fancyId , i, fancy.fancyId)">Place bet</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <ngx-spinner
                          bdColor="rgba(0,0,0,0.5)"
                          size="small"
                          color="rgba(0,0,0,0)"
                          [fullScreen]="false"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgba(241, 242, 243, 0); display: block;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                              <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
                            </circle>
                          </svg>
                          <p style="color: white; width: 100%; display: flex">Please wait...</p>
                        </ngx-spinner>
                      </div>
                        <div [ngStyle]="{'display' : (fancy.message) ? ' flex' : 'none'}" class="match-team-name-price-main men-box-message" id="{{fancy.fancyId}}_message">
                          <h2 class="match-massage"><i class="fas fa-bullhorn"></i> {{fancy.message}}</h2>
                        </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>\
        </div>
        </ng-container>
        </div>
      </div>
      <div class="col-xl-3 col-12 bx-desktop-ui-3 m-0 p-0 tab-pane " id="betS">
        <div class="matched-bet tv-opne-desktop">
          <div class="hading-box tv-live-switch-bat">
            <p class="p-0 m-0">Live tv</p>
            <label class="switch"><input type="checkbox" /><span (click)="showMe()" class="slider round hide-on"></span></label>
          </div>
          <div class="tv-opne">
            <div id="tv-men" class="mobileTv" >

            </div>
          </div>
        </div>
        <div class="matched-bet">
          <div class="hading-box">
            <p class="p-0 m-0">Matched bet <span class="coute-box">{{countTransactions}}</span></p>
          </div>
          <div class="scrollble-matched">
            <table class="default-table-style">
              <thead>
              <tr>
                <th class="text-left">Runner</th>
                <th class="text-right">Rate</th>
                <th class="text-right">Stake</th>
              </tr>
              </thead>

              <tbody>
              <ng-container class="matched-runner-bg-color" *ngIf="allTransactions.length > 0">
                <ng-container *ngFor="let transactions of allTransactions">
                  <tr [ngClass]="(transactions.runner_type=='back')? 'matched-runner-bg-color-detail':'matched-runner-bg-color-detail2' ">
                    <td class="text-left my-elips">
                      {{transactions.gameType == 'market' ? transactions.team[0].runnerName : transactions.gameType == 'line' ? transactions.lineName[0] : transactions.gameType == 'bookmaker' ? transactions.team[0].runnerName + '/BM' : transactions.gameType == 'Winner'
                      ? transactions.team[0].runnerName : transactions.fancyName[0] +'/'+ transactions.volume}}
                    </td>

                    <td class="text-right">{{transactions.odds}}</td>
                    <td class="text-right">{{transactions.rate}}</td>

                    <!--<span class="toolti-new-ptexta "> <span class="toolti-text">{{transactions.gameType == 'market' ? transactions.team[0].runnerName : transactions.gameType == 'line' ? transactions.gameDetail[0].lineName : transactions.gameType == 'bookmaker' ? transactions.team[0].runnerName + '/BM' : transactions.gameType == 'Winner'-->
                                                        <!--? transactions.team[0].runnerName : transactions.gameDetail[0].fancyName +'/'+ transactions.volume}}</span>-->
                                                    <!--<p class="m-0 text-right">{{transactions.betTime | date : 'dd/MM/yyyy hh:mm:ss a'}}</p>-->
                                                    <!--</span>-->
                  </tr>
                </ng-container>
              </ng-container>
              <!--<tr class="matched-runner-bg-color-detail">-->
                <!--<td data-label="Runner" class="text-left">Perth Scorchers</td>-->
                <!--<td data-label="Rate" class="text-right">4.1</td>-->
                <!--<td data-label="stake" class="text-right">1000</td>-->
              <!--</tr>-->
              <!--<tr class="matched-runner-bg-color-detail2">-->
                <!--<td data-label="Runner" class="text-left">SYDNEY SIXERS</td>-->
                <!--<td data-label="Rate" class="text-right">3.1</td>-->
                <!--<td data-label="stake" class="text-right">1000</td>-->
              <!--</tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" bsModal #chart="bs-modal" [config]="{}" id="Chips_Settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{chartFancyName}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div>

        <div class="modal-body  model-max-height">
          <table class="default-table-style black-color-table">
            <thead>
            <tr class="">
              <th class="text-start">Run</th>
              <th class="text-end"> Amount</th>
            </tr>
            </thead>
            <ng-container *ngIf="chartAry.length > 0">
              <ng-container *ngFor="let chart of chartAry">
                <tbody>
                <tr>
                  <td [ngClass]="chart.amount < 0 ? 'font-color-danger text-start' : 'font-color-success text-start'">{{chart.number}}</td>
                  <td class="text-end" *ngIf="chart.amount < 0" [ngClass]="chart.amount < 0 ? 'font-color-danger ' : ''">{{chart.amount}}</td>
                  <td class="text-end" *ngIf="chart.amount >= 0" [ngClass]="chart.amount  >= 0 ? 'font-color-success' : ''">{{chart.amount}}</td>
                </tr>
                </tbody>
              </ng-container>
            </ng-container>
          </table>
          <ng-container *ngIf="chartAry && chartAry.length == 0">
            <div class=" f-size text-center">Record not found</div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</section>
