

@media (min-width: 992px) and (max-width: 1400px){
.main-content {
  width: calc(100% - 240px);
}
}
.scorecard {
  overflow: hidden !important;
}
.ball-runs.four , .lastball-runs.four{
  background: #ffc11c;
  color: #000!important;
}
.ball-runs.six , .lastball-runs.six {
  background: #087f23;
}
.ball-runs.w , .lastball-runs.w {
  background: #7f1704;
}
.commentary {
  color: #ffc11c;
  font-size: 12px;
}

// add---------------------
.details-content .nav-tabs-bas {
  border-bottom: none;
  display: none;
}


.tab-menu-sport {
  width: 100%;
  display: inline-block;
  margin: 0;

}

.tab-content #betS {
  display: block;
}

.details-content .nav-tabs-bas .nav-tabs {
  display: flex !important;
  justify-content: center !important;
  overflow: auto hidden;
  flex-wrap: nowrap;
  .nav-link {
    border: none;
    border-radius: 2px;
    padding: 4px 4px;
    margin: 1px 0px 6px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    color: #ba1013;
    font-weight: bold;
    transition: all 0.3s linear;
    margin-right: 2px;
    border: 1px solid #ba1013;
    background-color: #fff;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.active {
      border: 1px solid #ba1013;
      color: #fff;
      background-color: #ba1013;
  }
    img {
        width: 18px;
        height: auto;
        object-fit: contain;
    }
}

}
@media screen and (max-width: 992px){
.details-content .nav-tabs-bas {
    display: block;
}
.details-content .tab-content #betS{
  display: none;
}
.details-content .tab-content .active#betS {
  display: block !important;
}

}