<section class="main-content report-content">
  <div class="row p-0 m-0 ">
    <div class="col-lg-12 p-2 m-0 ">
    </div>
  </div>
  <div class="hading-box mb-3">
    <p class="m-0 p-0" (click)="exploserData()"> <i class="fas fa-redo"></i> Exposer Details</p>

  </div>
  <div class="report-right-side-icon d-inline-block float-right">
      <input type="text" class="mycus_src" autocomplete="off" [(ngModel)]="searchText" name="search"  placeholder="Search User...">
  </div>
    <ng-container *ngFor="let exp of exposureData | filter : searchText; let i = index;">
      <div class="accordion exposer-box ">
        <div class="accordion-item mb-2">
          <button class="accordion-button exposer-box-but" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <div class="bat-font-hading">
              <div class="export-deta-box">{{exp && exp.sportName.substring(0, exp.sportName.indexOf('(')) ? exp.sportName.substring(0, exp.sportName.indexOf('(')) : exp.sportName }} : {{exp && exp.matchNm.substring(0, exp.matchNm.indexOf('(')) ?  exp.matchNm.substring(0, exp.matchNm.indexOf('(')) : exp.matchNm }}</div>
              <div class="export-date">{{exp && exp.startTime ? (exp.startTime[0] | date: 'dd-MM-yy hh:mm:ss a') : '-' }}</div>
            </div>
          </button>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
               aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body p-0 m-0">
              <div class="row p-0 m-0 ">
                <div *ngFor="let item of exp.doc" class="col-lg-6 mt-2">
                  <table class="default-table-style  accounta-peg-me mb-2">
                    <thead>
                    <tr class="">
                      <th class="text-start" colspan=" 2">{{item.market}}</th>
                      <th class="text-end">Total bets</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let ite of item.data" class="stock-market-table-bg-color ">
                      <td class="text-left mycustom" (click)="redirection(ite)">{{ite.gameName.substring(0, ite.gameName.indexOf('(')) ? ite.gameName.substring(0, ite.gameName.indexOf('(')) : ite.gameName }}</td>
                      <td class="text-center w-20 debit-color customeTd">{{ite.amount}}</td>
                      <td class="text-right w-10 ">{{ite.transaction}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
</section>


