@media all and (max-width: 786px) {
  .mobile-none {
    display: none;
  }
  .default-table-style tr th{
    border: none;
  }
  .myclscl .mycustom {
    padding: 3px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
  }
  .mycus_src {
    max-width: 150px;
  }
}
.refresh-img img{
  height: 20px;
  width: 20px;
}
.mycus_src {
  background-image: url(../../../assets/images/searchicon.png);
  background-position: 13px 9px;
  background-size: 15px;
  background-repeat: no-repeat;
  outline: none;
  border: 1px solid #97979761;
  border-radius: 6px;
  padding: 7px 1rem;
  font-size: 12px;
  color: #313131;
  width: 100%;
  -webkit-appearance: none;
  position: relative;
  background: #fff;
  float: right;
}

.w-10{
  width: 60px;
}
.w-20{
  width: 100px;
}
.debit-color {
  color: #f1031a!important;
}


